 #page .l-inner {
     width: 950px;
 }
 
 #page .s-campaign-hero {
     padding: 0;
     background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/books300/img/bg.gif) repeat center top/auto 84.5%;
     position: relative;
 }
 
 #page .s-campaign-hero:after {
     content: "";
     background: black;
     width: 100%;
     height: 50px;
     position: absolute;
     bottom: 0;
 }
 
 #page .s-campaign-hero .campaign-hero__schedule {
     z-index: 1;
     position: relative;
 }
 
 #page #books-cmp {
     background: #EBEBEB;
 }
 
 #page #books-cmp .l-inner>figure {
     margin: 3.2rem auto;
     text-align: center;
 }
 
 #page .heading--m {
     margin: 3.2rem auto 2.2rem;
     line-height: 1.5em;
     color: #4D4D4D;
 }
 
 #page #campaign-steps .l-inner>ol>li {
     padding: 4rem;
     margin: 3.2rem 0;
     position: relative;
     background: white;
     border-radius: 12px;
     box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14);
 }
 
 #page #campaign-steps .l-inner>ol>li .batch {
     position: absolute;
     width: 120px;
     height: 120px;
     top: 20px;
     right: 20px;
 }
 
 #page #campaign-steps .l-inner>ol>li .batch img {
     width: 100%;
 }
 
 #page #campaign-steps .l-inner>ol>li>h3 {
     margin: 0 0 2rem;
     font-size: 3rem;
     position: relative;
     color: #001D6D;
 }
 
 #page #campaign-steps .l-inner>ol>li>h4 {
     margin: 4rem 0 2rem;
 }
 
 #page #campaign-steps .l-inner>ol>li p {
     text-align: center;
     line-height: 1.5em;
 }
 
 #page #campaign-steps .l-inner>ol>li p.lead {
     margin: 1.6rem auto !important;
     font-size: 2rem;
     line-height: 3.2rem;
 }
 
 #page #campaign-steps .l-inner>ol>li p.lead strong {
     color: black;
 }
 
 #page #campaign-steps .l-inner>ol>li p.lead span {
     font-weight: bold;
     color: red;
 }
 
 #page #campaign-steps .l-inner>ol>li .trial-btn {
     width: 400px;
     height: 100px;
     margin: 0 auto;
     background: #bf0000;
     border-radius: 10px;
     transition: all 0.2s;
 }
 
 #page #campaign-steps .l-inner>ol>li .trial-btn a {
     display: block;
     width: 100%;
     height: 100%;
     text-decoration: none;
     position: relative;
     box-sizing: border-box;
     color: white;
     text-align: center;
     line-height: 100px;
     font-size: 2rem;
 }
 
 #page #campaign-steps .l-inner>ol>li .trial-btn:hover {
     background: #ff1212;
     box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
 }
 
 #page #campaign-steps .l-inner>ol>li .trial-btn+p {
     margin: 1.25rem 0 0;
     line-height: 1.25em;
 }
 
 #page #campaign-steps .l-inner>ol>li .campaign-code-steps {
     margin-bottom: 48px;
 }
 
 #page #campaign-steps .l-inner>ol>li .campaign-code-steps li p {
     text-align: left;
 }
 
 #page #campaign-steps .l-inner>ol>li .howtoget>div figure {
     width: 250px;
     margin: 0 auto;
 }
 
 #page #campaign-steps .l-inner>ol>li .howtoget>div figure img {
     width: 100%;
 }
 
 #page #campaign-steps .l-inner>ol>li .howtoget>div figure+p {
     margin-top: 1em;
 }
 
 #page #campaign-steps .l-inner>ol>li .code {
     display: flex;
     width: 600px;
     margin: 1.5rem auto;
 }
 
 #page #campaign-steps .l-inner>ol>li .code>div {
     padding: 1rem;
     text-align: center;
 }
 
 #page #campaign-steps .l-inner>ol>li .code>div:first-child {
     background: #001D6D;
     color: white;
     border: 2px solid #001D6D;
     width: 40%;
 }
 
 #page #campaign-steps .l-inner>ol>li .code>div:last-child {
     border: 2px solid #001D6D;
     flex: 1;
 }
 
 #page #campaign-steps .l-inner>ol>li .code-steps {
     margin-bottom: 30px !important;
 }
 
 #page #campaign-steps .l-inner>ol>li .code-steps li {
     margin: 0 1rem;
 }
 
 #page #campaign-steps .l-inner>ol>li .code-steps li h3 {
     margin: 0;
     background: #00173d;
     color: white;
     border-radius: 10px;
     text-align: center;
     padding: 1rem 0;
 }
 
 #page #campaign-steps .l-inner>ol>li .code-steps li figure {
     margin: 1.2rem 0 0.6rem;
 }
 
 #page #campaign-steps .l-inner>ol>li .code-steps li figure img {
     width: 100%;
 }
 
 #page #campaign-steps .l-inner>ol>li .code-steps li p {
     text-align: justify;
     font-size: 1.4rem;
 }
 
 #page #campaign-steps .l-inner>ol>li .code-steps+p {
     margin: 4rem 0 0;
 }
 
 #page #campaign-steps .l-inner>ol>li .slick-arrow::before {
     color: black;
 }
 
 #page #campaign-steps .l-inner>ol>li .slick-dots {
     margin-top: -2rem;
 }
 
 #page #campaign-steps .l-inner>ol>li .slick-dots li {
     margin: 0;
 }
 
 #page #campaign-steps .l-inner>ol>li .slick-dots li button::before {
     content: initial;
 }
 
 #page #campaign-steps .l-inner>ol>li .anker-link {
     display: flex;
     margin: 1.6rem auto;
     justify-content: center;
 }
 
 #page #campaign-steps .l-inner>ol>li .anker-link .books-link {
     display: block;
     margin: 0 0.8rem;
     padding: 10px 27px;
     border: 2px solid #001D6D;
     box-sizing: border-box;
     border-radius: 40px;
     width: 260px;
     color: #001D6D;
     font-size: 2rem;
     font-weight: bold;
     position: relative;
 }
 
 #page #campaign-steps .l-inner>ol>li .anker-link .books-link .fa-chevron-down {
     position: absolute;
     top: 15px;
     right: 16px;
 }
 
 #page #campaign-steps .l-inner>ol>li .anker-link .books-link:hover {
     background: #001D6D;
     color: white;
 }
 
 #page #books-items {
     padding: 2rem;
 }
 
 #page .item-list {
     justify-content: center;
     margin: 3.2rem auto;
 }
 
 #page .item-list .item__list {
     margin: 0 auto;
     justify-content: center;
 }
 
 #page .item-list .item__card__image {
     width: 160px;
 }
 
 #page .item-list .item__card {
     margin: 0;
     padding: 0 1rem;
     width: auto;
 }
 
 #page #items-cd.item-list .item__card__title {
     color: black;
 }
 
 #page .s-recommend-list .l-inner h2.head-books-ttl {
     width: 540px;
     background: #001D6D;
     color: white;
     box-sizing: border-box;
     text-align: center;
     border-radius: 40px;
     margin: 0 auto;
     padding: 10px 27px;
 }
 
 #page .item-list .item__card figure figcaption a {
     display: block;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 
 #page .item-list .item__card figure figcaption a+p {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 
 #page .item-list .item__card figure figcaption p b {
     color: red;
 }
 
 #page .item-list .item__card__image>a {
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }
 
 #page #mission {
     background: #f7f7f7;
 }
 
 #page #mission .l-inner>section.use>h2.heading {
     margin: 0 auto 3.2rem;
 }
 
 #page #mission .l-inner>section.use>figure {
     width: 212px;
     height: 159px;
     margin: 3.2rem auto;
 }
 
 #page #mission .l-inner>section.use>figure img {
     width: 100%;
 }
 
 #page #mission .l-inner>section.use>p {
     text-align: center;
     margin: 1.6rem auto;
 }
 
 #page #mission .l-inner>section.use>p strong {
     color: #bf0000;
 }
 
 #page #mission .l-inner>section.use>p:last-of-type {
     left: 253px;
     top: 375px;
     color: #686868;
 }
 
 @media screen and (max-width: 960px) {
     #page .l-inner {
         width: 100%;
     }
 }
 
 @media screen and (min-width: 768px) {
     #page .item-list .item__card:nth-of-type(6),
     #page .item-list .item__card:nth-of-type(7),
     #page .item-list .item__card:nth-of-type(8),
     #page .item-list .item__card:nth-of-type(9),
     #page .item-list .item__card:nth-of-type(10) {
         display: none;
     }
 }
 
 @media screen and (max-width: 768px) {
     #page section {
         padding: 1.6rem 0;
     }
     #page .heading--m {
         margin: 3.2rem 1.6rem 2.2rem;
     }
     #page #campaign-steps .l-inner>ol>li p {
         text-align: left;
     }
     #page #books-cmp .l-inner>figure img {
         width: 400px;
     }
     #page #campaign-steps {
         padding: 2rem 0;
     }
     #page #campaign-steps .l-inner>ol>li {
         padding: 4rem 2rem;
     }
     #page #campaign-steps .l-inner>ol>li .batch {
         width: 26vw;
         height: 26vw;
         top: -4vw;
         right: 4vw;
     }
     #page #campaign-steps .l-inner>ol>li p.lead {
         font-size: 1.6rem;
         line-height: 2.4rem;
     }
     #page #campaign-steps .l-inner>ol>li .trial-btn {
         width: 100%;
     }
     #page #campaign-steps .l-inner>ol>li .trial-btn a {
         font-size: 4.2vw;
     }
     #page #campaign-steps .l-inner>ol>li .trial-btn+p {
         text-align: justify;
     }
     #page #campaign-steps .l-inner>ol>li .howtoget>div figure {
         width: 60%;
     }
     #page #campaign-steps .l-inner>ol>li .code {
         display: block;
         width: 100%;
     }
     #page #campaign-steps .l-inner>ol>li .code>div:first-child,
     #page #campaign-steps .l-inner>ol>li .code>div:last-child {
         width: 100%;
     }
     #page .slick-arrow {
         z-index: 1;
     }
     #page .slick-prev {
         left: -1.2rem;
     }
     #page .slick-next {
         right: -1.2rem;
     }
     #page .item-list .js-toggle__trigger {
         background: whitesmoke;
         margin: 2rem 0 0;
     }
     #page #campaign-steps .l-inner>ol>li .anker-link {
         display: block;
     }
     #page #campaign-steps .l-inner>ol>li .anker-link .books-link {
         width: 100%;
         margin: 1.6rem auto;
     }
     #page .s-recommend-list .l-inner h2.head-books-ttl {
         width: 100%;
     }
 }
 
 @media screen and (max-width: 450px) {
     #page #books-cmp .l-inner>figure img {
         width: 100%;
     }
     #page .item-list .item__card__image {
         width: 120px;
     }
 }