#page .s-campaign-hero {
  padding: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#234d59+0,2a5f6d+58,2a5f6d+80,000000+80,000000+100 */
  background: #234d59;
  /* Old browsers */
  background: -moz-linear-gradient(top, #234d59 0%, #2a5f6d 58%, #2a5f6d 81%, #252525 81%, #252525 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #234d59 0%, #2a5f6d 58%, #2a5f6d 81%, #252525 81%, #252525 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #234d59 0%, #2a5f6d 58%, #2a5f6d 81%, #252525 81%, #252525 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#page .s-campaign-hero .campaign-hero__schedule__note a {
  color: #fa9521;
}

#page #present-campaign-steps {
  background: #275765;
}

#page #present-campaign-steps .l-inner {
  color: white;
  padding: 2rem 0 4rem;
}

#page #present-campaign-steps .l-inner > ol > li {
  background: #fbebca;
  color: #275765;
  width: 94%;
  margin: 0 auto 2rem;
  padding: 2em 1em;
}

#page #present-campaign-steps .l-inner > ol > li h3 {
  font-size: 2.8rem;
  font-family: "Lilita One", cursive;
  padding-bottom: 0.5em;
  position: relative;
}

#page #present-campaign-steps .l-inner > ol > li h3::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #275765;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}

#page #present-campaign-steps .l-inner > ol > li h4 {
  margin: 2rem 0 !important;
}

#page #present-campaign-steps .l-inner > ol > li h4 + p {
  text-align: center;
}

#page #present-campaign-steps .l-inner > ol > li p {
  color: darkslategray;
}

#page #present-campaign-steps .l-inner > ol > li > p {
  color: darkslategray;
}

#page #present-campaign-steps .l-inner > ol > li > p strong {
  font-size: 1.5em;
  color: #fa9521;
}

#page #present-campaign-steps .l-inner > ol > li > p:last-of-type {
  text-align: center;
  margin: 1em 0 0;
}

#page #present-campaign-steps .l-inner > ol > li > p:last-of-type a {
  color: #fa9521;
}

#page #present-campaign-steps .l-inner > ol > li .btn-apply {
  margin: 2rem auto 0;
}

#page #present-campaign-steps .l-inner > ol > li .btn-apply .trial-btn {
  background: #bf0000;
  border-radius: 0.8rem;
}

#page #present-campaign-steps .l-inner > ol > li .btn-apply .trial-btn a {
  color: white;
  text-align: center;
  display: block;
  padding: 2em 0;
}

#page #present-campaign-steps .l-inner > ol > li .btn-apply .trial-btn + p {
  font-size: 1.2rem;
  margin-top: 1em;
}

#page #present-campaign-steps .l-inner > ol > li .target h4 {
  text-align: center;
  border: 1px solid #275765;
  margin: 2rem 0 !important;
}

#page #present-campaign-steps .l-inner > ol > li .target figure {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: wrap;
}

#page #present-campaign-steps .l-inner > ol > li .target figure img {
  width: 50%;
  height: auto;
}

#page #present-campaign-steps .l-inner > ol > li .target figure + p {
  text-align: center;
  font-weight: bold;
  padding-top: 0.5em;
}

#page #present-campaign-steps .l-inner > ol > li .target figure + p small {
  font-weight: normal;
}

#page #present-campaign-steps .l-inner > ol > li .btn-ticket {
  width: 100%;
  margin: 2rem auto;
}

#page #present-campaign-steps .l-inner > ol > li .btn-ticket a {
  display: block;
  background: #bf0000;
  color: white;
  padding: 1em;
  border-radius: 1.2rem;
  text-align: center;
}

#page #howtobox .l-inner ul .slick-arrow {
  z-index: 999;
}

#page #howtobox .l-inner ul .slick-arrow::before {
  color: black;
}

#page #howtobox .l-inner ul .slick-prev {
  left: 0;
}

#page #howtobox .l-inner ul .slick-next {
  right: 0;
}

#page #howtobox .l-inner ul .slick-dots {
  margin: 0 auto 6rem;
}

#page #howtobox .l-inner ul .slick-dots li button:before {
  content: initial;
}

#page #howtobox .l-inner ul li:nth-of-type(even) > div::before {
  content: "01";
}

#page #howtobox .l-inner ul li:nth-of-type(odd) > div::before {
  content: "02";
}

#page #howtobox .l-inner ul li > div {
  position: relative;
}

#page #howtobox .l-inner ul li > div::before {
  font-family: "Lilita One", cursive;
  font-size: 6rem;
  position: absolute;
  color: #275765;
}

#page #howtobox .l-inner ul li img {
  width: 50%;
  margin: 0 auto;
}

#page #howtobox .l-inner ul li p {
  margin: 1em 0 0;
}

@media screen and (min-width: 768px) {
  #page #present-campaign-steps .l-inner > ol > li {
    padding: 3em;
  }
  #page #present-campaign-steps .l-inner > ol > li .btn-apply .trial-btn {
    width: 400px;
    margin: 0 auto;
    transition: all 0.2s ease-in;
  }
  #page #present-campaign-steps .l-inner > ol > li .btn-apply .trial-btn:hover {
    background: #ff1212;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #page #present-campaign-steps .l-inner > ol > li .btn-apply .trial-btn + p {
    text-align: center;
  }
  #page #present-campaign-steps .l-inner > ol > li .target h4 {
    width: 80%;
    margin: 2rem auto !important;
  }
  #page #present-campaign-steps .l-inner > ol > li .target figure {
    width: 300px;
  }
  #page #present-campaign-steps .l-inner > ol > li .target figure img {
    width: 50%;
  }
  #page #present-campaign-steps .l-inner > ol > li .btn-ticket {
    width: 400px;
  }
  #page #howtobox .l-inner ul li img {
    width: 300px;
  }
  #page #howtobox .l-inner ul li p {
    text-align: center;
  }
  #page #howtobox .l-inner ul li > div::before {
    top: 10%;
    left: 20%;
  }
}
