#page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
#page .select-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;
  gap: 16px;
}
#page .select-options label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border: 2px solid black;
  border-radius: 16px;
  position: relative;
}
#page .select-options label img {
  width: 48px;
  height: 48px;
}
#page .select-options label .op-ttl {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  flex: 1;
}
#page .select-options label .op-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex: 1 0 0;
}
#page .select-options label .op-group .op-num {
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 125%;
}
#page .select-options label .op-group .op-num .op-str {
  font-size: 32px;
  font-style: normal;
  font-weight: 450;
  line-height: 125%;
}
#page .select-options label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid black;
  border-radius: 24px;
}
#page .select-options label input[type=radio] {
  display: none;
}
#page .select-options label.selected {
  border: 2px solid #BF0000;
}
#page .select-options label.selected::before {
  border: 3px solid #BF0000;
}
#page .select-options label.selected::after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: #BF0000;
  border-radius: 10px;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
}
#page .input-text {
  padding: 1em;
  font-size: 14px;
  border: 1px solid #BF0000;
  border-radius: 8px;
}
#page .btn-entry {
  padding: 12px 24px;
  width: 100%;
  background: #BF0000;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: white;
}
#page .newyear-campaign-steps--inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#page .newyear-campaign-steps--inner p.small {
  color: var(--Gray-1000, #000);
  text-align: center;
  /* Caption JP - 12px/Regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

@media screen and (min-width: 767px) {
  #page form {
    gap: 24px;
  }
  #page .select-options {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
  }
  #page .select-options label {
    width: 370px;
  }
  #page .select-options label img {
    width: 64px;
    height: 64px;
  }
  #page .select-options label .op-ttl {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  #page .input-text {
    width: 300px;
    margin: 0 auto;
  }
  #page .btn-entry {
    display: flex;
    width: 400px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background: var(--Red-Logo-800, #BF0000);
    color: var(--White, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    transition: all 0.2s ease-in;
  }
  #page .btn-entry:hover {
    background: #ff1212;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}/*# sourceMappingURL=entry.css.map */