#page .slick-dots {
  margin: 0 auto;
}
#page .slick-dots li button:before {
  content: none;
}
#page .slick-arrow {
  z-index: 1;
}
#page .slick-prev:before,
#page .slick-next:before {
  color: black;
}
#page .slick-prev {
  left: 20px;
}
#page .slick-next {
  right: 20px;
}
#page .flxbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
#page .rk-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  gap: 32px;
}
#page .rk-section h2 img {
  width: auto;
  height: 24px;
}
#page .anchor_blue {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  background: #4B93FF;
}
#page .anchor_blue .anchor-links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
#page .anchor_blue .anchor-links > li > a {
  display: flex;
  width: 158px;
  padding: 8px 8px 8px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background: var(--White, #FFF);
}
#page .anchor_blue .anchor-links > li > a > img {
  width: auto;
  height: 10px;
}
#page .anchor_blue .anchor-links > li > a::after {
  content: "";
  display: block;
  width: 24px;
  height: 16px;
  background: url(/assets/news/podcast/kpop-2plus1/img/icon_arrow_down_blue.png) no-repeat center/contain;
  flex: none;
}
#page .rk-section.yellow {
  background: #FFF2A6;
}
#page .rk-section.lightblue {
  background: #C8DFFF;
}
#page .rk-section.orange {
  background: #FFC027;
}
#page .rk-section.red {
  background: #F15942;
}
#page .rk-section > div {
  background: #FFFFFF;
  border-radius: 32px;
}
#page .about-kpop-2plus1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 32px;
}
#page .about-kpop-2plus1 .about-kpop-2plus1--img {
  width: 160px;
}
#page .about-kpop-2plus1 .about-kpop-2plus1--txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
}
#page .about-kpop-2plus1 .about-kpop-2plus1--txt p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
#page .about-kpop-2plus1 .about-kpop-2plus1--txt p.lead {
  font-size: 20px;
  line-height: 26px;
}
#page .about-kpop-2plus1-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;
}
#page .about-kpop-2plus1-editor .about-kpop-2plus1-editor_matsu,
#page .about-kpop-2plus1-editor .about-kpop-2plus1-editor_mochii {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page .about-kpop-2plus1-editor .about-kpop-2plus1-editor--img {
  width: 130px;
  display: flex;
}
#page .about-kpop-2plus1-editor .about-kpop-2plus1-editor--txtimg {
  display: flex;
  padding: 16px;
}
#page #link-latest-episodes ul.list-episodes > li {
  display: flex;
  width: 327px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  background: var(--White, #FFF);
}
#page #link-latest-episodes ul.list-episodes > li .ttl-group {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
#page #link-latest-episodes ul.list-episodes > li .ttl-group p.number {
  color: #000;
  /* JP Header Medium 24px/Bold */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}
#page #link-latest-episodes ul.list-episodes > li .ttl-group p.title {
  flex: 1 0 0;
  color: #000;
  /* JP Body Large 16px/Bold */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho h3,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii h3 {
  margin: 0;
  /* JP Body Small 12px/Bold */
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 133.333% */
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_comment,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_comment img,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_comment img {
  width: 56px;
  height: 56px;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_comment p,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_comment p {
  flex: 1 0 0;
  align-self: stretch;
  color: #000;
  /* JP Body Small 12px/Regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_item,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_item .item,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_item .item {
  display: flex;
  width: 239px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #FFF;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_item .item img,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_item .item img {
  width: 56px;
  height: 56px;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_item .item p.recommend_item_ttl,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_item .item p.recommend_item_ttl {
  flex: 1;
  align-self: stretch;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
  text-decoration-line: underline;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_item > a,
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_item > a {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 36px;
  color: #FFF;
  /* JP Body Medium 14px/Bold */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho {
  background: #EBF3FF;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho h3 {
  color: #2A73E0;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho > a {
  background: #2A73E0;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_bancho .recommend_item > a {
  background: #2A73E0;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii {
  background: #FEF0FD;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii h3 {
  color: #DA29C9;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_mochii .recommend_item > a {
  background: #DA29C9;
}
#page #link-latest-episodes ul.list-episodes > li .recommend_item a {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 36px;
}
#page .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 32px;
}
#page .profile .img {
  width: 160px;
}
#page .profile .profile-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}
#page .profile .profile-txt .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
#page .profile .profile-txt .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
#page .profile .profile-txt .about .name {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}
#page .profile .profile-txt .about .sub {
  font-size: 16px;
  line-height: 24px;
}
#page .profile .profile-txt .desctiption {
  font-size: 14px;
  line-height: 20px;
}
#page .profile table tbody tr td {
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}
#page .profile table tbody tr td:first-child {
  width: 48px;
}
#page .playback-steps .playback-steps--inner img {
  width: 180px;
  margin: 0 auto;
}
#page #link-steps .flxbox {
  padding: 24px 24px 16px;
}
#page #link-steps h2,
#page #link-steps h3 {
  text-align: center;
  margin: 0;
}
#page #link-steps h2 {
  color: #F15942;
  /* Mobile Display 4 JP 24px/Bold */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  /* 129.167% */
}
#page #link-steps h3 {
  color: #000;
  /* H2 JP - 20px/Bold */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 130% */
}
#page #link-steps p {
  color: #000;
  text-align: center;
  /* Body 2 JP - 14px/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
#page #link-steps p.lead {
  color: #000;
  text-align: center;
  /* H2 JP - 20px/Bold */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 130% */
}

@media screen and (min-width: 767px) {
  #page .s-campaign-hero {
    background: url(/assets/news/podcast/kpop-2plus1/img/bg.png) no-repeat center/cover;
  }
  #page .anchor_blue {
    background: #4B93FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
  }
  #page .anchor-links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  #page .anchor-links > li {
    width: -moz-fit-content;
    width: fit-content;
  }
  #page .anchor-links > li > a::after {
    content: "";
    display: block;
    width: 24px;
    height: 16px;
    background: url(/assets/news/podcast/kpop-2plus1/img/icon_arrow_down_blue.png) no-repeat center/contain;
  }
  #page .anchor-links > li:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px #4B93FF;
    cursor: pointer;
  }
  #page .flxbox {
    gap: 32px;
  }
  #page #link-steps .flxbox {
    padding: 48px 0 32px;
  }
  #page #link-steps h2 {
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 130.435% */
  }
  #page #link-steps h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    /* 129.167% */
  }
  #page #link-steps p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }
  #page #link-steps p.lead {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    /* 129.167% */
  }
  #page .playback-steps {
    width: 870px;
    margin: 0 auto;
  }
  #page .playback-steps .slick-slide {
    position: relative;
  }
  #page .playback-steps .slick-slide:not(:last-child)::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 18px solid black;
    border-right: 0;
    position: absolute;
    top: 170px;
    right: -10px;
  }
  #page .playback-steps p {
    width: 180px;
    margin: 0 auto;
  }
  #page .rk-section {
    padding: 48px 0px;
  }
  #page .rk-section > div {
    width: 950px;
  }
  #page .about-kpop-2plus1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px;
    gap: 32px;
  }
  #page .about-kpop-2plus1 .about-kpop-2plus1--img {
    width: 320px;
  }
  #page .about-kpop-2plus1 .about-kpop-2plus1--txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
  }
  #page .about-kpop-2plus1 .about-kpop-2plus1--txt p {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }
  #page .about-kpop-2plus1 .about-kpop-2plus1--txt p.lead {
    font-size: 24px;
    line-height: 31px;
  }
  #page .about-kpop-2plus1-editor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 32px;
  }
  #page .about-kpop-2plus1-editor .about-kpop-2plus1-editor_matsu,
  #page .about-kpop-2plus1-editor .about-kpop-2plus1-editor_mochii {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #page .about-kpop-2plus1-editor .about-kpop-2plus1-editor--img {
    width: 320px;
    display: flex;
  }
  #page .about-kpop-2plus1-editor .about-kpop-2plus1-editor--txtimg {
    display: flex;
    padding: 32px;
  }
  #page .about-kpop-2plus1-editor .about-kpop-2plus1-editor--txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
  }
  #page .about-kpop-2plus1-editor .about-kpop-2plus1-editor--txt p {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }
  #page .about-kpop-2plus1-editor .about-kpop-2plus1-editor--txt p.lead {
    font-size: 24px;
    line-height: 31px;
  }
  #page .latest-episodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 32px;
  }
  #page .latest-episodes h1 {
    font-size: 46px;
    line-height: 60px;
  }
  #page .latest-episodes p.lead {
    font-size: 20px;
    line-height: 26px;
  }
  #page .latest-episodes p.lead a:hover {
    text-decoration: none;
  }
  #page .latest-episodes ul.list-episodes {
    width: 100%;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #page .latest-episodes ul.list-episodes > li {
    width: 100%;
    padding: 32px;
    gap: 32px;
    justify-content: flex-start;
  }
  #page .latest-episodes ul.list-episodes > li .ttl-group {
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
  }
  #page .latest-episodes ul.list-episodes > li .number {
    font-size: 46px;
    line-height: 60px;
    flex: none;
  }
  #page .latest-episodes ul.list-episodes > li .title {
    font-size: 24px;
    line-height: 31px;
  }
  #page .latest-episodes ul.list-episodes > li.width-half {
    width: calc(50% - 16px);
  }
  #page .latest-episodes ul.list-episode {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px;
    gap: 32px;
  }
  #page .latest-episodes ul.list-episode > li {
    width: 100%;
  }
  #page .latest-episodes ul.list-episode > li a {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    gap: 32px;
  }
  #page .latest-episodes ul.list-episode > li a:hover {
    background: #FFF5CC;
  }
  #page .latest-episodes ul.list-episode > li a:hover p {
    text-decoration: none;
  }
  #page .latest-episodes ul.list-episode > li a .img {
    width: 128px;
  }
  #page .latest-episodes ul.list-episode > li a p {
    font-size: 16px;
    line-height: 24px;
  }
  #page .profile {
    flex-direction: row;
    align-items: flex-start;
    padding: 48px;
    gap: 32px;
  }
  #page .profile .img {
    width: 320px;
  }
  #page .profile .profile-txt .title {
    font-size: 24px;
    line-height: 31px;
  }
  #page .profile .profile-txt .about {
    gap: 16px;
  }
  #page .profile .profile-txt .about .name {
    font-size: 46px;
    line-height: 60px;
  }
  #page .profile .profile-txt .about .sub {
    font-size: 16px;
    line-height: 24px;
  }
  #page .profile .profile-txt .desctiption {
    font-size: 20px;
    line-height: 26px;
  }
  #page .profile .profile-txt table tbody tr td {
    font-size: 20px;
    line-height: 26px;
  }
  #page .profile .profile-txt table tbody tr td:first-child {
    width: 64px;
  }
  #page .cta {
    padding: 48px 0px;
    gap: 32px;
  }
  #page .cta p.lead {
    font-size: 24px;
    line-height: 31px;
  }
}/*# sourceMappingURL=style_2.css.map */