@charset "UTF-8";
/* ==============================================
  Article
============================================== */
#page .content-box .l-inner figure.content-box__image {
    width: 350px;
    float: left;
    margin: 0 30px 0 0;
}
#page .content-box .l-inner .content-box__text {
    margin: 90px 0 0;
    float: left;
}
#page .content-box .l-inner .content-box__text p {
    font-size: 18px;
}
#page .content-box .l-inner .content-box__text p strong {
    font-size: 45px;
}
#page .content-box:after {
    content: "";
    display: block;
    clear: both;
}
#page .item-list .item__card__title p {
    color: black;
}
#page .item-list .item__card__title p .discountRate {
    color: #bf0000;
    font-weight: bold;
}
#page #HTMLBlock761 #btn-apply {
    padding: 40px 0 0;
}
#page #HTMLBlock667 #btn-apply {
    padding: 40px 0 0;
}

@media screen and (max-width: 767px) {
#page .content-box {
    padding: 10vw 0 12vw;
}
#page .content-box .l-inner,
#page #cd-ranking .l-inner,
#page #dvd-ranking .l-inner{
    padding: 0 2.5vw;
}
    
    
/* ==============================================
    Article
  ============================================== */
#page .content-box .l-inner figure.content-box__image {
    width: 100%;
    float: none;
    margin: 0;
}
#page .content-box .l-inner .content-box__text {
    margin: 3.5vw 0 0;
    float: none;
}
#page .content-box .l-inner .content-box__text p {
    font-size: 4.1vw;
}
#page .content-box .l-inner .content-box__text p strong {
    font-size: 8.5vw;
}
}

/* ==============================================
  API
============================================== */
@media screen and (max-width: 767px) {
/* ==============================================
  itemApiArea
============================================== */
#page #cd-ranking .item-list .item__card,
#page #dvd-ranking .item-list .item__card {
    margin-top: 6vw;
    width: 45.5vw;
}
#page #cd-ranking .item-list .item__list,
#page #dvd-ranking .item-list .item__list {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between !important;
}
#page #cd-ranking .item-list .item__card__image,
#page #dvd-ranking .item-list .item__card__image {
    width: 100%;
}
#page #cd-ranking .item-list .item__card__image > a,
#page #dvd-ranking .item-list .item__card__image > a {
    display: block;
    height: 45.5vw;
    text-align: center;
}
}

/* ==============================================
  entry-button
============================================== */
@media screen and (max-width: 767px) {
#page #HTMLBlock761 #btn-apply {
    padding: 10vw 0 0;
}
#page #HTMLBlock667 #btn-apply {
    padding: 10vw 0 0;
}
}
