#page section {
    padding-top: 32px;
}

#page #campaign-apply,
#page #campaign-presents {
    background: #C4A425;
}

#page #campaign-apply {
    padding: 40px 0 0;
}

#page #merit .l-inner h2 {
    font-size: 24px;
}

#page #merit .l-inner>ol>li>.screenshot {
    background: #C4A425;
}

#page #campaign-apply .l-inner>h1 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

#page #campaign-apply .l-inner ol.steps>li {
    background: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#page #campaign-apply .l-inner ol.steps>li>h2 {
    width: 130px;
    margin: 32px auto 16px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    line-height: 42px;
}

#page #campaign-apply .l-inner ol.steps>li p {
    font-size: 16px;
    line-height: 24px;
    color: red;
}

#page #campaign-apply .l-inner ol.steps>li>.present {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    width: 50%;
    margin: 3.2rem auto;
    padding: 1.6rem;
}

#page #campaign-apply .l-inner ol.steps>li>.present>.present-song {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
}

#page #campaign-apply .l-inner ol.steps>li>.present>.present-song-ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: normal;
    color: #C4A425;
}

#page #campaign-apply .l-inner ol.steps>li>.present>.present-song-ttl>span {
    margin-left: 1.6rem;
    padding: 8px;
    background: #C4A425;
    color: white;
}

#page #campaign-apply .l-inner ol.steps>li p.lead,
#page .l-inner .apply p.lead {
    text-align: center;
    margin: 16px 0 8px;
    font-size: 20px;
    line-height: 26px;
    color: black;
    font-weight: bold;
}

#page #campaign-apply .l-inner ol.steps>li p.small {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: black;
}

#page .l-inner .apply p.small {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: white;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn,
#page .l-inner .apply .trial-btn {
    margin: 24px 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
    border-radius: 80px;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn {
    background: #C4A425;
}

#page .l-inner .apply .trial-btn {
    background: black;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn a,
#page .l-inner .apply .trial-btn a {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 80px;
}

#page .arrow {
    text-align: center;
    margin: 0 auto 40px;
    width: 87px;
}

#page .apply .l-inner h2 {
    color: white;
    text-align: center;
    font-size: 24px;
}


/* ------ STEP2 スライド ------- */

#page #campaign-apply .l-inner>button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#page #campaign-apply .l-inner ol .slick-mypage {
    width: 900px;
    margin: 0 auto;
}

#page #campaign-apply .l-inner ol .slick-slider {
    display: flex;
}

#page #campaign-apply .l-inner .slick-mypage figure+div p {
    color: #C4A425;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}

#page #campaign-apply .l-inner .slick-prev:before {
    content: "";
    display: block;
    width: 22px;
    height: 40px;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/artist/bts-be/img/left.png) no-repeat center/contain;
}

#page #campaign-apply .l-inner .slick-next:before {
    content: "";
    display: block;
    width: 22px;
    height: 40px;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/artist/bts-be/img/right.png) no-repeat center/contain;
}

@media screen and (max-width: 1150px) {
    #page .l-inner {
        margin: 0 auto;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    #page .s-campaign-hero {
        padding: 0;
        background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/artist/superbeaver/img/bg.jpg) no-repeat center top/auto 86.4% black;
    }
    #page .campaign-hero__schedule {
        position: relative;
        z-index: 1;
    }
    #page #campaign-apply .l-inner>h1 {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        color: white;
    }
    #page #campaign-apply .l-inner ol.steps {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #page #campaign-apply .l-inner ol.steps>li {
        box-sizing: border-box;
        margin: 32px auto;
        padding: 32px 0px;
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>h2 {
        margin: 0 auto 16px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        color: #C4A425;
    }
    #page #campaign-apply .l-inner ol.steps>li p {
        text-align: center;
    }
    #page #campaign-apply .l-inner ol.steps>li div.trial-btn,
    #page .l-inner .apply .trial-btn {
        margin: 24px auto;
        width: 343px;
        transition: all 0.2s ease-in;
    }
    #page #campaign-apply .l-inner ol.steps>li div.trial-btn:hover,
    #page .l-inner .apply .trial-btn:hover {
        opacity: 70%;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.1), 0px 4px 23px rgba(0, 0, 0, 0.06), 0px 12px 19px rgba(0, 0, 0, 0.07);
    }
    #page .item-list .item__list {
        justify-content: center;
    }
    #page #campaign-apply .l-inner .slick-mypage .slick-slide {
        min-height: 0;
        min-width: 0;
        display: flex;
        justify-content: center;
    }
    #page #campaign-apply .l-inner .slick-mypage .slick-slide figure {
        width: 300px;
    }
    #page #campaign-apply .l-inner .slick-mypage .slick-slide figure img {
        width: 100%;
    }
    #page #campaign-apply .l-inner .slick-mypage .slick-slide figure+div {
        align-self: center;
        padding: 42px;
    }
}

@media screen and (max-width: 768px) {
    #page #campaign-apply .l-inner>h1 {
        width: 210px;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner ol.steps>li {
        margin: 16px auto 32px;
        padding: 0 16px 30px;
    }
    #page #campaign-apply .l-inner ol.steps>li:last-child {
        margin: 16px auto 0;
    }
    #page #campaign-apply .l-inner ol .slick-mypage {
        width: 90%;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner .slick-mypage .slick-slide figure {
        width: 280px;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner .slick-mypage figure+div p {
        width: 75%;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner ol.steps>li>.present>.present-song-ttl {
        display: block;
        text-align: center;
        line-height: 50px;
    }
    #page #campaign-apply .l-inner ol.steps>li>.present {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    #page #campaign-apply .l-inner ol.steps>li p.lead,
    #page .l-inner .apply p.lead {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    #page #campaign-apply .l-inner ol.steps>li>p.present-song-ttl {
        text-align: center;
        display: block;
    }
    #page #campaign-apply .l-inner ol.steps>li>p.present-song-ttl>span {
        display: block;
        margin: 6px;
        margin-left: 0;
    }
}