/* 記事：音楽再生ブロック - メディアクエリ（PC表示） */
@media screen and (min-width: 767px) {
  .song-article-block {
    flex-direction: row;
  }
  .song-pic-area {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 12px;
  }
  .song-pic-area img {
    width: 170px !important;
    height: auto;
  }
  .song-desc-area {
    width: 100%;
  }
  .song-name {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}
