@media screen and (max-width: 768px) {
  #page .wrapper {
    background: #fffde6;
    padding: 0 0 1px;
  }
  #page .wrapper > h2 {
    background: #feee05;
    margin: 0;
    padding: 2rem 0;
  }
  #page .wrapper > ul {
    width: 90vw;
    margin: 0 auto;
  }
  #page .wrapper > ul li {
    background: white;
    border: 0.2rem solid black;
    padding: 2rem;
    margin: 4rem 0;
    position: relative;
  }
  #page .wrapper > ul li:not(:last-child)::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 3rem 0 3rem;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin-left: -3rem;
    bottom: -3rem;
  }
  #page .wrapper > ul li h3 {
    text-align: center;
    margin: 0 0 2rem;
    padding: 0;
    position: relative;
  }
  #page .wrapper > ul li h3::after {
    content: "";
    display: block;
    width: 3rem;
    height: 0.4rem;
    background: black;
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
    bottom: -1rem;
  }
  #page .wrapper > ul li p {
    text-align: center;
    margin: 1rem 0;
  }
  #page .wrapper > ul li .content-box {
    padding: 0;
  }
  #page .wrapper > ul li .btn-playlist {
    width: 100%;
    margin: 2rem 0 1rem;
  }
  #page .wrapper > ul li .btn-playlist a {
    display: block;
    text-align: center;
    background: green;
    color: white;
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: 0 0.75rem 0 0 darkgreen;
    position: relative;
  }
  #page .wrapper > ul li .btn-playlist a::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border: 0px;
    border-top: solid 0.3rem white;
    border-right: solid 0.3rem white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 2rem;
    margin-top: -0.5rem;
  }
  #page ._3Eti {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  #page ._3Eti::before {
    width: 2rem;
    height: 2rem;
    top: 1.2rem;
  }
  #page .rex-button__1ArV .rex-button__3n3I {
    width: 100%;
    padding: 2rem 0;
    height: auto;
    text-align: center;
  }
  #page .rex-button__1ArV .rex-button__3n3I.rex-button__27xO {
    font-size: 1.4rem;
    text-indent: 2rem;
  }
  #page .rex-button__1ArV .rex-button__3n3I.rex-button__32Uc {
    padding: 2rem;
    font-size: 2rem;
  }
  #page .rex-button__1ArV .rex-button__3n3I::before {
    width: 2rem;
    height: 2rem;
    left: 2rem;
  }
}
