/* Rpush!! Top
   ========================================================================== */
#page .rpush-hero__bg {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10);
  background: no-repeat center top;
  background-size: 100% auto;
}

@media screen and (min-width: 768px) {
  #page .rpush-hero__bg {
    background-size: auto 100%;
  }
}

#page .rpush-hero__bg svg {
  display: none;
}

/* Feature artist
   ========================================================================== */
#page .biography__bg {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10);
  background: no-repeat center top;
  background-size: 100% auto;
}

@media screen and (min-width: 768px) {
  #page .biography__bg {
    background-size: auto 100%;
  }
}

#page .biography__bg svg {
  display: none;
}
