#page .mno-inner {
    padding: 0 16px;
}

#page #about-rmobile p.small {
    font-size: 12px;
    line-height: 140%;
    color: #676767;
}

#page #about-rmobile p.small small {
    font-size: 100%;
}

#page #about-rmobile {
    padding: 32px 0;
}

#page #about-rmobile>h1+figure {
    margin-bottom: 24px;
}

#page .bu-cnp-bnr .slick-slide {
    margin: 0 8px;
}

#page .bu-cnp-bnr .slick-slide img {
    border: 1px solid #BFBFBF;
}

#page .bu-cnp-bnr .slick-dots li.slick-active button {
    border-color: #FF008C;
    background-color: #FF008C;
}

#page #about-rmobile .bu-cnp-bnr+.btn-secondly {
    margin-top: 16px;
}

#page #about-rmobile .cta-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    gap: 16px;
}

#page #about-rmobile .heading-mnopink {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 32px;
}

#page #about-rmobile .mno-inner {
    padding: 0 16px;
}

#page #about-rmobile .gap-16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#page #about-rmobile .cta-mobile a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    background: #FF008C;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    color: #FFFFFF;
}

#page #about-rmobile .cta-mobile a.cta-mobile-stroke {
    background: #FFFFFF;
    border: 1px solid #FF008C;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    color: #FF008C;
}

/*楽天モバイルご契約者様向けエンタメコンテンツ*/
#page #about-rmobile .l-content .bg-dark,
#page .l-content .bg-light {
    align-items: stretch;
}

#page #about-rmobile h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    margin: 32px auto 16px;
}

#page .cta-music {
    background: #BF0000;
}

#page .s-campaign-detail .js-toggle .js-toggle__panel {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100% !important;
}

#page .slick-dots {
    display: block;
    bottom: 0;
    margin: 16px 0 0;
}

#page .slick-dots li button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#page .slick-dots li button::before {
    display: none;
}

#page .slick-dotted.slick-slider {
    margin-bottom: 0;
}

#page .slick-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: auto;
    bottom: calc(50% - 32px);
    z-index: 1;
}

#page .slick-prev {
    left: -12px;
}

#page .slick-prev:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    opacity: 1;
}

#page .slick-next {
    right: -12px;
}

#page .slick-next:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    opacity: 1;
}

#page .cnp-apply-steps .slick-prev:before {
    background: url(/assets/campaign/2022/group/mobile/img/20220701/icon_caroucel_red_l.png) no-repeat center/cover;
}

#page .cnp-apply-steps .slick-next:before {
    background: url(/assets/campaign/2022/group/mobile/img/20220701/icon_caroucel_red_r.png) no-repeat center/cover;
}

#page .bu-cnp-bnr .slick-prev:before {
    background: url(/assets/campaign/2022/group/mobile/img/20220701/icon_caroucel_mnopink_l.png) no-repeat center/cover;
}

#page .bu-cnp-bnr .slick-next:before {
    background: url(/assets/campaign/2022/group/mobile/img/20220701/icon_caroucel_mnopink_r.png) no-repeat center/cover;
}

#page .btn-secondly {
    background: #FFFFFF;
    border: 1px solid #666666;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

#page .btn-secondly a {
    display: block;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #4D4D4D;
}

@media screen and (min-width: 767px) {
    #page .mno-inner {
        width: 1032px;
        margin: 0 auto;
    }

    #page #about-rmobile>h1+figure {
        text-align: center;
    }

    #page #about-rmobile .cta-mobile {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #page #about-rmobile .cta-mobile a {
        flex: 1;
    }

    #page #about-rmobile .cta-mobile+p.small {
        text-align: left;
    }

    #page .bu-cnp-bnr .slick-slide img {
        width: 100%;
    }

    #page .bu-cnp-bnr .slick-slide a {
        display: block;
    }

    #page .bu-cnp-bnr .slick-slide a:hover {
        opacity: 0.8;
    }

    #page #about-rmobile .bu-cnp-bnr+.btn-secondly {
        width: 290px;
        margin: 24px auto;
    }

    #page #about-rmobile .heading-mnopink {
        font-size: 46px;
        line-height: 60px;
        padding: 16px 0px;
        background: #FF008C;
        color: white;
    }

    #page #about-rmobile .mno-inner {
        width: 1032px;
        margin: 0 auto;
    }

    #page #about-rmobile .cta-mobile {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #page #about-rmobile .cta-mobile+p.small {
        text-align: left;
    }

    #page #mobile-other-services a {
        display: block;
        width: 640px;
        height: 150px;
        margin: 0 auto;
    }

    #page #mobile-other-services a img {
        width: 100%;
    }

    /*楽天モバイルご契約者様向けエンタメコンテンツ*/
    #page #about-rmobile .l-content .bg-dark,
    #page .l-content .bg-light {
        align-items: center;
    }
}