#page .btn-apply + p {
  font-size: 12px;
  line-height: 16px;
}

#page section {
  padding: 0;
}

#page h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #6A4B35;
  margin: 36px auto 24px;
}

#page h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #6A4B35;
}

#page strong {
  color: #bd0000;
}

#page .btn-apply {
  margin: 24px auto;
}

#page p.lead {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

#page .txt-center {
  text-align: center;
}

#page .slick-dots {
  top: 0;
  margin-top: 24px;
}

#page #sticky-apply-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page #sticky-apply-btn .btn-apply {
  margin: 0;
}

#page #sticky-apply-btn .btn-apply .trial-btn,
#page #sticky-apply-btn .btn-apply .iap-store-link {
  background: #D08667;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 60px;
}

#page #sticky-apply-btn .trial-btn::after {
  content: none;
}

#page #sticky-apply-btn .btn-copy-code {
  color: #D08667;
  border-color: #D08667;
}

#page .bg-pale-pink {
  background: #F8EDE4;
  padding: 36px 0px;
}

#page .bg-pale-pink h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #6A4B35;
  margin-bottom: 24px;
}

#page .article--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}

#page .article--wrapper .article--image {
  width: 160px;
}

#page .article--wrapper .article--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

#page .article--wrapper .article--text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #6A4B35;
}

#page .l-campaign-03 {
  margin-bottom: 36px;
}

#page section#ad-nav .l-inner::after {
  content: none;
}

#page section#ad-nav .l-inner > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 24px auto;
}

#page section#ad-nav .l-inner > ul > li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #B6B6B6;
}

#page section#ad-nav .l-inner > ul > li a {
  padding: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: black;
}

#page section#ad-nav .l-inner > ul > li a img {
  width: 60px;
}

#page section#ad-nav .l-inner > ul > li a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6A4B35;
}

#page section#ad-nav .l-inner > ul > li a::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(/assets/campaign/ad/img/20220926/icon_chevron_down.png) no-repeat center/cover;
}

#page section#fv {
  margin: 24px auto;
}

#page section#fv .l-inner > p a {
  color: #bd0000;
  text-decoration: underline;
}

#page section#ad-point-steps {
  margin-top: 36px;
}

#page section#ad-point-steps .l-inner .campaign-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border: 2px solid #D08667;
  border-radius: 8px;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: white;
}

#page section#ad-point-steps .l-inner .campaign-code p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #D08667;
}

#page section#ad-point-steps .l-inner .campaign-code p.campaign-code--code {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

#page section#ad-point-steps .l-inner .campaign-code .btn-copy-code {
  padding: 4px 16px;
  background: #D08667;
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
}

#page section#ad-point-steps .l-inner .white-wrapper {
  margin-top: 24px;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 24px;
}

#page section#ad-point-steps .l-inner .white-wrapper .trial-btn a {
  background: #BF0000;
  border-radius: 12px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

#page section#ad-point-steps .l-inner .white-wrapper .trial-btn + p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 12px auto;
}

#page #newplan-release {
  margin: 24px auto;
}

#page #ad-otoku h2 {
  padding: 8px 16px;
  margin: 24px auto 16px;
}

#page #campaign-merit {
  margin: 24px auto;
}

#page #campaign-merit .l-inner h2 {
  padding: 0;
  background: none;
}

#page #stack-playback-campaign {
  margin: 24px auto;
}

#page #stack-competitive-services strong {
  color: black;
}

#page #price {
  margin: 24px auto;
}

#page #price .l-inner h1 {
  display: none;
}

#page #price .l-inner .price-lead {
  display: none;
}

#page #price .l-inner strong {
  color: black;
}

@media screen and (min-width: 767px) {
  #page .btn-apply + p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  #page .s-campaign-hero {
    position: relative;
    background: url(/assets/campaign/ad/img/20220926/bg.jpg) no-repeat center top/auto 87% #F8EDE4;
  }
  #page .s-campaign-hero::after {
    content: '';
    width: 100%;
    height: 50px;
    background: #6A4B35;
    position: absolute;
    bottom: 0;
  }
  #page .s-campaign-hero .campaign-hero__schedule {
    position: relative;
    z-index: 1;
  }
  #page #sticky-apply-btn .btn-apply .trial-btn,
  #page #sticky-apply-btn .btn-apply .iap-store-link {
    font-size: 24px;
  }
  #page #sticky-apply-btn .btn-copy-code:hover {
    background-color: #D08667;
  }
  #page .bg-pale-pink h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
  }
  #page h2 {
    font-size: 40px;
    line-height: 52px;
  }
  #page .article--wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #page .article--wrapper .article--image {
    width: 240px;
  }
  #page .article--wrapper .article--image img {
    width: 100%;
  }
  #page .article--wrapper .article--text {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  #page .article--wrapper .article--text p {
    text-align: left;
  }
  #page .btn-apply {
    margin: 36px auto;
  }
  #page section#ad-nav .l-inner > ul {
    gap: 16px;
    margin: 36px auto;
  }
  #page section#ad-nav .l-inner > ul > li {
    width: 200px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page section#ad-nav .l-inner > ul > li:hover {
    background: #F7F7F7;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  #page section#ad-nav .l-inner > ul > li:hover a p {
    color: #D08667;
  }
  #page section#ad-nav .l-inner > ul > li a img {
    width: 80px;
  }
  #page section#ad-nav .l-inner > ul > li a p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
  }
  #page section#fv {
    margin: 36px auto 0;
  }
  #page section#fv .l-inner {
    margin: 36px auto;
  }
  #page section#fv .l-inner a:hover {
    text-decoration: none;
  }
  #page section#ad-point-steps .l-inner .campaign-code {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 8px 12px;
  }
  #page section#ad-point-steps .l-inner .campaign-code .btn-copy-code:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  #page section#ad-point-steps .l-inner .white-wrapper {
    padding: 36px;
  }
  #page section#ad-point-steps .l-inner .white-wrapper .trial-btn a {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  #page section#ad-point-steps .l-inner .white-wrapper .trial-btn + p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  #page #ad-otoku {
    padding: 0;
  }
  #page #ad-otoku h2 {
    padding: 18px 0 12px;
  }
  #page #stack-competitive-services {
    text-align: center;
  }
  #page #campaign-merit {
    margin: 36px auto;
  }
  #page #stack-playback-campaign {
    margin: 36px auto;
  }
  #page #price {
    margin: 36px auto;
  }
}
/*# sourceMappingURL=style_20220926.css.map */