#page .s-campaign-hero {
  padding: 0;
  background: url(https://music.r10s.jp/external/prod/assets/campaign/group/card/img/bg.jpg) no-repeat center top/auto 85.6% black;
}

#page .center {
  text-align: center;
}

#page br.sp {
  display: none;
}

#page #campaign-about {
  margin: 4rem 0 6rem;
}

#page #campaign-about .l-inner > div {
  background: white;
  margin: 0;
  position: relative;
  top: -4px;
  padding: 4rem !important;
  border: 3px solid;
}

#page #campaign-about .l-inner > div .trial-btn,
#page #campaign-about .l-inner > div .campaign-code-btn {
  width: 400px;
  height: 100px;
  margin: 2rem auto;
  background: #bf0000;
  border-radius: 10px;
  transition: all 0.2s;
}

#page #campaign-about .l-inner > div .trial-btn a,
#page #campaign-about .l-inner > div .campaign-code-btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
}

#page #campaign-about .l-inner > div .trial-btn a:after,
#page #campaign-about .l-inner > div .campaign-code-btn a:after {
  content: url(https://music.r10s.jp/external/prod/assets/campaign/common/img/arrow.svg);
  display: inline-block;
  width: 0.8rem;
  margin-left: 0.5em;
}

#page #campaign-about .l-inner > div .trial-btn:hover,
#page #campaign-about .l-inner > div .campaign-code-btn:hover {
  background: #ff1212;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

#page #campaign-about .l-inner > div .campaign-code-btn {
  height: 60px;
  background: black;
}

#page #campaign-about .l-inner > div .campaign-code-btn a {
  line-height: 60px;
  font-size: 1.6rem;
}

#page #campaign-about .l-inner > div .campaign-code-btn:hover {
  background: #333;
}

#page #campaign-about .l-inner > div p.laed {
  font-size: 2rem;
}

#page #campaign-about .l-inner > div p strong {
  font-size: 1.2em;
  color: red;
}

#page #campaign-code-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
}

#page #campaign-code-modal .click-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#page #campaign-code-modal .l-inner {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  padding: 6rem;
}

#page #campaign-code-modal .l-inner > .close-btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

#page #campaign-code-modal .l-inner > .close-btn a {
  font-size: 3rem;
  color: black;
  line-height: 1em;
}

#page #campaign-code-modal .l-inner .step p {
  margin: 2rem 0;
}

#page #campaign-code-modal .l-inner .step-1 figure img {
  width: 50%;
}

#page #campaign-code-modal .l-inner .step-1 ul {
  display: flex;
  justify-content: center;
}

#page #campaign-code-modal .l-inner .step-1 ul li {
  width: 200px;
  background: #bf0000;
  border: 2px solid #bf0000;
  border-radius: 6px;
  margin: 2rem 1rem 0;
  transition: all 0.2s;
}

#page #campaign-code-modal .l-inner .step-1 ul li a {
  display: block;
  color: white;
  padding: 0.5em 0;
}

#page #campaign-code-modal .l-inner .step-1 ul li:first-of-type {
  background: white;
  border: 2px solid black;
}

#page #campaign-code-modal .l-inner .step-1 ul li:first-of-type a {
  color: black;
}

#page #campaign-code-modal .l-inner .step-1 ul li:hover {
  opacity: 0.8;
}

#page #campaign-code-modal .l-inner .step-2 .code-area {
  width: 400px;
  margin: 0 auto;
  background: whitesmoke;
  padding: 1em 0;
}

#page #campaign-code-modal .l-inner .hide {
  display: none;
}

#page #howtouse {
  overflow: hidden;
  position: relative;
}

#page #howtouse:before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

#page #howtouse .l-inner {
  position: relative;
  padding: 0 0 6rem;
}

#page #howtouse .l-inner .carousel-btn {
  font-weight: 900;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 240px;
}

#page #howtouse .l-inner .carousel-btn i {
  transition: all 0.1s ease-in;
}

#page #howtouse .l-inner .carousel-btn i:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: black;
}

#page #howtouse .l-inner .carousel-left {
  left: -2rem;
  display: none;
}

#page #howtouse .l-inner .carousel-right {
  right: -2rem;
}

#page #howtouse .l-inner .steps {
  display: flex;
  position: relative;
}

#page #howtouse .l-inner .steps > li {
  margin: 0 15px;
  transition: all 0.1s ease-in;
}

#page #howtouse .l-inner .steps > li figure img {
  width: 280px;
}

#page #howtouse .l-inner .steps > li:nth-child(1) h3:after {
  content: " 1";
}

#page #howtouse .l-inner .steps > li:nth-child(2) h3:after {
  content: " 2";
}

#page #howtouse .l-inner .steps > li:nth-child(3) h3:after {
  content: " 3";
}

#page #howtouse .l-inner .steps > li:nth-child(4) h3:after {
  content: " 4";
}

#page #howtouse .l-inner .steps > li:nth-child(5) h3:after {
  content: " 5";
}

#page #howtouse .l-inner .steps > li:nth-child(6) h3:after {
  content: " 6";
}

#page #howtouse .l-inner .steps > li:nth-child(7) h3:after {
  content: " 7";
}

#page #howtouse .l-inner .steps > li h3 {
  background: #00173d;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1rem 0;
}

#page #howtouse .l-inner .steps > li p {
  margin: 1rem 0 0;
}

#page #howtouse .l-inner .steps > li.current {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  #page .l-content {
    overflow: hidden;
  }
  #page br.sp {
    display: inline-block;
  }
  #page #campaign-about .l-inner > div {
    top: -6px;
    padding: 3rem 2rem !important;
  }
  #page #campaign-about .l-inner > div p.laed {
    font-size: 1.6rem;
  }
  #page #campaign-about .l-inner > div p.small {
    font-size: 1.2rem;
    text-align: justify;
  }
  #page #campaign-about .l-inner > div.on {
    padding: 3rem 2rem;
  }
  #page #campaign-about .l-inner > div .trial-btn,
  #page #campaign-about .l-inner > div .campaign-code-btn {
    width: 100%;
    height: 80px;
  }
  #page #campaign-about .l-inner > div .trial-btn a,
  #page #campaign-about .l-inner > div .campaign-code-btn a {
    font-size: 4vw;
    line-height: 80px;
  }
  #page #campaign-about .l-inner > div .trial-btn a:after,
  #page #campaign-about .l-inner > div .campaign-code-btn a:after {
    content: initial;
  }
  #page #campaign-about .l-inner > div .campaign-code-btn {
    height: 60px;
  }
  #page #campaign-about .l-inner > div .campaign-code-btn a {
    line-height: 60px;
  }
  #page #campaign-code-modal .l-inner {
    width: 90%;
    padding: 4rem;
    border-radius: 2rem;
  }
  #page #campaign-code-modal .l-inner .close-btn {
    top: 2rem;
    right: 2rem;
  }
  #page #campaign-code-modal .l-inner .step-1 figure img {
    width: 80%;
  }
  #page #campaign-code-modal .l-inner .step-2 figure img {
    width: 80%;
  }
  #page #campaign-code-modal .l-inner .step-2 .code-area {
    width: 100%;
  }
  #page #howtouse:before {
    content: initial;
  }
  #page #howtouse .l-inner .steps {
    width: calc(280px * 7);
    margin-left: 5vw;
  }
  #page #howtouse .l-inner .steps > li {
    width: 250px;
  }
  #page #howtouse .l-inner .steps > li figure img {
    width: 100%;
  }
  #page #howtouse .l-inner .carousel-btn {
    top: initial;
    bottom: 0;
    font-size: 4rem;
    color: black;
  }
  #page #howtouse .l-inner .carousel-btn i:hover {
    transform: initial;
  }
  #page #howtouse .l-inner .carousel-left {
    left: 8rem;
  }
  #page #howtouse .l-inner .carousel-right {
    right: 8rem;
  }
}
