@charset "UTF-8";
/*---------- キャンペーン参加方法 ----------*/
#page .campaign-hero__schedule__note a {
  color: #fe714a;
}

#page .campaign-hero__schedule__note a:hover {
  text-decoration: underline;
}

#page #campaign {
  margin: 0 auto;
  padding: 36px 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f43b62+0,fe714a+50,6e02ab+100 */
  background: #f43b62;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f43b62 0%, #fe714a 50%, #6e02ab 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f43b62 0%, #fe714a 50%, #6e02ab 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f43b62 0%, #fe714a 50%, #6e02ab 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43b62', endColorstr='#6e02ab',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#page #campaign .l-inner > figure.sub-benefits:after {
  content: "";
  display: block;
  width: 50%;
  height: 20px;
  margin: 24px auto 0;
  background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rakuma-ad/img/line.png) no-repeat center/100% auto;
}

#page #campaign .l-inner h2 {
  font-size: 24px;
  line-height: 1.5;
  color: white;
  margin: 24px 0 16px;
  padding: 0;
}

#page #campaign .l-inner > ol > li {
  margin: 16px 0 0;
  padding: 36px 24px;
  background: white;
  border-radius: 36px;
  text-align: center;
}

#page #campaign .l-inner > ol > li > * {
  margin: 16px 0;
}

#page #campaign .l-inner > ol > li h3 {
  margin: 0 auto;
  font-size: 20px;
}

#page #campaign .l-inner > ol > li p span {
  display: inline-block;
  background: #fe714a;
  color: white;
  padding: 4px 8px;
}

#page #campaign .l-inner > ol > li figure.screenshot {
  margin-bottom: -32px;
}

#page #campaign .l-inner > ol > li .btn-apply {
  margin: 24px auto 36px;
}

#page #campaign .l-inner > ol > li .btn-apply .l-inner > * {
  width: 100%;
}

#page #campaign .l-inner > ol > li .code {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page #campaign .l-inner > ol > li .code > div {
  display: block;
  border: 2px solid black;
  padding: 8px 0;
  margin: 0;
}

#page #campaign .l-inner > ol > li .code > div:first-child {
  background: black;
  color: white;
}

#page #campaign .l-inner > ol > li .howtocode h3 {
  font-size: 16px;
  margin: 0 0 16px;
}

#page #campaign .l-inner > ol:after {
  content: "";
  display: block;
  margin: 24px auto 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 21px 0 21px;
  border-color: #ffffff transparent transparent transparent;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rakuma-ad/img/bg.jpg) no-repeat center top/auto 82% black;
  }
  #page #campaign .l-inner > figure {
    text-align: center;
  }
  #page #campaign .l-inner > figure.sub-benefits:after {
    width: 108px;
    height: 9px;
  }
  #page #campaign .l-inner > ol {
    margin: 0 auto;
  }
  #page #campaign .l-inner > ol > li {
    margin: 24px 0 0;
  }
  #page #campaign .l-inner > ol > li p span {
    margin: 0 4px;
  }
  #page #campaign .l-inner > ol > li .code {
    flex-direction: row;
  }
  #page #campaign .l-inner > ol > li .code > div {
    padding: 8px 24px;
  }
  #page #campaign .l-inner > ol > li .btn-apply .l-inner {
    width: 100%;
  }
  #page #campaign .l-inner > ol > li .btn-apply .l-inner .trial-btn {
    width: 450px;
  }
  #page #campaign .l-inner > ol > li figure.screenshot {
    width: 300px;
    margin: 0 auto -32px;
  }
  #page #campaign .l-inner > ol > li figure.screenshot img {
    width: 100%;
  }
  #page #point-mission > .l-inner {
    padding: 48px 0 32px;
  }
}
