#page .s-campaign-hero + h2 + .text-box {
  text-align: center;
}

#page .s-campaign-hero + h2 + .text-box p {
  color: #333;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background: yellow;
  margin: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
}

#page .s-campaign-hero .campaign-hero__schedule__note a {
  color: #f9cf26;
}

#page .s-campaign-hero .campaign-hero__schedule__note a:hover {
  color: #f9e8a4;
}

#page .s-campaign-hero .campaign-hero__schedule__note a:active {
  color: #ab8e1a;
}

#page #HTMLBlock3129 + .content-box figure {
  width: 600px;
  margin: 0 auto;
}

#page .song {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#page .song li {
  width: 20%;
  padding: 1rem;
}

#page .song li figure {
  height: 156px;
  text-align: center;
  margin: 0 0 1rem;
}

#page .song li figure img {
  width: auto;
  height: 100%;
}

#page .song li p strong {
  font-size: 2rem;
  margin-right: 0.75rem;
  color: red;
}

#page .song li p:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

#page .song li p:last-child {
  font-size: 1.25rem;
}

#page .playlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#page .playlist li {
  width: calc(100% / 3);
  padding: 1rem;
}

#page .playlist li figure img {
  width: 100%;
}

#page .playlist li p {
  margin: 1rem 0;
}

#page .s-delivery-list {
  border: none;
}

#page h2.heading.heading--m + .content-box .l-inner {
  background: #f5f5f5;
  padding: 60px;
}

#page h2.heading.heading--m + .content-box .l-inner figure {
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 30px;
}

#page h2.heading.heading--m + .content-box .l-inner .content-box__text {
  margin: 30px 0 0;
  font-size: 2rem;
}

#page h2.heading.heading--m + .content-box .l-inner .content-box__text p br {
  display: none;
}

#page h2.heading.heading--m + .content-box .l-inner .content-box__text p a {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  br.new-line {
    display: none;
  }
  div#btn-apply {
    padding: 40px 0;
  }
  #page #HTMLBlock3023 + .content-box {
    padding: 0 0 30px;
  }
  #page #HTMLBlock3023 + .content-box figure {
    width: 600px;
    margin: 0 auto;
  }
  #page #HTMLBlock3023 + .content-box .content-box__text {
    margin: 12px 0 0;
  }
  #page .s-campaign-hero {
    padding-top: 0;
    background: #f2f2f2;
    background: -moz-linear-gradient(
      top,
      #f2f2f2 0%,
      #f2f2f2 81%,
      #1b1464 81%,
      #1b1464 100%
    );
    background: -webkit-linear-gradient(
      top,
      #f2f2f2 0%,
      #f2f2f2 81%,
      #1b1464 81%,
      #1b1464 100%
    );
    background: linear-gradient(
      to bottom,
      #f2f2f2 0%,
      #f2f2f2 81%,
      #1b1464 81%,
      #1b1464 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#1b1464',GradientType=0 );
  }
  #page .wrapper {
    background: #fff7d6;
    padding: 2rem 0 4rem;
  }
  #page .wrapper .l-inner {
    width: 100%;
  }
  #page .wrapper .content-box {
    box-sizing: border-box;
    padding: 3rem !important;
    background: white;
    width: 950px;
    margin: 3rem auto 0 !important;
  }
  #page .wrapper .content-box .content-box__text {
    border: 1px solid lightslategray;
    padding: 2rem;
  }
  #page .wrapper .content-box .content-box__text p br {
    display: none;
  }
  #page .wrapper .content-box .content-box__text p strong {
    font-size: 3rem;
  }
  div#con-summary {
    width: 1040px;
    margin: 50px auto;
    background: #f5f5f5;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
  }
  div#con-summary p {
    margin: 0;
  }
  div#con-summary em {
    font-style: normal;
  }
  div#con-summary .f-red {
    color: #bf0000;
  }
  div#con-summary .fs-1 {
    font-size: 56px;
  }
  div#con-summary .fs-2 {
    font-size: 38px;
  }
  div#con-summary .fs-3 {
    font-size: 30px;
  }
  div#con-summary .fs-4 {
    font-size: 20px;
  }
  div#con-summary .txtB {
    font-weight: bold;
  }
  div#con-summary .summary-txt-inner p.bgY {
    background: #fef1cc;
    box-shadow: 4px 4px #be0201;
    line-height: 1.2;
  }
  div#con-summary h3 {
    font-size: 32px;
    margin: 0 0 20px;
  }
  div#con-summary h3 em {
    font-size: 28px;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 1px;
    border: 2px solid #000;
    background: #fff;
    margin: 0 10px;
    width: 255px;
    height: 48px;
    line-height: 43px;
    vertical-align: super;
  }
  div#con-summary h4 {
    width: 400px;
    margin: 0 auto 10px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 0;
    border-top: 2px dotted #000;
    border-bottom: 2px dotted #000;
    line-height: 36px;
    height: 40px;
  }
  div#con-summary .summary-graph {
    display: flex;
    justify-content: space-between;
    width: 470px;
    margin: 0 auto;
  }
  div#con-summary .summary-txt-area {
    height: 220px;
    margin-top: 40px;
  }
  div#con-summary .summary-txt-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  div#con-summary .summary-txt-inner p {
    padding: 10px;
    background: #fff;
    width: 170px;
    font-size: 16px;
    line-height: 1.3;
    height: 80px;
    box-sizing: border-box;
    box-shadow: 4px 4px #b3b3b3;
    position: relative;
  }
  div#con-summary .summary-txt-inner p::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 0px;
    border-top: solid 6px #b3b3b3;
    border-right: solid 6px #b3b3b3;
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -4px;
  }
  div#con-summary .summary-txt-inner p.bgY::before {
    border-top: solid 6px #be0201;
    border-right: solid 6px #be0201;
  }
  div#con-summary .dd {
    height: 40%;
  }
  div#con-summary p.or {
    width: 750px;
    background: #fc7735;
    margin: 40px auto 15px;
    padding: 0;
    font-size: 30px;
    letter-spacing: 2px;
    box-sizing: border-box;
    color: #fff;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px) {
  #page .heading--m {
    padding: 0;
    margin: 4rem 2rem 2rem;
  }
  #page h2.heading.heading--m + .content-box .l-inner {
    padding: 2rem;
  }
  #page h2.heading.heading--m + .content-box .l-inner .content-box__text p br {
    display: inline-block;
  }
  #page .s-campaign-hero + h2 + .text-box {
    margin: 0 0 3rem;
  }
  #page .s-campaign-hero + h2 + .text-box p {
    font-size: 2.5rem;
    margin: 0.5rem;
    padding: 0.5rem 2rem;
  }
  #page #HTMLBlock3129 + .content-box figure {
    width: 100%;
  }
  #page .song li {
    width: 50%;
    padding: 3rem 1rem;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  #page .song li:nth-child(even) {
    border-right: 1px solid lightgray;
  }
  #page .song li:nth-child(1),
  #page .song li:nth-child(2) {
    border-top: 1px solid lightgray;
  }
  #page .song li figure {
    height: 34vw;
  }
  #page .playlist li {
    width: 100%;
  }
  #page #HTMLBlock3023 + .content-box {
    padding: 0 0 12vw;
  }
  #page #HTMLBlock3023 + .content-box figure {
    width: initial;
    margin: 0 auto;
  }
  #page #HTMLBlock3023 + .content-box .content-box__text {
    margin: 3vw 0 0;
  }
  #page .wrapper {
    padding: 2rem;
    background: #fff7d6;
  }
  #page .wrapper .l-inner {
    padding: 2rem !important;
  }
  #page .wrapper .content-box {
    padding: 0 !important;
    box-sizing: border-box;
    background: white;
    width: 100%;
    margin: 3rem auto 0 !important;
  }
  #page .wrapper .content-box .content-box__text {
    border: 1px solid lightslategray;
    padding: 2rem;
  }
  #page .wrapper .content-box .content-box__text p strong {
    font-size: 2rem;
  }
  br.new-line {
    display: inline;
  }
  div#btn-apply {
    padding: 40px 0;
  }
  .content-box__text {
    font-size: 4vw;
  }
  div#con-summary {
    background: #f5f5f5;
    box-sizing: border-box;
    text-align: center;
    width: auto;
    margin: 16px;
    padding: 16px;
  }
  div#con-summary p {
    margin: 0;
  }
  div#con-summary em {
    font-style: normal;
  }
  div#con-summary .txtB {
    font-weight: bold;
  }
  div#con-summary .f-red {
    color: #bf0000;
  }
  div#con-summary .fs-1 {
    font-size: 15vw;
  }
  div#con-summary .fs-2 {
    font-size: 10vw;
  }
  div#con-summary .fs-3 {
    font-size: 8vw;
  }
  div#con-summary .fs-4 {
    font-size: 3.5vw;
  }
  div#con-summary .ls-1 {
    letter-spacing: -0.2vw;
  }
  div#con-summary h3 {
    margin: 0 0 20px;
    line-height: 1;
  }
  div#con-summary h3 em {
    font-weight: normal;
    letter-spacing: 1px;
    background: #fff;
    vertical-align: super;
    font-size: 5vw;
    width: 100%;
    border: 0.4vw solid #000;
    line-height: 9vw;
    display: block;
    margin: 0;
    padding: 0;
    height: 10vw;
  }
  div#con-summary h3 strong {
    display: block;
    line-height: 1.1;
  }
  div#con-summary h4 {
    margin: 0 auto 10px;
    font-weight: normal;
    letter-spacing: 1px;
    border-top: 2px dotted #000;
    border-bottom: 2px dotted #000;
    width: 100%;
    padding: 2vw 10vw 1vw;
    box-sizing: border-box;
    font-size: 4.3vw;
    line-height: 1.4;
    height: 17vw;
  }
  div#con-summary .summary-graph {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }
  div#con-summary .summary-graph p:nth-of-type(1) {
    width: 55%;
  }
  div#con-summary .summary-graph p:nth-of-type(1) img {
    width: 100%;
  }
  div#con-summary .summary-txt-area {
    height: 46vw;
    width: 40%;
    margin-top: 2vw;
  }
  div#con-summary .summary-graph .summary-txt-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  div#con-summary .summary-graph .summary-txt-inner p {
    background: #fff;
    line-height: 1.3;
    box-sizing: border-box;
    position: relative;
    font-size: 3.5vw;
    width: 100%;
    height: 18vw;
    padding: 2vw 0 0;
    box-shadow: 0.8vw 0.8vw #b3b3b3;
  }
  div#con-summary .summary-txt-inner p.bgY {
    box-shadow: 0.8vw 0.8vw #be0201;
    line-height: 1.1;
  }
  div#con-summary .summary-txt-inner p::before {
    content: "";
    width: 2vw;
    height: 2vw;
    border: 0px;
    border-top: solid 0.8vw #b3b3b3;
    border-right: solid 0.8vw #b3b3b3;
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    top: 50%;
    left: -2.5vw;
    margin-top: -4px;
  }
  div#con-summary .summary-txt-inner p.bgY::before {
    border-top: solid 0.8vw #be0201;
    border-right: solid 0.8vw #be0201;
  }
  .dd {
    height: 45%;
  }
  div#con-summary p.or {
    background: #fc7735;
    letter-spacing: 2px;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    padding: 0 2vw;
    line-height: 1.2;
    font-size: 7vw;
    margin: 7vw 0 3vw;
    height: 20vw;
    display: table;
  }
  div#con-summary p.or strong {
    display: table-cell;
    vertical-align: middle;
  }
}
