@charset "UTF-8";
.campaign-close-wrapper {
  background: #039f70;
  padding: 24px 0 12px;
}

.campaign-close-wrapper .campaign-close {
  margin: 0 auto;
  border-color: white;
  color: white;
}

.campaign-close-wrapper .campaign-close + br {
  display: none;
}

@media screen and (min-width: 768px) {
  .campaign-close-wrapper {
    padding: 36px 0 24px;
  }
}

#page #campaign-apply {
  background: white;
  padding: 40px 0 0;
  background: #039f70;
  background-size: contain;
}

#page #merit .l-inner h2 {
  font-size: 24px;
}

#page #campaign-apply .l-inner ol.steps > li {
  background: #f7f7f7;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#page #campaign-apply .l-inner ol.steps > li p {
  font-size: 16px;
  line-height: 24px;
  color: red;
}

#page #campaign-apply .l-inner ol.steps > li p.present-song {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 16px;
}

#page #campaign-apply .l-inner ol.steps > li p.lead {
  text-align: center;
  margin: 16px 0 8px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

#page .l-inner .apply p.lead {
  text-align: center;
  margin: 16px 0 8px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

#page #campaign-apply .l-inner ol.steps > li p.lead {
  color: black;
}

#page #campaign-apply .l-inner ol.steps > li p.small {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

#page .l-inner .apply p.small {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin: 0 auto;
  padding-bottom: 4rem;
}

#page #campaign-apply .l-inner ol.steps > li p.small {
  color: #686868;
}

#page #campaign-apply .l-inner ol.steps > li div.trial-btn {
  margin: 24px 0;
  width: 100%;
  height: 80px;
  background: #d80000;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
  border-radius: 80px;
}

#page .l-inner .apply .trial-btn {
  margin: 24px 0;
  width: 100%;
  height: 80px;
  background: #d80000;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
  border-radius: 80px;
}

#page #campaign-apply .l-inner ol.steps > li div.trial-btn a,
#page .l-inner .apply .trial-btn a {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 80px;
}

#page .arrow {
  text-align: center;
  margin: 0 auto 40px;
  width: 87px;
}

#page .apply .l-inner h2 {
  color: #f8ff49;
  text-align: center;
  font-size: 24px;
}

@media screen and (min-width: 1139px) {
  #page .s-delivery-list .l-inner {
    width: 1140px;
  }
}

@media screen and (min-width: 951px) {
  #page .l-inner {
    width: 950px;
  }
}

@media screen and (max-width: 950px) {
  #page .l-inner {
    width: 100%;
  }
  #page #campaign-apply .l-inner > h1 {
    margin-bottom: 4rem;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    line-height: 16px;
    color: white;
    font-family: "Rakuten Sans UI", "繝｡繧､繝ｪ繧ｪ", Meiryo, "Meiryo UI", YuGothic, "Yu Gothic", "繝偵Λ繧ｮ繝手ｧ偵ざ繧ｷ繝�け", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "繝偵Λ繧ｮ繝手ｧ偵ざ ProN W3", sans-serif;
  }
  #page #campaign-apply .l-inner ol.steps > li > h2 {
    margin: 16px;
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    line-height: 52px;
    color: black;
    font-family: "Rakuten Sans UI", "繝｡繧､繝ｪ繧ｪ", Meiryo, "Meiryo UI", YuGothic, "Yu Gothic", "繝偵Λ繧ｮ繝手ｧ偵ざ繧ｷ繝�け", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "繝偵Λ繧ｮ繝手ｧ偵ざ ProN W3", sans-serif;
  }
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    padding: 0;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/artist/seventeen/img/bg.jpg) no-repeat center top/auto 84.4% black;
  }
  #page .campaign-hero__schedule {
    position: relative;
    z-index: 1;
  }
  #page #campaign-apply .l-inner > h1 {
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    line-height: 16px;
    color: white;
    font-family: "Rakuten Sans UI", "繝｡繧､繝ｪ繧ｪ", Meiryo, "Meiryo UI", YuGothic, "Yu Gothic", "繝偵Λ繧ｮ繝手ｧ偵ざ繧ｷ繝�け", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "繝偵Λ繧ｮ繝手ｧ偵ざ ProN W3", sans-serif;
  }
  #page #campaign-apply .l-inner ol.steps {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page #campaign-apply .l-inner ol.steps > li {
    box-sizing: border-box;
    margin: 40px auto;
    padding: 40px 0px;
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > .screenshot {
    width: 220px;
    margin: 16px 32px;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > .present {
    width: 240px;
    margin: 16px 32px;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure > img {
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li > h2 {
    margin: 0 0 16px;
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    line-height: 52px;
    color: black;
    font-family: "Rakuten Sans UI", "繝｡繧､繝ｪ繧ｪ", Meiryo, "Meiryo UI", YuGothic, "Yu Gothic", "繝偵Λ繧ｮ繝手ｧ偵ざ繧ｷ繝�け", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "繝偵Λ繧ｮ繝手ｧ偵ざ ProN W3", sans-serif;
  }
  #page #campaign-apply .l-inner ol.steps > li p {
    text-align: center;
  }
  #page #campaign-apply .l-inner ol.steps > li div.trial-btn {
    margin: 24px auto;
    width: 343px;
    transition: all 0.2s ease-in;
  }
  #page .l-inner .apply .trial-btn {
    margin: 24px auto;
    width: 343px;
    transition: all 0.2s ease-in;
  }
  #page #campaign-apply .l-inner ol.steps > li div.trial-btn:hover,
  #page .l-inner .apply .trial-btn:hover {
    opacity: 90%;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.1), 0px 4px 23px rgba(0, 0, 0, 0.06), 0px 12px 19px rgba(0, 0, 0, 0.07);
  }
  #page .item-list .item__list {
    justify-content: center;
  }
  /*
    #page #campaign-apply .l-inner ol.steps>li>.step2>div:first-child {
        display: block;
        margin: 20px 80px 0;
    }*/
}

@media screen and (max-width: 768px) {
  #page .l-inner {
    width: 100%;
  }
  #page #campaign-apply {
    background: #039f70;
    background-size: contain;
  }
  #page #campaign-apply .l-inner ol.steps > li {
    margin: 16px auto 32px;
    padding: 0 16px 30px;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure {
    width: 220px;
    text-align: center;
    margin: 0 auto;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > .screenshot {
    margin: 1.6rem auto;
  }
  #page .apply .l-inner h2,
  #page #campaign-apply .l-inner ol.steps > li p.small,
  #page .l-inner .apply p.small {
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  #page #campaign-apply .l-inner ol.steps > li p.lead,
  #page .l-inner .apply p.lead {
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure img:first-child, #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure img:last-child {
    width: 100%;
  }
}
