#page .l-campaign-01 {
  background: #EAF0F0;
  padding-bottom: 36px;
}

#page.campaign_detail .l-campaign-02 {
  background: white;
}

#page .campaign-hero__schedule br.is-hidden--pc:nth-child(2) {
  display: none;
}

#page .anchor-links--sp select {
  -webkit-appearance: none;
  background: url(/assets/common/img/chevron_down.png) no-repeat right 16px center/16px 16px #fff;
  max-width: 343px;
  border: 2px solid #F01C82;
  -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  padding: 8px 16px;
  margin: 16px auto -24px;
  display: block;
  color: #333;
}

#page h2.ttl-img {
  padding: 0 16px;
  margin: 72px auto 24px;
}

#page .flx-36-24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  gap: 24px;
}

#page .flx-r-36,
#page .flx-36 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

#page .flx-24-16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 16px;
}

#page .flx-16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

#page .flx-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#page .flx-r-24,
#page .flx-24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

#page p.small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #686868;
}

#page #fv-bnr {
  width: calc(100% - 32px);
  margin: 36px auto 16px;
}

#page #ttl_01_about .flx-36-24 .flx-16 > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#page #ttl_01_about .flx-36-24 .flx-16 .arrow-gradient img {
  width: 72px;
}

#page #ttl_01_about .flx-36-24 .flx-8 img {
  width: 276px;
}

#page #ttl_01_about .flx-36-24 .flx-8 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

#page #ttl_02_howtoentry div.wrapper-nanapink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 16px;
  gap: 24px;
  background: #FFFFFF;
  border: 2px solid #DB2A71;
  border-radius: 36px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

#page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > img {
  width: 216px;
}

#page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 {
  gap: 16px;
}

#page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#page #ttl_03_auditionflow .flx-16 {
  padding: 0 16px;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white {
  background: #FFFFFF;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 16px;
  gap: 24px;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white div {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white p span.txt-pink {
  color: #EF1C79;
}

#page #ttl_03_auditionflow .flx-16 .arrow-black img {
  width: 36px;
}

#page #ttl_04_schedule .flx-r-24 {
  padding: 0 16px;
}

#page #ttl_04_schedule .flx-r-24 .flx-24 {
  width: 100%;
  padding: 36px 24px;
  background: #FFFFFF;
  border: 2px solid #DB2A71;
  border-radius: 36px;
}

#page #ttl_04_schedule .flx-r-24 .flx-24 h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#page #ttl_04_schedule .flx-r-24 .flx-24 .flx-16 h4 {
  margin: 0;
  padding: 8px 16px;
  background: -webkit-gradient(linear, left top, right top, from(#E31926), color-stop(50%, #F01C82), to(#8622E1));
  background: linear-gradient(90deg, #E31926 0%, #F01C82 50%, #8622E1 100%);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

#page #ttl_05_whatisrakutenmusic div {
  padding: 0 16px;
}

#page #ttl_06_incubationprogram .flx-36-24 > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

#page #ttl_06_incubationprogram .flx-36-24 .flx-36 {
  padding: 36px 16px;
  background: #FFFFFF;
  border: 2px solid #DB2A71;
  border-radius: 36px;
}

#page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3::after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background: #333333;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  left: 50%;
  margin-top: 16px;
}

#page #ttl_06_incubationprogram .flx-36-24 .img-audee {
  width: 150px;
}

#page #ttl_07_caution + .s-campaign-detail {
  padding: 0;
  background: white;
}

#page #ttl_07_caution + .s-campaign-detail > .l-inner > h2 {
  display: none;
}

#page #ttl_07_caution + .s-campaign-detail > .l-inner .js-toggle.is-open .js-toggle__panel {
  max-height: none;
}

#page #ttl_07_caution + .s-campaign-detail > .l-inner td {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 100% !important;
}

#page #ttl_08_service + h2 {
  display: none;
}

#page #price > .l-inner > h1 {
  display: none;
}

@media screen and (min-width: 767px) {
  #page #kv-logo {
    padding: 18px 0 10px;
    background: white;
    text-align: center;
  }
  #page .s-campaign-hero {
    background: url(/assets/campaign/2022/singer-debut/img/bg.jpg) no-repeat center top/auto 86.4% #333;
  }
  #page #anchor-links ul.anchor-links--pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 24px 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 920px;
    margin: 48px auto 0;
  }
  #page #anchor-links ul.anchor-links--pc li {
    background: #FFFFFF;
    border: 2px solid #F01C82;
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page #anchor-links ul.anchor-links--pc li a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    padding: 16px 24px;
  }
  #page #anchor-links ul.anchor-links--pc li:hover {
    background: #F01C82;
  }
  #page #anchor-links ul.anchor-links--pc li:hover a {
    color: white;
  }
  #page h2.ttl-img {
    text-align: center;
    margin: 72px auto 36px;
  }
  #page .flx-36-24 {
    gap: 36px;
  }
  #page .flx-r-24,
  #page .flx-r-36 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #page .flx-24-16 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
  }
  #page #fv-bnr {
    width: 438px;
    height: 80px;
    margin: 48px auto;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page #fv-bnr:hover {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  #page #ttl_01_about .flx-36-24 .flx-8 img {
    width: auto;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink {
    width: 908px;
    padding: 36px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > p {
    height: 64px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > img {
    margin-top: 4px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 {
    gap: 24px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 a:hover {
    opacity: .8;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 a img {
    height: 64px;
  }
  #page #ttl_03_auditionflow .flx-16 {
    width: 908px;
    margin: 0 auto;
  }
  #page #ttl_03_auditionflow .flx-16 .auditionflow-white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 36px;
    gap: 24px;
  }
  #page #ttl_03_auditionflow .flx-16 .auditionflow-white div {
    width: 310px;
  }
  #page #ttl_03_auditionflow .flx-16 .auditionflow-white p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  #page #ttl_04_schedule .flx-r-24 {
    width: 908px;
    margin: 0 auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #page #ttl_04_schedule .flx-r-24 .flx-24 h3 {
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page #ttl_05_whatisrakutenmusic div {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 {
    width: 908px;
    margin: 0 auto;
  }
  #page #ttl_06_incubationprogram .flx-36-24 > p {
    width: 700px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 {
    width: 100%;
    padding: 36px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3 + p {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 img {
    width: 100%;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 .profile_nisiokakazuya {
    width: 300px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 .profile_name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .promotion-partner .flx-r-36 div {
    width: 300px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .promotion-partner .flx-r-36 div + p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-tokyofm {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-tokyofm img {
    width: 300px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-audee {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-audee img {
    width: 150px;
  }
}
/*# sourceMappingURL=style_20221012.css.map */