#page #sticky-btn {
  width: 100%;
  padding: 12px 16px 24px;
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  z-index: 99;
}

#page #sticky-btn > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  gap: 4px;
  background: #F01C82;
  border-radius: 48px;
}

#page #sticky-btn > div a span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

#page #sticky-btn > div a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
}

#page #sticky-btn > div a i img {
  width: 100%;
}

#page .l-campaign-01 {
  background: #EAF0F0;
  padding-bottom: 36px;
}

#page.campaign_detail .l-campaign-02 {
  background: white;
}

#page .campaign-hero__schedule {
  padding: 8px 0;
}

#page .campaign-hero__schedule br.is-hidden--pc:nth-child(2) {
  display: none;
}

#page .anchor-links--sp select {
  width: 100%;
  -webkit-appearance: none;
  background: url(/assets/common/img/chevron_down.png) no-repeat right 16px center/16px 16px #fff;
  max-width: 343px;
  border: 2px solid #F01C82;
  -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  padding: 8px 16px;
  margin: 36px auto;
  display: block;
  color: #333;
}

#page h2.ttl-img {
  padding: 0 16px;
  margin: 72px auto 24px;
}

#page .flx-36-24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  gap: 24px;
}

#page .flx-r-36,
#page .flx-36 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

#page .flx-24-16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 16px;
}

#page .flx-16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

#page .flx-r-16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 16px;
}

#page .flx-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#page .flx-r-24,
#page .flx-24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

#page .flx-72 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 16px;
  gap: 32px;
}

#page .flx-r-72 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

#page p.small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #686868;
}

#page .fa-brands::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
}

#page .fa-xl::before {
  font-size: 24px;
}

#page .semifinalist-slider {
  margin: 36px auto;
}

#page .semifinalist-slider .slick-slide {
  padding: 0 4px;
}

#page .semifinalist-slider .slick-slide span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page .type-of-vote {
  gap: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#page .type-of-vote > li {
  width: calc(50% - 4px);
  position: relative;
  padding: 24px 16px;
  border-radius: 24px;
}

#page .type-of-vote > li.type-of-vote-youtube {
  background: #FFEBEC;
}

#page .type-of-vote > li.type-of-vote-youtube .ttl,
#page .type-of-vote > li.type-of-vote-youtube .txt-color {
  color: #D80000;
}

#page .type-of-vote > li.type-of-vote-microphone {
  background: #F4EBFC;
}

#page .type-of-vote > li.type-of-vote-microphone .ttl,
#page .type-of-vote > li.type-of-vote-microphone .txt-color {
  color: #8A22DF;
}

#page .type-of-vote > li > i {
  position: absolute;
  top: -24px;
  width: 42px;
  height: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#page .type-of-vote > li > div > a {
  color: #8A22DF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#page .type-of-vote > li .ttl {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

#page .type-of-vote > li .desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page .type-of-vote > li .desc-16 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

#page .type-of-vote > li .people {
  text-align: center;
}

#page .type-of-vote > li .people span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 8px;
}

#page .type-of-vote > li .txt-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page .type-of-vote > li .user-solid {
  width: 14px;
}

#page #result {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

#page #countdown {
  background: -webkit-gradient(linear, left top, right top, from(#E31926), color-stop(50%, #F01C82), to(#8622E1));
  background: linear-gradient(90deg, #E31926 0%, #F01C82 50%, #8622E1 100%);
}

#page #countdown > .l-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
}

#page #countdown > .l-inner .countdown--date span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

#page #countdown > .l-inner .countdown--date span.countdown--date--num {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

#page #status-bar {
  background: -webkit-gradient(linear, left top, right top, from(#E31926), color-stop(50%, #F01C82), to(#8622E1));
  background: linear-gradient(90deg, #E31926 0%, #F01C82 50%, #8622E1 100%);
  padding: 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

#page #fv-bnr {
  width: calc(100% - 32px);
  margin: 36px auto 16px;
}

#page #ttl_semifinal_about .flx-36-24 > p {
  text-align: center;
}

#page #ttl_semifinal_about .flx-36-24 .ttl_semifinal_about--body {
  border: 2px solid #DB2A71;
  padding: 36px 16px;
  background: #FFFFFF;
  border-radius: 36px;
}

#page #ttl_semifinal_about .flx-36-24 .ttl_semifinal_about--body h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0px;
  gap: 8px;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li .ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0px;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li .status {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.disable .ttl {
  background: #DFDFDF;
  color: #898989;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.disable .date {
  border-left: 2px solid #DFDFDF;
  border-bottom: 2px solid #DFDFDF;
  border-right: 2px solid #DFDFDF;
  color: #898989;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.disable .status {
  color: #898989;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.red .ttl {
  background: #E41A29;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.red .date {
  border-left: 2px solid #E41A29;
  border-bottom: 2px solid #E41A29;
  border-right: 2px solid #E41A29;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.pink .ttl {
  background: #EF1DCD;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.pink .date {
  border-left: 2px solid #EF1DCD;
  border-bottom: 2px solid #EF1DCD;
  border-right: 2px solid #EF1DCD;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.pink .status {
  color: #EF1DCD;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.purple .ttl {
  background: #8A22DF;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.purple .date {
  border-left: 2px solid #8A22DF;
  border-bottom: 2px solid #8A22DF;
  border-right: 2px solid #8A22DF;
}

#page #ttl_semifinal_about .flx-36-24 .voting-period > li.purple .status {
  color: #8A22DF;
}

#page #ttl_semifinal_about .flx-36-24 .txt-final {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page #ttl_semifinal_about .flx-36-24 .txt-final img {
  max-width: 256px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper {
  background: white;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .type-of-vote > li .ttl {
  height: 36px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 8px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 4px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li.red {
  color: #E41A29;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li.purple {
  color: #8A22DF;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li span {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li i {
  display: block;
  width: 32px;
  height: 32px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist > div {
  width: 100%;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist h3 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: #000000;
  border-radius: 8px;
  color: white;
  width: 100%;
  padding: 4px 16px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-youtube i,
#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-audio i {
  display: block;
  width: 32px;
  height: 32px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-youtube {
  position: relative;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-youtube i {
  position: absolute;
  top: -8px;
  left: -8px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-youtube iframe {
  width: 320px;
  height: 180px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 4px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-audio audio {
  width: 280px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile > .flx-8 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .name {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .name-en {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .age,
#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .origin {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-sns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-sns a {
  color: black;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0px;
  gap: 16px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote li {
  border-radius: 70px;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  padding: 8px 16px;
  display: block;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote li.red {
  background: #E41A29;
}

#page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote li.purple {
  background: #8A22DF;
}

#page #ttl_01_about .flx-36-24 .flx-16 > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#page #ttl_01_about .flx-36-24 .flx-16 .arrow-gradient img {
  width: 72px;
}

#page #ttl_01_about .flx-36-24 .flx-8 img {
  width: 276px;
}

#page #ttl_01_about .flx-36-24 .flx-8 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

#page #ttl_02_howtoentry div.wrapper-nanapink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 16px;
  gap: 24px;
  background: #FFFFFF;
  border: 2px solid #DB2A71;
  border-radius: 36px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

#page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > img {
  width: 216px;
}

#page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 {
  gap: 16px;
}

#page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#page #ttl_03_auditionflow .flx-16 {
  padding: 0 16px;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white {
  background: #FFFFFF;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 16px;
  gap: 24px;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  width: 304px;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white h3 p {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white h3 p.auditionflow-white--status {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #D80000;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#page #ttl_03_auditionflow .flx-16 .auditionflow-white p span.txt-pink {
  color: #EF1C79;
}

#page #ttl_03_auditionflow .flx-16 .arrow-black img {
  width: 36px;
}

#page #ttl_04_schedule .flx-r-24 {
  padding: 0 16px;
}

#page #ttl_04_schedule .flx-r-24 .flx-24 {
  width: 100%;
  padding: 36px 24px;
  background: #FFFFFF;
  border: 2px solid #DB2A71;
  border-radius: 36px;
}

#page #ttl_04_schedule .flx-r-24 .flx-24 h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#page #ttl_04_schedule .flx-r-24 .flx-24 .flx-16 h4 {
  margin: 0;
  padding: 8px 16px;
  background: -webkit-gradient(linear, left top, right top, from(#E31926), color-stop(50%, #F01C82), to(#8622E1));
  background: linear-gradient(90deg, #E31926 0%, #F01C82 50%, #8622E1 100%);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

#page #ttl_04_schedule .ttl_04_schedule--disable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  width: 100%;
  background: #DFDFDF;
  height: 180px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #898989;
}

#page #ttl_05_whatisrakutenmusic div {
  padding: 0 16px;
}

#page #ttl_06_incubationprogram .flx-36-24 > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

#page #ttl_06_incubationprogram .flx-36-24 .flx-36 {
  padding: 36px 16px;
  background: #FFFFFF;
  border: 2px solid #DB2A71;
  border-radius: 36px;
}

#page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3::after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background: #333333;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  left: 50%;
  margin-top: 16px;
}

#page #ttl_06_incubationprogram .flx-36-24 .img-audee {
  width: 150px;
}

#page #ttl_06_incubationprogram .flx-36-24 .audition-partner p a {
  color: #DB2A71;
}

#page #ttl_06_incubationprogram .flx-36-24 .audition-partner .dl-badge {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#page #ttl_07_caution + .s-campaign-detail {
  padding: 0;
  background: white;
}

#page #ttl_07_caution + .s-campaign-detail > .l-inner > h2 {
  display: none;
}

#page #ttl_07_caution + .s-campaign-detail > .l-inner .js-toggle.is-open .js-toggle__panel {
  max-height: none;
}

#page #ttl_07_caution + .s-campaign-detail > .l-inner td {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 100% !important;
}

#page #ttl_08_service + h2 {
  display: none;
}

#page #price > .l-inner > h1 {
  display: none;
}

@media screen and (min-width: 767px) {
  #page #sticky-btn {
    padding: 16px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #page #sticky-btn > div {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page #sticky-btn > div:hover {
    opacity: 0.8;
  }
  #page #sticky-btn > div a {
    gap: 8px;
    padding: 16px 16px 16px 24px;
  }
  #page #sticky-btn > div a span {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  #page #kv-logo {
    padding: 18px 0 10px;
    background: white;
    text-align: center;
  }
  #page .s-campaign-hero {
    background: url(/assets/campaign/2022/singer-debut/img/bg.jpg) no-repeat center top/cover;
  }
  #page .campaign-hero__schedule {
    padding: 12px 0;
  }
  #page #result {
    padding: 0;
    text-align: center;
  }
  #page #result img {
    width: 716px;
  }
  #page #countdown > .l-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #page #countdown > .l-inner .countdown--date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  #page #countdown > .l-inner .countdown--date span {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  #page #countdown > .l-inner .countdown--date span.countdown--date--num {
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 42px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page .semifinalist-slider .slick-slide img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
  }
  #page .semifinalist-slider .slick-slide span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
  }
  #page #anchor-links ul.anchor-links--pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 24px 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 950px;
    margin: 48px auto;
  }
  #page #anchor-links ul.anchor-links--pc li {
    background: #FFFFFF;
    border: 2px solid #F01C82;
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page #anchor-links ul.anchor-links--pc li a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    padding: 16px 24px;
  }
  #page #anchor-links ul.anchor-links--pc li:hover {
    background: #F01C82;
  }
  #page #anchor-links ul.anchor-links--pc li:hover a {
    color: white;
  }
  #page h2.ttl-img {
    text-align: center;
    margin: 72px auto 36px;
  }
  #page .flx-36-24 {
    gap: 36px;
  }
  #page .flx-r-24,
  #page .flx-r-36 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #page .flx-24-16 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
  }
  #page .flx-r-16 {
    gap: 24px;
  }
  #page .flx-72 {
    padding: 72px 0px;
    gap: 72px;
  }
  #page .flx-r-72 {
    gap: 72px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #page .type-of-vote {
    gap: 24px;
  }
  #page .type-of-vote > li {
    width: 380px;
  }
  #page .type-of-vote > li > i {
    width: 60px;
    height: 60px;
    left: -8px;
    top: -8px;
    -webkit-transform: none;
            transform: none;
  }
  #page .type-of-vote > li > i img {
    width: 100%;
  }
  #page .type-of-vote > li .ttl {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  #page .type-of-vote > li .desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  #page .type-of-vote > li .desc-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  #page .type-of-vote > li .people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 8px;
  }
  #page .type-of-vote > li .people img {
    height: 16px;
  }
  #page .type-of-vote > li .people span {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
  }
  #page .type-of-vote > li .txt-color {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  #page .type-of-vote > li > div > a:hover {
    text-decoration: none;
  }
  #page #fv-bnr {
    width: 438px;
    height: 80px;
    margin: 48px auto;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page #fv-bnr:hover {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  #page #ttl_semifinal_about .flx-36-24 .ttl_semifinal_about--body {
    width: 908px;
  }
  #page #ttl_semifinal_about .flx-36-24 .ttl_semifinal_about--body h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period {
    width: auto;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li .ttl {
    width: 170px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li .date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    padding: 8px 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li .status {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li.disable .date {
    border-left: none;
    border-top: 2px solid #DFDFDF;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li.red .date {
    border-left: none;
    border-top: 2px solid #E41A29;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li.pink .date {
    border-left: none;
    border-top: 2px solid #EF1DCD;
  }
  #page #ttl_semifinal_about .flx-36-24 .voting-period > li.purple .date {
    border-left: none;
    border-top: 2px solid #8A22DF;
  }
  #page #ttl_semifinal_about .flx-36-24 .txt-final {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  #page #ttl_semifinal_about .flx-36-24 .txt-final img {
    max-width: none;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label {
    gap: 72px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li {
    gap: 16px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li i {
    width: 60px;
    height: 60px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li i img {
    width: 100%;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .icon-label li span {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist {
    width: 712px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist > div {
    width: 320px;
    gap: 16px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist h3 {
    font-size: 16px;
    line-height: 24px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-youtube i,
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-audio i {
    width: 42px;
    height: 42px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-youtube i img,
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-audio i img {
    width: 100%;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .name {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .name-en,
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .age,
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-profile .origin {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-sns a {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .semifinalist .semifinalist-sns a:hover {
    color: #F01C82;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote li {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote li:hover {
    opacity: 0.8;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote li a {
    width: 364px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding: 16px 24px;
  }
  #page #ttl_semifinal_vote .ttl_semifinal_vote--wrapper .btn-vote + p.small {
    width: 760px;
  }
  #page #ttl_01_about .flx-36-24 .flx-8 img {
    width: auto;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink {
    width: 908px;
    padding: 36px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > p {
    height: 64px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > img {
    margin-top: 4px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 {
    gap: 24px;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 a:hover {
    opacity: .8;
  }
  #page #ttl_02_howtoentry div.wrapper-nanapink > .flx-24-16 > .flx-8 .flx-24-16 a img {
    height: 64px;
  }
  #page #ttl_03_auditionflow .flx-16 {
    width: 908px;
    margin: 0 auto;
  }
  #page #ttl_03_auditionflow .flx-16 .auditionflow-white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 36px;
    gap: 24px;
  }
  #page #ttl_03_auditionflow .flx-16 .auditionflow-white div {
    width: 310px;
  }
  #page #ttl_03_auditionflow .flx-16 .auditionflow-white p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  #page #ttl_04_schedule .flx-r-24 {
    width: 908px;
    margin: 0 auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #page #ttl_04_schedule .flx-r-24 .flx-24 h3 {
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page #ttl_05_whatisrakutenmusic div {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 {
    width: 908px;
    margin: 0 auto;
  }
  #page #ttl_06_incubationprogram .flx-36-24 > p {
    width: 700px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 {
    width: 100%;
    padding: 36px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 h3 + p {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 img {
    width: 100%;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 .profile_nisiokakazuya {
    width: 300px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .flx-36 .flx-r-24 .profile_name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .promotion-partner .flx-r-36 div {
    width: 300px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .promotion-partner .flx-r-36 div + p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .audition-partner .flx-r-36 {
    width: 100%;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .audition-partner .flx-r-36 .img-nana img {
    width: 300px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .audition-partner .flx-r-36 .flx-24-16 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .audition-partner .flx-r-36 .flx-8 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .audition-partner .flx-r-36 .dl-badge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .audition-partner .flx-r-36 .dl-badge img {
    height: 64px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .audition-partner p a:hover {
    text-decoration: underline;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-tokyofm {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-tokyofm img {
    width: 300px;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-audee {
    text-align: center;
  }
  #page #ttl_06_incubationprogram .flx-36-24 .img-audee img {
    width: 150px;
  }
}
/*# sourceMappingURL=style_20230110.css.map */