@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    padding: 0;
    background: #ffffff;
    background: -moz-linear-gradient(
      top,
      #ffffff 0%,
      #ffffff 85.5%,
      #4d4d4d 85.5%,
      #4d4d4d 100%
    );
    background: -webkit-linear-gradient(
      top,
      #ffffff 0%,
      #ffffff 85.5%,
      #4d4d4d 85.5%,
      #4d4d4d 100%
    );
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #ffffff 85.5%,
      #4d4d4d 85.5%,
      #4d4d4d 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4d4d4d',GradientType=0 );
  }
  #page .wrapper {
    background: #fffde6;
    padding: 0 0 1rem;
  }
  #page .wrapper ul li {
    width: 950px;
    border: 0.5rem solid black;
    background: white;
    margin: 0 auto 4rem;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
  }
  #page .wrapper ul li:not(:last-child)::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 3rem 3rem;
    border-color: black transparent transparent transparent;
    position: absolute;
    bottom: -6rem;
    left: 50%;
    margin-left: -3rem;
  }
  #page .wrapper ul li h3 {
    font-size: 3rem;
    margin: 1rem 0 2rem;
    text-align: center;
  }
  #page .wrapper ul li h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 1rem;
    background: black;
    margin: 10px auto;
  }
  #page .wrapper ul li p {
    text-align: center;
  }
  #page .wrapper ul li .content-box {
    padding: 0;
    margin: 2rem 0;
  }
  #page .wrapper ul li .content-box .l-inner {
    width: 100%;
  }
  #page .wrapper ul li .content-box .l-inner figure {
    width: 250px;
    margin: 0 auto;
  }
  #page .wrapper ul li .content-box .l-inner figure img {
    width: 100%;
  }
  #page .wrapper ul li .btn-apply {
    width: 100%;
    margin: 2rem auto;
  }
  #page .wrapper ul li .btn-apply a p {
    text-align: left;
  }
  #page .wrapper ul li .rex-button__1ArV .rex-button__3n3I {
    width: 400px;
    margin: 2rem 0;
  }
  #page .wrapper ul li .rex-button__1ArV .rex-button__3n3I.rex-button__27xO,
  #page .wrapper ul li .rex-button__SMNE {
    text-align: center;
    padding: 0;
    text-indent: 2rem;
  }
  #page
    .wrapper
    ul
    li
    .rex-button__1ArV
    .rex-button__3n3I.rex-button__27xO::before,
  #page .wrapper ul li .rex-button__SMNE::before {
    width: 3rem;
    height: 3rem;
    left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #page .wrapper {
    background: #fffde6;
    padding: 0 0 1px;
  }
  #page .wrapper > h2 {
    background: #feee05;
    margin: 0;
    padding: 2rem 0;
  }
  #page .wrapper > ul {
    width: 90vw;
    margin: 0 auto;
  }
  #page .wrapper > ul li {
    background: white;
    border: 0.2rem solid black;
    padding: 2rem;
    margin: 4rem 0;
    position: relative;
  }
  #page .wrapper > ul li:not(:last-child)::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 3rem 0 3rem;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin-left: -3rem;
    bottom: -3rem;
  }
  #page .wrapper > ul li h3 {
    text-align: center;
    margin: 0 0 2rem;
    padding: 0;
    position: relative;
  }
  #page .wrapper > ul li h3::after {
    content: "";
    display: block;
    width: 3rem;
    height: 0.4rem;
    background: black;
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
    bottom: -1rem;
  }
  #page .wrapper > ul li p {
    text-align: center;
    margin: 1rem 0;
  }
  #page .wrapper > ul li .content-box {
    padding: 0;
  }
  #page .wrapper > ul li .btn-playlist {
    width: 100%;
    margin: 2rem 0 1rem;
  }
  #page .wrapper > ul li .btn-playlist a {
    display: block;
    text-align: center;
    background: green;
    color: white;
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: 0 0.75rem 0 0 darkgreen;
    position: relative;
  }
  #page .wrapper > ul li .btn-playlist a::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border: 0px;
    border-top: solid 0.3rem white;
    border-right: solid 0.3rem white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 2rem;
    margin-top: -0.5rem;
  }
  #page .wrapper > ul li .btn-apply {
    width: 100%;
    margin: 2rem auto;
  }
  #page .wrapper > ul li .btn-apply > div {
    width: 100%;
    height: 8rem;
  }
  #page .wrapper > ul li .btn-apply > div a {
    padding: 2rem 1rem;
  }
  #page .wrapper > ul li .btn-apply > div a::after {
    width: 1rem;
    padding: 1rem 0 0 0;
  }
  #page .wrapper > ul li .btn-apply > div a img {
    height: 4rem;
  }
  #page .wrapper > ul li .btn-apply > div a p {
    font-size: 1.25rem;
    padding: 0 0 0 1rem;
    margin: 0 !important;
    text-align: left;
  }
  #page .wrapper > ul li .btn-apply > div a p span {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
  }
  #page .wrapper > ul li .btn-apply > p {
    width: 100%;
    text-align: justify !important;
  }
  #page ._3Eti {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  #page ._3Eti::before {
    width: 2rem;
    height: 2rem;
    top: 1.2rem;
  }
  #page .rex-button__1ArV .rex-button__3n3I {
    width: 100%;
    padding: 2rem 0;
    height: auto;
    text-align: center;
  }
  #page .rex-button__1ArV .rex-button__3n3I.rex-button__27xO {
    font-size: 1.4rem;
    text-indent: 2rem;
  }
  #page .rex-button__1ArV .rex-button__3n3I.rex-button__32Uc {
    padding: 2rem;
    font-size: 2rem;
  }
  #page .rex-button__1ArV .rex-button__3n3I::before {
    width: 2rem;
    height: 2rem;
    left: 2rem;
  }
}
