#page .l-content {
  display: none;
}

#page #sticky-apply-btn {
  width: 100%;
  padding: 12px 16px 24px;
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  z-index: 99;
}

#page #sticky-apply-btn .btn-copy-code {
  border: 2px solid #fc5719;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 48px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #fc5719;
  width: 116px;
  height: 36px;
  background: white;
}

#page #sticky-apply-btn .trial-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #d80000;
  border-radius: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

#page #sticky-apply-btn .trial-btn::after {
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  background: url(https://music.r10s.jp/external/prod/assets/campaign/common/img/arrow.svg) no-repeat center;
}

#page #sticky-apply-btn .trial-btn a {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

#page .s-campaign-hero .campaign-hero__schedule a {
  color: white;
  text-decoration: underline;
}

#page .campaign-code {
  background: #ffaf35;
  background: -webkit-gradient(linear, left top, right top, from(#ffaf35), to(#fb5418));
  background: linear-gradient(to right, #ffaf35 0%, #fb5418 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf35', endColorstr='#fb5418',GradientType=1 );
  padding: 12px 24px;
  border-radius: 48px;
  position: relative;
}

#page .campaign-code p {
  text-align: center;
  color: white;
}

#page .campaign-code::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 9px 0 9px;
  border-color: #fd8227 transparent transparent transparent;
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -9px;
}

#page .campaign-code + div .btn-apply .l-inner {
  width: 100%;
}

#page .btn-apply {
  margin: 28px 0 0;
}

#page .btn-apply .l-inner > * {
  width: 100% !important;
}

#page .btn-apply .l-inner > p {
  text-align: justify;
}

#page #campaign-wrapper {
  background: #f7f7f7;
  padding-bottom: 36px;
}

#page #campaign-wrapper .btn-apply .l-inner .trial-btn + p {
  text-align: justify;
}

#page #campaign-wrapper #white-box {
  padding: 0 16px;
}

#page #campaign-wrapper #white-box .l-inner {
  background: white;
  padding: 16px;
}

#page #campaign-wrapper #white-box .l-inner .white-box--small {
  font-size: 12px;
  line-height: 16px;
}

#page #campaign-wrapper #white-box .l-inner .white-box--normal {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

#page #campaign-wrapper #white-box .l-inner .white-box--normal a {
  color: #006497;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#page #campaign-wrapper .heading--m {
  padding: 36px 0 0;
  margin: 0 auto 16px;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  background: #ffaf35;
  background: -webkit-gradient(linear, left top, right top, from(#ffaf35), to(#fb5418));
  background: linear-gradient(to right, #ffaf35 0%, #fb5418 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf35', endColorstr='#fb5418',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page #campaign-wrapper p {
  text-align: center;
}

#page #campaign-wrapper p.lead {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #fc5719;
  margin-bottom: 12px;
}

#page #campaign-wrapper p.lead small {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

#page #campaign-wrapper p.lead-s {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #fc5719;
  margin-bottom: 12px;
}

#page #campaign-wrapper p.caption {
  font-size: 12px;
  line-height: 16px;
}

#page #campaign-wrapper ol.campaign-steps > li:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 44px 0 44px;
  border-color: #fd8227 transparent transparent transparent;
  margin: 24px auto;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper {
  margin: 24px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper h2 {
  background: #fc5719;
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body {
  background: white;
  padding: 24px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body p a {
  color: #006497;
  text-decoration: underline;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist {
  text-align: center;
  margin: -16px 0 12px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 4px 16px;
  background: #fc5719;
  display: inline-block;
  border-radius: 32px;
  margin: 0 auto;
  position: relative;
  top: 16px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist p {
  font-size: 16px;
  line-height: 24px;
  color: #fc5719;
  border: 3px solid #fc5719;
  border-radius: 12px;
  padding: 24px 16px 16px;
}

#page #campaign-wrapper .point600 {
  padding: 24px 16px;
  background: #ffaf35;
  background: -webkit-gradient(linear, left top, right top, from(#ffaf35), to(#fb5418));
  background: linear-gradient(to right, #ffaf35 0%, #fb5418 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf35', endColorstr='#fb5418',GradientType=1 );
}

#page ul.campaign-code-steps li.slick-slide h3 {
  background: #fc5719;
  margin: 0 0 16px;
  color: white;
}

#page .slick-dots {
  position: relative;
  top: 0;
}

#page .slick-dots li.slick-active button {
  border-color: #fc5719;
  background-color: #fc5719;
}

#page.campaign_detail .l-campaign-02 {
  background: white;
}

#page .js-toggle.is-open .js-toggle__panel {
  max-height: 2000px;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-slide {
  margin: 0 8px;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-slide img {
  width: 100%;
  border: 1px solid #d3d3d3;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-arrow {
  top: auto;
  bottom: -2px;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-arrow::before {
  color: #fc5719;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-next::before {
  content: "\f0a9";
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-prev::before {
  content: "\f0a8";
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2022/group/mobile/img/bg.jpg) no-repeat center top/auto 82% black;
  }
  #page .s-campaign-hero .campaign-hero__schedule a:hover {
    text-decoration: none;
  }
  #page .campaign-code {
    display: inline-block;
    padding: 12px 36px;
  }
  #page .btn-apply .l-inner {
    width: 100%;
  }
  #page .btn-apply .l-inner .trial-btn {
    width: 400px !important;
  }
  #page .btn-apply .l-inner > p {
    text-align: center;
  }
  #page #campaign-wrapper {
    text-align: center;
  }
  #page #campaign-wrapper .btn-apply .l-inner .trial-btn + p {
    text-align: center;
  }
  #page #campaign-wrapper #white-box .l-inner {
    display: inline-block;
    width: auto;
  }
  #page #campaign-wrapper #white-box .l-inner .white-box--normal a:hover {
    text-decoration: none;
  }
  #page #campaign-wrapper .heading--m {
    display: inline-block;
    font-size: 46px;
    line-height: 60px;
    margin: 0 auto 24px;
  }
  #page #campaign-wrapper .ie {
    color: transparent;
  }
  #page #campaign-wrapper .ie:nth-of-type(1) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_1.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(2) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_2.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(3) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_3.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(4) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_4.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(5) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_5.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .l-inner {
    text-align: center;
  }
  #page #campaign-wrapper ol.campaign-steps > li:first-child div.campaign-steps--wrapper {
    margin-top: 0;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #fc5719;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper h2 {
    display: inline-block;
    width: auto;
    padding: 0 24px;
    font-size: 40px;
    line-height: 52px;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body p a:hover {
    text-decoration: none;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist p {
    width: 600px;
    margin: 0 auto;
  }
  #page .slick-dots {
    margin-top: 24px;
  }
  #page .s-delivery-list {
    border: none;
  }
}
/*# sourceMappingURL=style_20220201.css.map */