#page .l-content {
  display: none;
}

#page .s-campaign-hero .campaign-hero__schedule {
  padding: 8px 16px;
}

#page .s-campaign-hero .campaign-hero__schedule p br:last-child {
  display: none;
}

#page #white-box {
  padding: 0 16px;
  text-align: center;
}

#page #white-box .l-inner {
  background: white;
  padding: 16px;
}

#page #white-box .l-inner p a {
  color: #006497;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

#page #white-box .l-inner .white-box--small {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}

#page #white-box .l-inner .white-box--normal {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

#page #campaign-steps-min + h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  padding: 12px 0;
  background: #bf0000;
  color: #ffffff;
}

#page #compare-service .l-inner h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

#page #compare-service .l-inner h2 sup {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

#page #compare-service .l-inner h2 span {
  color: #bf0000;
}

#page #compare-service .l-inner > p {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 24px auto 12px;
}

#page #compare-service .l-inner #stack-competitive-services .l-inner {
  padding: 0;
}

#page #compare-service + h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #bf0000;
  margin: 24px 0 -24px;
  padding: 0;
}

#page #sticky-apply-btn {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ebebeb;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding: 12px 16px 24px;
}

#page #sticky-apply-btn .btn-copy-code {
  border: 2px solid #3f02e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 48px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #3f02e6;
  width: 116px;
  height: 36px;
  background: white;
}

#page #sticky-apply-btn .trial-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #d80000;
  border-radius: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}

#page #sticky-apply-btn .trial-btn::after {
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  background: url(https://music.r10s.jp/external/prod/assets/campaign/common/img/arrow.svg) no-repeat center;
}

#page #sticky-apply-btn .trial-btn a {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

#page .s-campaign-hero .campaign-hero__schedule a {
  color: white;
  text-decoration: underline;
}

#page .campaign-code {
  padding: 12px 36px;
  background: #ffffff;
  border: 2px solid #3f02e6;
  border-radius: 8px;
  width: 240px;
  margin: 0 auto;
  text-align: center;
}

#page .campaign-code p {
  text-align: center;
}

#page .campaign-code p.campaign-code--code {
  color: #3f02e6;
  font-weight: bold;
  margin: 4px 0 8px;
}

#page .campaign-code button {
  padding: 4px 16px;
  font-weight: bold;
  background: #3f02e6;
  color: #ffffff;
  border-radius: 36px;
  border: none;
  margin: 0 auto;
}

#page .campaign-code + div .btn-apply .l-inner {
  width: 100%;
}

#page .btn-apply {
  margin: 12px 0 0;
}

#page .btn-apply .l-inner > * {
  width: 100% !important;
}

#page .btn-apply .l-inner > p {
  text-align: justify;
}

#page #campaign-wrapper {
  background: #f7f7f7;
  padding-bottom: 36px;
}

#page #campaign-wrapper .btn-apply .l-inner .trial-btn + p {
  text-align: justify;
}

#page #campaign-wrapper .heading--m {
  padding: 36px 0 0;
  margin: 0 auto 16px;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #3f02e6;
}

#page #campaign-wrapper p {
  text-align: center;
}

#page #campaign-wrapper p.lead {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #3f02e6;
  margin-bottom: 12px;
}

#page #campaign-wrapper p.lead small {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

#page #campaign-wrapper p.lead-s {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #3f02e6;
  margin-bottom: 12px;
}

#page #campaign-wrapper p.caption {
  font-size: 12px;
  line-height: 16px;
}

#page #campaign-wrapper ol.campaign-steps > li:nth-of-type(1)::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 44px 0 44px;
  border-color: #3f02e6 transparent transparent transparent;
  margin: 24px auto;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper {
  margin: 24px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper h2 {
  background: #3f02e6;
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body {
  background: white;
  padding: 24px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body p a {
  color: #006497;
  text-decoration: underline;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist {
  text-align: center;
  margin: -16px 0 12px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 4px 16px;
  background: #3f02e6;
  display: inline-block;
  border-radius: 32px;
  margin: 0 auto;
  position: relative;
  top: 16px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist p {
  font-size: 16px;
  line-height: 24px;
  color: #3f02e6;
  border: 3px solid #3f02e6;
  border-radius: 12px;
  padding: 24px 16px 16px;
}

#page #campaign-wrapper .point600 {
  padding: 24px 16px;
  background: #3f02e6;
  background: -webkit-gradient(linear, left top, right top, from(#3f02e6), to(#fb5418));
  background: linear-gradient(to right, #3f02e6 0%, #fb5418 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3F02E6', endColorstr='#fb5418',GradientType=1 );
}

#page ul.campaign-code-steps li.slick-slide h3 {
  background: #3f02e6;
  margin: 0 0 16px;
  color: white;
}

#page .slick-dots {
  position: relative;
  top: 0;
}

#page .slick-dots li.slick-active button {
  border-color: #3f02e6;
  background-color: #3f02e6;
}

#page.campaign_detail .l-campaign-02 {
  background: white;
}

#page .js-toggle.is-open .js-toggle__panel {
  max-height: 2000px;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-slide {
  margin: 0 8px;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-slide img {
  width: 100%;
  border: 1px solid #d3d3d3;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-arrow {
  top: auto;
  bottom: -2px;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-arrow::before {
  color: #3f02e6;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-next::before {
  content: "\f0a9";
}

#page #external-campaign-bnr .l-inner .external-campaign-bnr--slick .slick-prev::before {
  content: "\f0a8";
}

#page #campaign-merit {
  margin: 36px auto;
}

#page #rexSurveyEmbedded {
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: url(/assets/campaign/2022/group/mobile/img/bg_20220401.jpg) no-repeat center top/auto 86.4% black;
  }
  #page .s-campaign-hero .campaign-hero__schedule {
    padding: 16px;
  }
  #page .s-campaign-hero .campaign-hero__schedule a:hover {
    text-decoration: none;
  }
  #page #sticky-apply-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 0;
  }
  #page #sticky-apply-btn .btn-copy-code {
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 16px 24px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  #page #sticky-apply-btn .btn-copy-code:hover {
    background: #3f02e6;
    color: white;
    cursor: pointer;
  }
  #page #sticky-apply-btn .trial-btn {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 400px;
    height: 58px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-weight: bold;
  }
  #page #sticky-apply-btn .trial-btn:hover {
    background: #ff1212;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #page #sticky-apply-btn .trial-btn a {
    font-size: 20px;
    height: 100%;
    line-height: 58px;
  }
  #page #campaign-steps-min {
    background: #f7f7f7;
    padding: 24px 0px 36px;
    text-align: center;
  }
  #page #campaign-steps-min .l-inner h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
  }
  #page #campaign-steps-min .l-inner ol {
    width: 860px;
    margin: 24px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12px;
  }
  #page #campaign-steps-min .l-inner ol li {
    width: 280px;
    background: white;
    padding: 12px 24px;
    position: relative;
  }
  #page #campaign-steps-min .l-inner ol li h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin: 0 0 12px;
  }
  #page #campaign-steps-min .l-inner ol li .campaign-steps-min--point {
    font-weight: bold;
    color: #3f02e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4px;
    margin-top: 12px;
  }
  #page #campaign-steps-min .l-inner ol li .campaign-steps-min--point::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2022/group/mobile/img/icon_pointfilled.png) no-repeat center/cover;
  }
  #page #campaign-steps-min .l-inner ol li > p {
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #page #campaign-steps-min + h2 {
    font-size: 46px;
    line-height: 60px;
  }
  #page #compare-service .l-inner {
    text-align: center;
  }
  #page #compare-service .l-inner h2 {
    font-size: 46px;
    line-height: 60px;
  }
  #page #compare-service .l-inner h2 sup {
    font-size: 16px;
    line-height: 24px;
    top: -1.5em;
  }
  #page #compare-service + h2 {
    margin-top: 36px;
    font-size: 46px;
    line-height: 60px;
  }
  #page .campaign-code {
    display: inline-block;
    padding: 12px 36px;
  }
  #page .btn-apply .l-inner {
    width: 100%;
  }
  #page .btn-apply .l-inner .trial-btn {
    width: 400px !important;
  }
  #page .btn-apply .l-inner > p {
    text-align: center;
  }
  #page #campaign-wrapper {
    text-align: center;
  }
  #page #campaign-wrapper .btn-apply .l-inner .trial-btn + p {
    text-align: center;
  }
  #page #campaign-wrapper #white-box .l-inner {
    display: inline-block;
    width: auto;
  }
  #page #campaign-wrapper #white-box .l-inner .white-box--normal a:hover {
    text-decoration: none;
  }
  #page #campaign-wrapper .heading--m {
    display: inline-block;
    font-size: 46px;
    line-height: 60px;
    margin: 0 auto 24px;
  }
  #page #campaign-wrapper .ie {
    color: transparent;
  }
  #page #campaign-wrapper .ie:nth-of-type(1) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_1.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(2) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_2.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(3) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_3.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(4) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_4.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(5) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_5.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .l-inner {
    text-align: center;
  }
  #page #campaign-wrapper ol.campaign-steps > li:first-child div.campaign-steps--wrapper {
    margin-top: 0;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #3f02e6;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper h2 {
    display: inline-block;
    width: auto;
    padding: 0 24px;
    font-size: 40px;
    line-height: 52px;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body p a:hover {
    text-decoration: none;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist p {
    width: 600px;
    margin: 0 auto;
  }
  #page .slick-dots {
    margin-top: 24px;
  }
  #page .s-delivery-list {
    border: none;
  }
  #page .campaign-code-wrapper {
    text-align: center;
  }
  #page #white-box .l-inner p a:hover {
    text-decoration: none;
  }
  #page .campaign-code button {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  #page .campaign-code button:hover {
    cursor: pointer;
    background: rgba(63, 2, 230, 0.1);
    color: #3f02e6;
  }
}
/*# sourceMappingURL=style_20220401.css.map */