#page .campaign-hero__schedule__note a {
  color: white;
  text-decoration: underline;
}

#page #campaign-about {
  padding: 36px 0;
}

#page #campaign-about > .l-inner > h1 {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: white;
  background: #f59600;
  border-radius: 16px 16px 0px 0px;
  padding: 0.5em 0;
}

#page #campaign-about > .l-inner > div {
  padding: 24px 16px;
  border: 3px solid #f59600;
}

#page #campaign-about > .l-inner > div > ol > li {
  margin-bottom: 36px;
}

#page #campaign-about > .l-inner > div > ol > li > h2 {
  margin: 0 0 24px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #f59600;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page #campaign-about > .l-inner > div > ol > li > h2 span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
  background: #f59600;
  border-radius: 20px;
  margin-left: 8px;
}

#page #campaign-about > .l-inner > div > ol > li > h3 {
  margin: 36px 0 12px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

#page #campaign-about > .l-inner > div > ol > li p.lead {
  margin: 24px 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#page #campaign-about > .l-inner > div > ol > li p.lead strong {
  color: #bf0000;
}

#page #campaign-about > .l-inner > div > ol > li .btn-apply {
  margin: 24px 0 12px;
}

#page #campaign-about > .l-inner > div > ol > li .btn-apply .l-inner .trial-btn {
  width: 100%;
}

#page #campaign-about > .l-inner > div > ol > li .btn-apply + p {
  line-height: 1.5;
  font-size: 12px;
}

#page #campaign-about > .l-inner > div > ol > li .btn-apply + p small {
  font-size: 100%;
}

#page #campaign-about > .l-inner > div > ol > li .code {
  margin: 24px 0;
}

#page #campaign-about > .l-inner > div > ol > li .code p {
  text-align: center;
}

#page #campaign-about > .l-inner > div > ol > li .code p:first-of-type {
  background: #f59600;
  width: 100%;
  color: white;
  padding: 0.5em 0;
}

#page #campaign-about > .l-inner > div > ol > li .code p:last-of-type {
  border: 2px solid #f59600;
  width: 100%;
  padding: 0.5em 0;
}

#page #campaign-about > .l-inner > div > ol > li .campaign-code-steps {
  padding-bottom: 24px;
}

#page #campaign-about > .l-inner > div > ol > li .btn-red {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 auto;
  background: #bf0000;
  border-radius: 10px;
}

#page #campaign-about > .l-inner > div > ol > li .btn-red a {
  display: block;
  color: white;
  text-align: center;
}

#page #campaign-about > .l-inner > div > ol::after {
  content: "";
  display: block;
  width: 35px;
  height: 16px;
  background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/rakuma/img/polygon.png) no-repeat center/cover;
  margin: 0 auto 36px;
}

#page #campaign-about > .l-inner > div > div > p {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin: 12px 0 0;
}

#page #campaign-about > .l-inner > div > div > p small {
  font-size: 100%;
}

#page #campaign-about > .l-inner > div > div > p a {
  color: #bf0000;
}

#page .item-list .js-toggle__trigger {
  background: whitesmoke;
  margin: 24px 0;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    padding: 0;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/rakuma/img/bg.png) no-repeat center top/auto 81% #bf0000;
  }
  #page .campaign-hero__schedule__note a:hover {
    text-decoration: none;
  }
  #page #campaign-about {
    padding: 48px 0;
  }
  #page #campaign-about > .l-inner > h1 {
    padding: 24px 0;
  }
  #page #campaign-about > .l-inner > div {
    padding: 36px 24px;
  }
  #page #campaign-about > .l-inner > div > ol > li .btn-apply .l-inner {
    width: 100%;
  }
  #page #campaign-about > .l-inner > div > ol > li .btn-apply .l-inner .trial-btn {
    width: 400px;
  }
  #page #campaign-about > .l-inner > div > ol > li .btn-apply + p {
    text-align: center;
  }
  #page #campaign-about > .l-inner > div > ol > li .code {
    display: flex;
    justify-content: center;
  }
  #page #campaign-about > .l-inner > div > ol > li .code p:first-of-type {
    width: 200px;
    padding: 12px 24px;
  }
  #page #campaign-about > .l-inner > div > ol > li .code p:last-of-type {
    width: 300px;
    padding: 12px 24px;
  }
  #page #campaign-about > .l-inner > div > ol > li .btn-red {
    width: 400px;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    transition: all 0.2s;
  }
  #page #campaign-about > .l-inner > div > ol > li .btn-red:hover {
    cursor: pointer;
    background: #ff1212;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #page #campaign-about > .l-inner > div > div figure {
    text-align: center;
  }
}
