#page .campaign-hero__schedule {
  color: black;
}

#page .campaign-hero__schedule a {
  color: black;
  text-decoration: underline;
}

#page #steps .l-inner h2 {
  padding: 0;
  margin: 4rem 0 1em;
}

#page #steps .l-inner .brief {
  text-align: center;
}

#page #steps .l-inner .brief strong {
  color: red;
}

#page #steps .l-inner .brief b {
  background: linear-gradient(transparent 60%, #fff568 60%);
}

#page .btn-apply .l-inner .code > div:first-child {
  background: #8ce5e6;
  color: black;
  border: #8ce5e6;
}

#page .btn-apply .l-inner .code > div:last-child {
  border: 2px solid #8ce5e6;
}

#page .btn-apply + p {
  text-align: center;
  margin: 60px auto;
}

#page .item-list .item__list {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    position: relative;
    padding: 0;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/yamawake/img/bg_20200701.jpg) no-repeat center top/auto 82%;
  }
  #page .s-campaign-hero::after {
    content: "";
    background: #8ce5e6;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  #page .campaign-hero__schedule a:hover {
    text-decoration: none;
  }
  #page #steps .l-inner .brief {
    font-size: 2rem;
  }
  #page #steps .btn-apply {
    margin: 3rem auto 6rem;
  }
  #page #steps .btn-apply .l-inner {
    width: 100%;
    padding: 0;
  }
}
