#page .s-campaign-hero {
  padding: 0;
  background: url("https://music.r10s.jp/external/prod/assets/campaign/2019/group/rmobile/img/bg.jpg")
      no-repeat center top/auto 80.9%,
    linear-gradient(
      to bottom,
      #f2f2f2 0%,
      #f2f2f2 80.9%,
      #0d004c 80.9%,
      #0d004c 100%
    );
}

#page .s-campaign-hero .campaign-hero__schedule__note a {
  color: #ffd700;
}

#page .s-campaign-hero .campaign-hero__schedule__note a:hover {
  color: #ffff00;
}

#page .campaign-close {
  margin: 6rem auto;
}

#page .campaign-close small {
  color: black;
}
