 #page .l-inner {
     width: 950px;
 }
 
 #page #campaign-step {
     background: #8C0000;
     margin: 0 auto;
     padding-top: 3.2rem;
     padding-bottom: 9rem;
 }
 
 #page #campaign-step .l-inner>h2 {
     margin: 0 auto 2.4rem;
     text-align: center;
     color: #F5FF00;
 }
 
 #page #campaign-step .l-inner>ol>li h3.step-ttl,
 #page #campaign-playlist .l-inner>h3 {
     margin: 0 auto;
     padding: 0;
     font-size: 3.6rem;
     line-height: 2.0rem;
     font-weight: bold;
     color: #006C00;
     text-align: center;
 }
 
 #page #campaign-step .l-inner>ol>li h4,
 #page #campaign-playlist .playlist>h4 {
     font-size: 2rem;
     text-align: center;
     margin: 0 auto 2.4rem;
 }
 
 #page #campaign-step .l-inner>ol>li,
 #page #campaign-playlist .playlist {
     position: relative;
     background: white;
     border-radius: 12px;
     text-align: center;
     margin: 0 auto;
     padding: 3.2rem;
 }
 
 #page #campaign-step .l-inner>ol>li>p.lead,
 #page #campaign-playlist .l-inner>p.lead {
     font-size: 1.8rem;
     font-weight: bold;
     text-align: center;
     margin: 2.4rem;
 }
 
 #page #campaign-playlist .l-inner>p.lead>span {
     color: #8C0000;
 }
 
 #page #campaign-step .l-inner>ol>li::after,
 #page #campaign-playlist .l-inner .playlist::after {
     content: "";
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 5rem 5rem 0 5rem;
     border-color: #F5FF00 transparent transparent transparent;
     position: absolute;
     bottom: -5rem;
     left: 50%;
     margin-left: -5rem;
 }
 
 #page #campaign-step .l-inner>ol>li>h3 {
     margin: 0;
 }
 
 #page #campaign-step .l-inner>ol>li:first-child {
     margin-bottom: 8.2rem;
 }
 
 #page #campaign-step .l-inner>ol>li>.btn-apply {
     margin: 1.6rem auto;
 }
 
 #page #campaign-step .l-inner>ol>li>.btn-apply>.l-inner {
     width: 100%;
 }
 
 #page #campaign-step .l-inner>ol>li .code {
     margin: 24px 0;
 }
 
 #page #campaign-step .l-inner>ol>li.code>div {
     text-align: center;
 }
 
 #page #campaign-step .l-inner>ol>li .code>div:first-of-type {
     background: #006C00;
     width: 100%;
     color: white;
     font-weight: bold;
     padding: 0.5em 0;
 }
 
 #page #campaign-step .l-inner>ol>li .code>div:last-of-type {
     border: 2px solid #006C00;
     width: 100%;
     padding: 0.5em 0;
 }
 
 #page #campaign-step .l-inner>ol>li .campaign-code-steps {
     padding-bottom: 24px;
 }
 /*------ STEP3 ------*/
 
 #page #campaign-playlist {
     background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/holiday/img/bg2.jpg) repeat center 100%;
     background-size: contain;
 }
 
 #page #campaign-playlist .l-inner {
     padding-top: 3.2rem;
     padding-bottom: 3.2rem;
 }
 
 #page #campaign-playlist .playlist ol>li {
     display: flex;
 }
 
 #page #campaign-playlist .playlist ol>li>div {
     width: 426px;
     margin-right: 2.4rem;
     margin-top: 1.2rem;
     margin-bottom: 1.2rem;
 }
 
 #page #campaign-playlist .playlist ol>li>div .play-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 70px;
     background: #006C00;
     color: white;
     border-radius: 40px;
     font-size: 1.8rem;
     text-align: center;
     box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
 }
 
 #page #campaign-playlist .playlist ol>li>div .play-btn:hover {
     background: #00b700;
     box-shadow: none;
     transition: all 0.2s;
 }
 
 #page #campaign-playlist .playlist ol>li>div .play-btn>small {
     font-size: 1.6rem;
     line-height: 2rem;
 }
 
 #page #campaign-playlist .playlist ol>li>div:last-child {
     margin-right: 0;
 }
 
 #page #campaign-playlist .playlist ol>li>div>p.play-ttl {
     font-size: 1.6rem;
     color: #006C00;
     margin-bottom: 0.8rem;
 }
 
 #page #campaign-playlist figure {
     margin: 9rem auto 0;
     width: 920px;
 }
 
 #page #campaign-playlist figure img {
     width: 100%;
 }
 
 #page #merit .l-inner {
     width: 1104px;
 }
 
 #page #merit .l-inner>ol {
     display: block;
     margin: 3.2rem auto 0;
 }
 
 #page #merit .l-inner>ol>li>.screenshot {
     background: #006C00;
 }
 
 #page ul.campaign-code-steps li.slick-slide figure+p {
     text-align: left;
 }
 
 @media screen and (max-width: 1100px) {
     #page .l-inner {
         width: 100%;
     }
     #page #merit .l-inner {
         width: 100%;
     }
     #page #campaign-playlist figure {
         width: 100%;
     }
 }
 
 @media screen and (max-width: 960px) {
     #page .l-inner {
         width: 100%;
     }
     #page #campaign-step .l-inner h2 img,
     #page #campaign-step .l-inner>ol>li>figure>img {
         width: 100%;
     }
     #page #campaign-playlist .playlist ol>li {
         display: block;
     }
     #page #campaign-playlist .playlist ol>li>div {
         width: 100%;
     }
 }
 
 @media screen and (max-width: 768px) {
     #page section {
         padding: 1.6rem 0;
     }
     #page .heading--m {
         margin: 3.2rem 1.6rem 2.2rem;
     }
     #page #campaign-playlist .playlist ol>li>div .play-btn {
         font-size: 1.4rem;
         line-height: 2rem;
     }
     #page #campaign-playlist .playlist ol>li>div .play-btn>small {
         font-size: 1.2rem;
         line-height: 1.6rem;
     }
 }
 
 @media screen and (min-width: 768px) {
     #page .s-campaign-hero {
         padding: 0;
         background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/holiday/img/bg.jpg) no-repeat center top/auto 84.5% black;
     }
     #page #campaign-step .l-inner>ol>li .code {
         display: flex;
         justify-content: center;
     }
     #page #campaign-step .l-inner>ol>li .code div:first-of-type {
         width: 200px;
         padding: 12px 24px;
     }
     #page #campaign-step .l-inner>ol>li .code div:last-of-type {
         width: 300px;
         padding: 12px 24px;
     }
 }