html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ul {
  list-style: none;
}
body {
  line-height: 1;
}
#page .bg-latest a,
#page .bg-latest a:hover,
#page .bg-latest a:visited {
  color: inherit !important;
}
#page .lcontent {
}

#page .article {
  margin: 0 auto;
  max-width: 777px;
  padding: 0;
  margin-top: 32px;
}
/* タイトル */
.article h1 {
  padding: 0 15px;
  font-size: 30px;
  line-height: 120%;
}
/* メイン画像 */
.main-image img {
  aspect-ratio: 80 / 42;
  height: auto;
  width: 100%;
  margin-bottom: 22px;
}
/* 記事公開日エリア */
.article .author-start {
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  color: #787878;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: flex-start;
  letter-spacing: 0.3px;
  gap: 12px;
  line-height: 1.38;
  margin-bottom: 20px;
  margin-top: 33px;
  padding: 0 15px 15px 15px;
}
.author-area {
  display: flex;
  flex: row;
}
/* snsエリア */
.sns-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
/* snsアイコンボタン */
.btn-x,
.btn-facebook {
  width: 98px !important;
  height: auto;
  padding-right: 12px;
}
/* サムネイル画像 */
.article .author-end .author-img,
.article .author-start .author-img {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 50px !important;
  margin-right: 12px;
  border: 1px solid #d9d9d9 !important;
}
.article .author-desc {
  color: #646464;
  font-size: 13px;
  line-height: 1.85;
  padding: 0;
  word-break: break-word;
}
.article .author-end .author-desc span,
.article .author-start .author-desc span {
  color: #646464;
  font-size: 15px;
  line-height: 1.6;
  max-height: inherit;
}
.article .author-end {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px 13px;
  color: #787878;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: flex-start;
  letter-spacing: 0.3px;
  line-height: 1.38;
  margin: 24px 0px 48px 0px;
}
a,
a:hover {
  text-decoration: none;
}
/* タグエリア */
.article .tags {
  padding: 0 15px;
}
/* タグベース設定 */
.article .tags div,
.article-card .tags div {
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 8px;
  white-space: nowrap;
  border-radius: 4px;
}
/* タグ　特集 */
.article .tags .feature,
.article-card .tags .feature {
  background: #09f;
}
/* タグ　コラム */
.article .tags .column,
.archive .tags .column {
  background: #ec0606;
}
/* タグ　インタビュー */
.article .tags .interview,
.archive .tags .interview {
  background: #f59600;
}
/* タグ　ランキング */
.article .tags .ranking,
.archive .tags .ranking {
  background: #009500;
}
/* コラムエリアのコンテナ */
.article .article-float-range {
  padding: 0 15px;
}
/* コラム説明記事 */
.column-desc p {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 32px;
  margin: 16px 0;
}
/* 記事１グループ分 */
.article-group {
  display: flex;
  padding-top: 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
/* 段落テキストの枠設定 */
.article-header {
  display: flex;
  padding: 24px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-top: 4px solid #bf0000;
  background: #f8f8f8;
}
.article-header p {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
/* (Player)ウェブプレイヤー用記事ブロック */
.song-article-block {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 0 0 #000;
  width: 100%;
}
/* (Video)Youtube用記事ブロック */
.video-article-block {
  max-width: 800px; /* 例: 最大幅を800pxに設定 */
  width: 100%; /* これで、親要素の幅に合わせて広がる */
  margin: 0 auto; /* 中央寄せ */
  box-shadow: 4px 4px 0 0 #000;
}
/* (Player)J写エリア */
.song-pic-area {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  background: #f3f3f3;
}
.video-article-block .video-area {
  position: relative; /* 子要素のiframeの絶対配置の基準にする */
  width: 100%; /* 親要素の幅いっぱいに広げる */
  padding-bottom: 56.25%; /* 16:9 のアスペクト比を維持するためのパディング (9 / 16) * 100 = 56.25 */
  height: 0; /* 高さはパディングで決定されるため、0に設定 */
  overflow: hidden; /* はみ出したコンテンツを非表示にする（念のため） */
}
/* iframe のスタイル */
.video-article-block .video-area iframe {
  position: absolute; /* 親要素に対して絶対配置 */
  top: 0; /* 親要素の上端に配置 */
  left: 0; /* 親要素の左端に配置 */
  width: 100%; /* 親要素の幅いっぱいに広げる */
  height: 100%; /* 親要素の高さ（パディングで決まる）いっぱいに広げる */
  border: 0; /* iframeのデフォルトのボーダーを消す */
}
/* (Video)Youtube設定 */

.video-area img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
/* (Player)ジャケット画像 */
.song-pic-area img {
  width: 120px !important;
  height: auto;
}

/* ウェブプレイヤーボタン */
.btn-player {
  display: flex;
  padding: 8px 12px 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #d80000;
}
.btn-player p {
  color: white;
}
/* (Player)曲・アーティストエリア */
.song-desc-area {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid #000;
  background: #fff;
}
/* (Video)曲・アーティストエリア */
.video-name-group {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background: #f7f7f7;
}
.song-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.artist-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 12px;
}
.artist-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.video-artist-desc {
  padding: 12px 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* 最新の記事エリア */
.bg-latest {
  background-color: #fafafa;
}
.latest {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 770px;
  padding: 24px 15px;
  width: 100%;
}
.article-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4px;
}
/* 最新記事タイトル */
#page .title-latest {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 0;
}
#page .page-subtitle-en {
  color: #bf0000;
  font-weight: 900;
  font-size: 14px;
}
.page-subtitle {
  color: #111;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  padding: 12px 0 32px;
  text-align: center;
}
/* コンテンツエリア グリッド設定 */
.latest ul {
  column-gap: 24px;
  display: grid;
  row-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.latest ul li:first-child {
  grid-column-end: span 6;
}
.latest ul li {
  grid-column-end: span 3;
}
/* カバー画像 */
.article-card .cover-img img {
  height: auto;
  transition: transform 0.8s ease-in-out;
  width: 100%;
}
/* 記事タイトル */
.article-card .name {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
}
/* 掲載日付 */
.article-card .date {
  color: #646464;
  font-size: 14px;
  line-height: 14px;
  margin-top: auto;
}
/* まとめページ関連 */
#page .hero-container {
  height: 440px;
  display: flex;
  padding: 48px 12px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 32px;
  text-align: center;
  color: #000000;
  position: relative; /* 子要素の絶対配置の基準にする */
  overflow: hidden; /* 画像がはみ出さないように */
  background: url('/assets/column/img/common/bg.png') lightgray 50% / cover no-repeat;
}
/* レコード画像 */
.top-right-image {
  position: absolute;
  top: 0; /* 親要素の上端に配置 */
  right: 0; /* 親要素の右端に配置 */
  width: 220px !important;
  height: auto;
  transform: translate(45%, -40%);
  z-index: 0;
}
/* レコード画像 */
.bottom-left-image {
  position: absolute;
  bottom: 0; /* 親要素の下端に配置 */
  left: 0; /* 親要素の左端に配置 */
  width: 220px !important;
  height: auto;
  transform: translate(-45%, 40%);
  z-index: 0;
}

#page .articles-logo-container {
  display: flex;
  padding: 9px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}
#page .articles-logo-set {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #000000;
}
#page .articles-logo-icon {
  width: 47.464px;
  height: 32px;
  aspect-ratio: 47.46/32;
}
#page .articles-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  white-space: nowrap;
}
#page .articles-line {
  width: 90%;
  height: 3px;
  background-color: #bf0000;
}
#page .articles-subtitle {
  color: #000000;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
  white-space: nowrap;
}
#page .hero-desc {
  font-size: 18px;
  line-height: 140%;
}

/* アーカイブエリア設定 */
#page .bg-archive {
  background-color: #ededed;
  padding: 12px;
}
#page .archive {
  display: block;
  margin: 0 auto;
  max-width: 770px;
  padding: 24px 15px;
  border-radius: 6px;
  background-color: white;
}
/* コンテンツエリア グリッド設定 */
.archive ul {
  column-gap: 12px;
  display: grid;
  row-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.archive ul li {
  grid-column-end: span 3;
}
.archive .name {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical; /* 垂直方向に配置 */
  overflow: hidden; /* 溢れた部分を隠す */
  text-overflow: ellipsis; /* 溢れた部分に「...」を表示 */
  -webkit-line-clamp: 2;
}
/* タグエリア */
.archive .tags {
  padding: 0 8px;
  font-size: 12px;
}
/* アーカイブボタン周りの設定 */
.more-archive-container {
  padding: 32px 0;
  display: flex;
  justify-content: center;
}
.btn-more-archive {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bf0000;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 24px;
  border: solid 1px #bf0000;
}
.btn-more-archive:hover {
  background-color: #bf0000;
  color: white;
}
/*----- ランキングページ用設定 ------*/
/* ランキングタイトル */
#page h2.heading.heading--m {
  background: #ff0080;
  color: white;
  padding: 2rem;
  font-size: 20px;
  text-align: center;
}
#page .heading--m {
  margin-bottom: 0 !important;
}
/* ランキングリスト設定 */
#page .monthlyRanking li {
  list-style: none;
}
#page .monthlyRanking {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
#page .monthlyRanking > li {
  width: 50%;
  padding: 12px;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  background-color: white;
}
#page .blue-block .monthlyRanking > li {
  border-right: 4px solid #ff0080;
  border-bottom: 4px solid #ff0080;
}
#page .monthlyRanking > li > a figure {
  max-width: 200px;
  margin: 16px auto;
  text-align: center;
}
#page .monthlyRanking > li > a figure img {
  width: 100%;
}
#page .blue-block .monthlyRanking > li > a p {
  color: #ff0080;
  font-size: 1rem;
  line-height: 140%;
}
#page .monthlyRanking > li > a p.rank {
  font-size: 24px;
  padding: 0.5rem;
  font-weight: bold;
}
#page .blue-block .monthlyRanking > li > a p.rank {
  border-bottom: 4px solid #ff0080;
  color: #ff0080;
}
#page .monthlyRanking > li > a p.title {
  font-weight: bold;
  font-size: 20px;
}
#page .monthlyRanking > li:nth-child(1) {
  width: 100%;
}
#page .blue-block .monthlyRanking > li:nth-child(1) {
  border-top: 4px solid #ff0080;
  border-left: 4px solid #ff0080;
}
#page .monthlyRanking > li:nth-child(1) > div figure {
  height: 200px;
}
#page .monthlyRanking > li:nth-child(2) {
  width: 100%;
}
#page .blue-block .monthlyRanking > li:nth-child(2) {
  border-left: 4px solid #ff0080;
}
#page .monthlyRanking > li:nth-child(2) > div figure {
  height: 200px;
}
#page .monthlyRanking > li:nth-child(3) {
  width: 100%;
}
#page .blue-block .monthlyRanking > li:nth-child(3) {
  border-left: 4px solid #ff0080;
}
#page .monthlyRanking > li:nth-child(3) > div figure {
  height: 200px;
}
#page .blue-block .monthlyRanking > li:nth-child(4n) {
  border-left: 4px solid #ff0080;
}
#page .blue-block .monthlyRanking > li:nth-child(even) {
  border-left: 4px solid #ff0080;
}

#page .blue-block {
  background-color: #ffeaf3;
  padding: 24px 12px !important;
}
#page .blue-block .monthlyRanking > li:hover {
  background: #ffeaf3;
  cursor: pointer;
}
#page .period-desc {
  font-weight: 500;
  text-align: center;
  line-height: 140%;
  padding-bottom: 1rem;
}
#page .blue-block .period-desc {
  color: #ff0080;
}
#page .blue-block .period-desc li {
  list-style: none;
}
#page .underline a {
  text-decoration: underline;
  color: #bf0000;
}

/* 共通設定 */
.is-pc-hidden {
  display: block;
}
.is-sp-hidden {
  display: none;
}
.sp-break {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* PC Setting///////////////////////////////////////// */
@media screen and (min-width: 767px) {
  /* 共通設定 */
  .is-pc-hidden {
    display: none;
  }
  .is-sp-hidden {
    display: block;
  }
  .sp-break {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  /* 記事公開日エリア */
  .article .author-start {
    flex-direction: row;
    justify-content: space-between;
  }
  /* (Player)曲・アーティストエリア */
  .song-desc-area {
    width: 100%;
  }
  /* (Player)ウェブプレイヤー用記事ブロック */
  .song-article-block {
    flex-direction: row;
  }
  .song-pic-area {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 12px;
  }
  /* (Player)ジャケット画像 */
  .song-pic-area img {
    width: 170px !important;
    height: auto;
  }
  /* 曲名 */
  .song-name {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  /* 最新記事のグリッド設定 */
  .latest ul li:first-child {
    grid-column-end: span 3;
  }
  .article .author-end {
    margin: 24px 0px 50px 0px;
  }
  /* まとめページ関連 */
  /* まとめページ関連 */
  #page .hero-container {
    height: 350px;
  }
  #page .articles-logo-container {
    display: flex;
    padding: 9px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #000000;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
  #page .articles-logo-set {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  #page .articles-logo-icon {
    width: 47.464px;
    height: auto;
    aspect-ratio: 47.46/32;
  }
  #page .articles-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    white-space: nowrap;
  }
  #page .articles-line {
    width: 3px;
    height: 70px;
    background-color: #bf0000;
  }
  #page .articles-subtitle {
    font-size: 36px;
  }
  #page .hero-desc {
    font-size: 24px;
    line-height: 140%;
  }

  .latest-title {
    font-size: 32px;
    line-height: 120%;
  }
  /* レコード画像 */
  .top-right-image {
    width: 350px !important;
  }
  /* レコード画像 */
  .bottom-left-image {
    width: 350px !important;
  }

  /* アーカイブエリア設定 */
  #page .bg-archive {
    background-color: #ededed;
    padding: 36px;
  }
  #page .archive {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    padding: 24px 24px;
    border-radius: 6px;
    background-color: white;
  }
  /* コンテンツエリア グリッド設定 */
  .archive ul {
    column-gap: 24px;
    display: grid;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .archive ul li {
    grid-column-end: span 2;
  }
  .archive .page-subtitle-en {
    font-size: 16px !important;
  }
  .archive .name {
    font-size: 20px;
  }
  /* タグエリア */
  .archive .tags {
    padding: 0 8px;
    font-size: 14px;
  }
  .more-archive-container {
    padding: 32px 0;
    display: flex;
    justify-content: center;
  }
  /* ランキングリスト設定 */
  #page h2.heading.heading--m {
    font-size: 24px;
  }
  #page .monthlyRanking {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  #page .monthlyRanking > li {
    width: 25%;
    padding: 1rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    background-color: white;
  }
  #page .blue-block .monthlyRanking > li {
    border-right: 4px solid #ff0080;
    border-bottom: 4px solid #ff0080;
  }
  #page .monthlyRanking > li > a figure {
    max-width: 200px;
    margin: 16px auto;
    text-align: center;
  }
  #page .monthlyRanking > li > a figure img {
    width: 100%;
  }
  #page .blue-block .monthlyRanking > li > a p {
    color: #ff0080;
    line-height: 1.5;
    font-size: 14px;
  }
  #page .monthlyRanking > li > a p.rank {
    font-size: 24px;
    padding: 0 8px 8px;
    font-weight: bold;
  }
  #page .blue-block .monthlyRanking > li > a p.rank {
    border-bottom: 4px solid #ff0080;
    color: #ff0080;
  }
  #page .monthlyRanking > li > a p.title {
    font-weight: bold;
    font-size: 20px;
  }
  #page .monthlyRanking > li:nth-child(1) {
    width: 33.3333333333%;
  }
  #page .blue-block .monthlyRanking > li:nth-child(1) {
    border-top: 4px solid #ff0080;
    border-left: 4px solid #ff0080;
  }
  #page .monthlyRanking > li:nth-child(1) > div figure {
    height: 200px;
  }
  #page .monthlyRanking > li:nth-child(2) {
    width: 33.3333333333%;
  }
  #page .blue-block .monthlyRanking > li:nth-child(2) {
    border-top: 4px solid #ff0080;
    border-left: none;
  }
  #page .monthlyRanking > li:nth-child(2) > div figure {
    height: 200px;
  }
  #page .monthlyRanking > li:nth-child(3) {
    width: 33.3333333333%;
  }
  #page .blue-block .monthlyRanking > li:nth-child(3) {
    border-top: 4px solid #ff0080;
    border-left: none;
  }
  #page .monthlyRanking > li:nth-child(3) > div figure {
    height: 200px;
  }

  #page .blue-block .monthlyRanking > li:nth-child(even) {
    border-left: none;
  }
  #page .blue-block .monthlyRanking > li:nth-child(4n) {
    border-left: 4px solid #ff0080;
  }

  #page .blue-block {
    padding: 24px 12px !important;
  }
  #page .blue-block .monthlyRanking > li:hover {
    background: #ffdfeb;
    cursor: pointer;
  }
}
