#page .s-delivery-list {
  border-top: none;
  border-bottom: none;
}
#page .l-inner .campaign-hero__schedule p {
  text-align: center;
  line-height: 1;
}
#page .l-inner p {
  line-height: 1.9;
}
#page .content-box__text {
  margin-top: 0;
}
#page #howtobox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 650px;
  margin: 0 auto;
}
#page #howtobox ul li {
  width: 300px;
}
#page #howtobox ul li:first-child {
  position: relative;
}
#page #howtobox ul li:first-child::after {
  position: absolute;
  top: 160px;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-width: 40px 0 40px 40px;
  border-style: solid;
  border-color: transparent transparent transparent #d78d2d;
  content: '';
}
#page #howtobox ul li div img {
  width: 300px;
}
#page #howtobox ul li p {
  padding: 20px;
  text-align: left;
}
#page .newRelease {
  display: flex;
  flex-flow: row-reverse;
  margin-bottom: 40px;
}
#page .newRelease div p {
  padding-right: 20px;
}
#page .leadTxt .l-inner .lead {
  line-height: 2;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
  margin-bottom: 40px;
  font-weight: bold;
}
#page .leadTxt .l-inner p {
  text-align: justify;
}
#page .leadTxt .l-inner p span {
  font-weight: bold;
  font-size: 18px;
}
#page .lyrics .l-inner .lyricsBox {
  display: flex;
  justify-content: space-around;
  background: #EFEFEF;
  padding: 30px;
  margin: 50px auto;
}
#page .lyrics .l-inner .lyricsBox div:last-child {
  margin-top: 77px;
}
#page .lyrics .l-inner .lyricsBox .ttl {
  font-size: 22px;
  font-weight: 500;
}
#page .lyrics .l-inner .lyricsBox .artist {
  margin-bottom: 20px;
}
#page .lyrics .l-inner .lyricsBox p {
  line-height: 1.8;
}
#page .backNo {
  width: 600px;
  margin: 0 auto 50px;
}
#page .backNo a {
  display: block;
}
#page .backNo a:hover {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  opacity: .8;
}
#page .aboutRuann {
  padding: 0 0 50px;
}
#page .aboutRuann .l-inner {
  display: flex;
  justify-content: space-between;
}
#page .content-box {
  position: relative;
  width: 950px;
  margin: 0 auto;
}
#page .aboutRuann content-box__image {
  width: 40%;
}
#page .aboutRuann .content-box__text {
  width: 50%;
}
#page .content-box .content-box__text {
  position: absolute;
  right: -310px;
  bottom: 110px;
  width: 950px;
  margin: 0 !important;
  padding: 0 !important;
}
#page .content-box__text p span {
  font-weight: bold;
}
#page .content-box .l-inner {
  padding: 0 !important;
}
#page .content-box .content-box__image {
  width: 950px;
}
#page .wrapper {
  margin: 30px auto 40px;
  background: #ffff;
  padding: 40px 40px 1px;
  border-radius: 10px;
}
#page .text_wrapper {
  position: relative;
  margin-bottom: 45px;
}
#page .text {
  height: 280px;
  overflow: hidden;
  padding-bottom: 40px;
}
#page .show_more, #page .show_more2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0;
  padding-top: 160px;
  text-align: center;
  line-height: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 70%);
  cursor: pointer;
  transition: bottom 0.2s;
}
#page .active {
  background: none;
}
#page .heading--m {
  position: relative;
  padding-top: 50px;
  margin-bottom: 60px;
}
#page .heading--m::before {
  content: '';
  position: absolute;
  bottom: -20px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #d16174;
}
#page h3 {
  border-bottom: 1px solid;
  margin: 0 0 20px;
  padding-bottom: 5px;
}
#page .btn-apply {
  margin-bottom: 50px;
}
#page .commentBox {
  display: flex;
  justify-content: space-between;
}
#page .commentBox div h3 {
  background: #fff0f3;
  border-bottom: none;
  padding: 2px 5px;
  font-style: italic;
  margin-bottom: 25px;
}
#page .commentBox div img {
  width: 100%;
}
#page .commentBox div:first-child {
  width: 30%;
}
#page .commentBox div:last-child {
  width: 68%;
}
#page .br-sp {
  display: none;
}
#page #HTMLBlock1848 .heading--m::before {
  background-color: #d78d2d;
}
#page #HTMLBlock1597 + #HTMLBlock957 #btn-apply div:hover {
  margin: 45px auto 10px;
}

/*========  SP  ========*/
@media screen and (max-width: 767px) {
  #page .lyrics .l-inner .lyricsBox {
    display: block;
    padding: 20px;
    margin: 30px 0;
  }
  #page .lyrics .l-inner .lyricsBox p {
    line-height: 1.5;
  }
  #page .lyrics .l-inner .lyricsBox div:last-child {
    margin-top: 30px;
  }
  #page .aboutRuann .l-inner {
    display: block;
  }
  #page .aboutRuann .content-box__text {
    width: 100%;
    margin-top: 20px;
  }
  #page .content-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    padding: 32px 16px 48px;
    padding-top: 32px;
  }
  #page .content-box .content-box__image {
    width: 100%;
  }
  #page .content-box .content-box__text {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    padding: 2vw 2vw 0 !important;
    position: static;
  }
  #page #howtobox {
    overflow-x: scroll;
  }
  #page #howtobox ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 165vw;
    margin: 0 auto 5vw;
  }
  #page #howtobox ul li {
    width: 70vw;
  }
  #page #howtobox ul li div img {
    width: 70vw;
  }
  #page .backNo {
    margin: 30px 15px;
    width: auto;
  }
  #page .aboutRuann {
    padding: 0 0 30px;
  }
  #page .leadTxt .l-inner .lead {
    margin-bottom: 30px;
    line-height: 1.7;
  }
  #page .leadTxt .l-inner p {
    padding: 15px 10px 0;
  }
  #page .leadTxt .l-inner .newRelease {
    display: block;
    margin-bottom: 30px;
  }
  #page .leadTxt .commentBox {
    display: block;
  }
  #page .leadTxt .commentBox div {
    width: 100%;
  }
  #page .leadTxt .commentBox div h3 {
    margin: 30px auto 0;
  }
  #page .l-inner p {
    line-height: 1.7;
    font-size: 4.25vw;
  }
  #page .heading--m {
    margin: 0 15px 50px;
    font-size: 2.2rem;
    padding-top: 30px;
  }
  #page .heading--m::before {
    width: 40px;
  }
  #page .wrapper {
    padding: 30px 20px 1px;
  }
  #page .campaign-hero__schedule, #page .l-inner .campaign-hero__schedule p {
    line-height: 1.83;
    font-size: 1.2rem;
  }
  #page .leadBox {
    display: block;
  }
  #page .leadBox div:first-child {
    width: 100%;
  }
  #page .leadBox div:last-child {
    width: 100%;
    margin-top: 30px;
  }
  #page .btn-apply {
    margin-bottom: 30px;
  }
  #page .content-box .l-inner .content-box__text p {
    line-height: 1.5;
    font-size: 3.5vw;
  }
  #page .br-pc {
    display: none;
  }
  #page .br-sp {
    display: block;
  }
  #page #HTMLBlock1410 + .content-box {
    padding-bottom: 30px;
  }
  #page .inc-about-sp div {
    margin: 0 15px;
  }
}
