#page .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 16px auto 0;
}

#page .App .CampaignButton {
  margin: 0;
}

#page .App .Below {
  margin: 8px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
}

#page .CampaignButton-enabled span.RexButton-message {
  color: white;
  font-size: 24px;
}

#page .CampaignButton-success span.RexButton-message {
  color: #047205;
}

#page .CampaignButton-disabled span.RexButton-message,
#page .CampaignButton-applied span.RexButton-message {
  color: #898989;
}

#page .temporary-banner-bundle {
  margin: 36px 24px 8px;
}

#page .temporary-banner-bundle+p.small {
  padding: 0 24px;
}

#page .bnr-eagles {
  margin: 32px auto;
  display: block;
  width: calc(100% - 32px);
}

#page .slick-dots {
  margin: 1em auto 0;
  bottom: 0;
}

#page ul.campaign-code-steps li.slick-slide h3 {
  margin: 0 auto 16px;
}

#page .ccord-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #870011;
  width: -moz-fit-content;
  width: fit-content;
  margin: 36px auto 20px;
  overflow: hidden;
}

#page .ccord-group>div {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#page .ccord-group>div p {
  color: #870011;
}

#page .ccord-group>div p.ccord-header {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

#page .ccord-group>div p.ccord-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 131.25% */
}

#page .ccord-group button.btn-copy-code {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #870011;
  color: #ffffff;
  text-align: center;
  border: none;
  /* Caption JP - 12px/Bold */
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 133.333% */
}

#page .campaign-detail__table .js-toggle.is-open .js-toggle__panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#page #cp-about {
  width: 343px;
  padding: 24px 16px;
  border-radius: 24px;
  background: var(--Gold, #bdb083);
  margin: 36px auto;
}

#page #cp-about .cp-about--superbaseball {
  padding: 16px 0px;
}

#page #cp-about .cp-about--superbaseball.overview .cp-about--bg-wh {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

#page #cp-about h2 {
  color: #870011;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 26px */
  margin-bottom: 16px;
}

#page #cp-about .cp-about--step {
  margin-bottom: 21px;
  border-radius: 24px;
  overflow: hidden;
}

#page #cp-about .cp-about--step::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 32px solid transparent;
  border-left: 32px solid transparent;
  border-top: 42px solid #ffffff;
  border-bottom: 0;
  margin: 0 auto;
}

#page #cp-about .cp-about--step>h3,
#page #cp-about .cp-about--superbaseball>h3 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  /* 155% */
  margin: 0;
  display: flex;
  padding: var(--global-md, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 24px 24px 0px 0px;
  background: var(--Eagles, #870011);
}

#page #cp-about .cp-about--step div.cp-about--bg-wh,
#page #cp-about .cp-about--superbaseball div.cp-about--bg-wh {
  position: relative;
  padding: 24px 16px;
  border-radius: 0px 0px 24px 24px;
  background: #ffffff;
}

#page #cp-about .cp-about--superbaseball .cp-about--bg-wh .webwidget {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 8px;
  margin-top: 32px;
}

#page .webwidget iframe {
  width: 100%;
}


#page #cp-about .cp-about--step div.cp-about--bg-wh .cp-about-txt-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

#page #cp-about .cp-about--step div.cp-about--bg-wh .cp-about-txt-group+.btn-apply {
  margin-top: 24px;
}

#page #cp-about .cp-reward {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#page #anchor-links .anchor-links {
  margin: 32px auto;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 16px;
}

#page #anchor-links .anchor-links::-webkit-scrollbar {
  display: none;
}

#page #anchor-links .anchor-links>ul {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

#page #anchor-links .anchor-links>ul>li {
  width: 128px;
  display: flex;
  align-items: flex-start;
}

#page #anchor-links .anchor-links>ul>li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: #ffffff;
  border: 2px solid #333333;
  border-radius: 8px;
  color: #333333;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page #anchor-links .anchor-links>ul>li a span {
  display: flex;
  align-items: center;
  height: 40px;
}

#page #anchor-links .anchor-links>ul>li a::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(/assets/campaign/2023/group/rchannel/img/20230401/icon_chevron_down_red.png) no-repeat center/cover;
}

#page .campaign-hero__schedule p br:last-child {
  display: none;
}

#page #ttl_playlist .ttl_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

#page #ttl_playlist .ttl_inner .btn-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: #ffffff;
  border: 3px solid #bf0000;
  border-radius: 72px;
  width: calc(100% - 32px);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #bf0000;
}

#page #ttl_playlist .ttl_inner iframe {
  width: 320px;
}

#page p.lead {
  text-align: center;
  /* Body 1 JP - 16px/Bold */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

#page p.small {
  color: #686868;
  font-size: 12px;
  line-height: 16px;
}

#page p.small small {
  font-size: 100%;
}

#page .l-campaign-01>h2.heading {
  padding: 16px;
  background: #000000;
  color: white;
  margin: 24px auto;
}

#page .l-campaign-01 .content-box {
  padding: 0;
}

#page .l-campaign-02 {
  background-color: white !important;
}

#page .l-campaign-02 #stack-characteristic+h2 {
  padding: 16px;
  background: #000000;
  color: white;
  margin: 24px auto;
}

#page #fv-contents {
  padding: 24px 0;
}

#page #fv-contents .l-inner p.small {
  text-align: center;
  margin: 12px auto;
}

#page #anchor-link {
  background: #ebebeb;
}

#page #anchor-link div.inner {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 16px 16px 0;
}

#page #anchor-link div.inner .anchor-link--screenshot {
  width: 80px;
}

#page #anchor-link div.inner .anchor-link--text .txt1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

#page #anchor-link div.inner .anchor-link--text .txt3 p {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #870011;
}

#page #anchor-link div.inner .anchor-link--text .txt3 div {
  width: 73px;
  margin-top: 4px;
}

#page #campaign-steps .l-inner>p {
  text-align: center;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li h3 {
  margin: 0;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li:not(:last-child):after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 41px 0 41px;
  border-color: #000000 transparent transparent transparent;
  margin: 24px auto;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .list-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  gap: 24px;
  background: #ffe8e8;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .list-inner p {
  text-align: center;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .list-inner>p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .list-inner>p.lead {
  font-size: 20px;
  line-height: 26px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .list-inner .btn-apply {
  margin: 0 auto;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .list-inner .btn-download {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: #bf0000;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: white;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div {
  display: block;
  margin: 16px auto;
  position: relative;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div input[type=radio] {
  display: none;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div input[type=radio]:checked+label {
  color: #870011;
  border: 3px solid #870011;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div input[type=radio]:checked+label:before {
  opacity: 1;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div input[type=radio]:checked+label::after {
  border: 3px solid #870011;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div label {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  display: block;
  padding: 16px 16px 16px 56px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div label:after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 16px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #000000;
  border-radius: 50%;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form div label:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 24px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #870011;
  border-radius: 50%;
  opacity: 0;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li form .btn-entry {
  display: block;
  width: 100%;
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  background: #bf0000;
  border: none;
  border-radius: 60px;
  margin: 24px auto -12px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .btn-apply {
  margin: 24px auto;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .btn-apply .l-inner>* {
  width: 100%;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li .btn-apply .l-inner>p {
  text-align: justify;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li ul.bnr-dl>li {
  width: 256px;
  margin: 0 auto 16px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list>li iframe {
  width: 100%;
}

#page #cnp_entry_complete h2 {
  text-align: center;
  padding: 24px 0;
  background: #097543;
  margin-bottom: 24px;
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

#page #cnp_entry_complete h2 strong {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #ffcc00;
  display: block;
  margin-top: 12px;
}

#page #cnp_entry_complete .l-inner {
  padding: 16px;
  background: #f7f7f7;
}

#page #cnp_entry_complete .l-inner ul li {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  #page .App {
    width: 600px;
  }

  #page .CampaignButton-enabled span.RexButton-message {
    font-size: 36px;
  }

  #page .temporary-banner-bundle+p.small {
    text-align: center;
  }

  #page .bnr-eagles {
    width: 600px;
    margin: 72px auto 32px;
    transition: all 0.2s ease-in;
  }

  #page .bnr-eagles:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  #page p.lead {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 130% */
  }

  #page .ccord-group {
    margin: 48px auto 24px;
  }

  #page .ccord-group>div {
    flex-direction: row;
    gap: 8px;
  }

  #page .ccord-group>div p.ccord-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }

  #page .ccord-group>div p.ccord-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    /* 129.167% */
  }

  #page .ccord-group button.btn-copy-code {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 131.25% */
    transition: all 0.2s ease-in;
  }

  #page .ccord-group button.btn-copy-code:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  #page #cp-about {
    width: 950px;
    padding: 36px;
  }

  #page #cp-about>h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 44.8px */
    margin-bottom: 24px;
  }

  #page #cp-about .cp-about--step div.cp-about--bg-wh .cp-about-txt-group {
    gap: 16px;
  }

  #page #cp-about .cp-about--step div.cp-about--bg-wh .cp-about-txt-group p {
    text-align: center;
  }

  #page #cp-about .cp-about--superbaseball {
    padding: 32px 0px;
  }

  #page #cp-about .cp-about--superbaseball.overview .cp-about--bg-wh {
    flex-direction: row;
    padding: 36px;
  }

  #page #cp-about .cp-about--superbaseball.details .cp-about--bg-wh p.lead {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    /* 190% */
  }

  #page #cp-about .cp-about--superbaseball .cp-about--bg-wh .webwidget {
    display: flex;
    gap: 24px;
    width: 760px;
    margin: 32px auto 0;
  }

  #page #cp-about .cp-about--step>h3,
  #page #cp-about .cp-about--superbaseball>h3 {
    padding: 24px 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 44.8px */
  }

  #page .l-content .ccord-group+.btn-apply {
    padding: 0;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
  }

  #page .l-content .ccord-group+.btn-apply a.trial-btn {
    width: 400px;
  }

  #page #anchor-links .anchor-links {
    overflow-x: visible;
    overflow-y: visible;
    padding-left: 0;
  }

  #page #anchor-links .anchor-links>ul {
    margin: 0 auto;
  }

  #page #anchor-links .anchor-links>ul>li {
    width: auto;
  }

  #page #anchor-links .anchor-links>ul>li a {
    width: 232px;
    height: 80px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.2s ease-in;
  }

  #page #anchor-links .anchor-links>ul>li a:hover {
    transform: translateY(2px);
    background: whitesmoke;
  }

  #page #ttl_playlist .ttl_inner {
    width: 700px;
    margin: 0 auto;
  }

  #page #ttl_playlist .ttl_inner iframe:first-child {
    width: 700px;
  }

  #page #ttl_playlist .ttl_inner .btn-secondary {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
    line-height: 26px;
    background: white;
    transition: all 0.2s ease-in;
  }

  #page #ttl_playlist .ttl_inner .btn-secondary:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }

  #page .fv-contents--steps {
    width: 343px;
    margin: 0 auto;
  }

  #page .fv-contents--steps img {
    width: 100%;
  }

  #page .s-delivery-list {
    border: none;
  }

  #page .l-campaign-01>h2.heading {
    font-size: 24px;
    line-height: 31px;
  }

  #page .l-campaign-01>h2.heading+.content-box .content-box__image {
    width: 797px;
    margin: 24px auto 0;
  }

  #page .s-campaign-hero {
    background: url(/assets/campaign/2024/group/rakuteneagles/img/bg.jpg) no-repeat center top/auto 86.5% #880011;
  }

  #page #fv-contents {
    text-align: center;
    padding: 36px 0 24px;
  }

  #page #anchor-link div.inner .anchor-link--text .txt1 {
    font-size: 20px;
    line-height: 26px;
  }

  #page #anchor-link div.inner .anchor-link--text .txt3 {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  #page #anchor-link div.inner .anchor-link--text .txt3 p {
    font-size: 20px;
    line-height: 26px;
  }

  #page #anchor-link div.inner .anchor-link--text .txt3 div {
    width: auto;
    margin: 0;
    transition: all 0.2s ease-in;
  }

  #page #anchor-link div.inner .anchor-link--text .txt3 div:hover {
    transform: translateY(2px);
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list {
    width: 704px;
    margin: 0 auto;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li>h3 {
    text-align: center;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li .btn-apply .l-inner {
    width: 100%;
    padding: 0;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li .btn-apply .l-inner .trial-btn {
    width: 400px;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li .btn-apply .l-inner .trial-btn+p {
    text-align: center;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li form div {
    width: 500px;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li form div:hover {
    cursor: pointer;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li form .btn-entry {
    width: 400px;
    transition: all 0.2s ease-in;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li form .btn-entry:hover {
    cursor: pointer;
    background: #ff1212;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li ul.bnr-dl {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 24px;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li ul.bnr-dl>li {
    width: 260px;
    margin: 0;
  }

  #page #campaign-steps .l-inner ol.campaign-steps--list>li ul.bnr-dl>li a img {
    width: 100%;
  }

  #page #cnp_entry_complete h2 strong {
    font-size: 36px;
    line-height: 47px;
  }

  #page #cnp_entry_complete h2+.l-inner {
    width: 633px;
  }
}

/*# sourceMappingURL=style.css.map */