#page .s-campaign-hero .campaign-hero__schedule a {
  color: white;
  text-decoration: underline;
}

#page #campaign-wrapper {
  background: #f7f7f7;
  padding-bottom: 36px;
}

#page #campaign-wrapper .heading--m {
  padding: 36px 0 0;
  margin: 0 auto 16px;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c82090+0,6a14d1+100 */
  background: #c82090;
  /* Old browsers */
  background: -moz-linear-gradient(left, #c82090 0%, #6a14d1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #c82090 0%, #6a14d1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #c82090 0%, #6a14d1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page #campaign-wrapper p {
  text-align: center;
}

#page #campaign-wrapper p.lead {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #991ab1;
  margin-bottom: 12px;
}

#page #campaign-wrapper p.lead small {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

#page #campaign-wrapper p.lead-s {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #991ab1;
  margin-bottom: 12px;
}

#page #campaign-wrapper p.caption {
  font-size: 12px;
  line-height: 16px;
}

#page #campaign-wrapper .campaign-code {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c82090+0,6a14d1+100 */
  background: #c82090;
  /* Old browsers */
  background: -moz-linear-gradient(left, #c82090 0%, #6a14d1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #c82090 0%, #6a14d1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #c82090 0%, #6a14d1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 12px 24px;
  border-radius: 48px;
  position: relative;
}

#page #campaign-wrapper .campaign-code p {
  text-align: center;
  color: white;
}

#page #campaign-wrapper .campaign-code::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 9px 0 9px;
  border-color: #991ab1 transparent transparent transparent;
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -9px;
}

#page #campaign-wrapper .btn-apply {
  margin: 28px 0 0;
}

#page #campaign-wrapper .btn-apply .l-inner > * {
  width: 100%;
}

#page #campaign-wrapper .btn-apply .l-inner > p {
  text-align: justify;
}

#page #campaign-wrapper ol.campaign-steps > li:not(:first-child)::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 44px 0 44px;
  border-color: #991ab1 transparent transparent transparent;
  margin: 24px auto;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper h2 {
  background: #991ab1;
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body {
  background: white;
  padding: 24px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body p a {
  color: #3cbdff;
  text-decoration: underline;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist {
  text-align: center;
  margin: -16px 0 12px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 4px 16px;
  background: #991ab1;
  display: inline-block;
  border-radius: 32px;
  margin: 0 auto;
  position: relative;
  top: 16px;
}

#page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist p {
  font-size: 16px;
  line-height: 24px;
  color: #991ab1;
  border: 3px solid #991ab1;
  border-radius: 12px;
  padding: 24px 16px 16px;
}

#page #campaign-wrapper .point600 {
  padding: 24px 16px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c82090+0,6a14d1+100 */
  background: #c82090;
  /* Old browsers */
  background: -moz-linear-gradient(left, #c82090 0%, #6a14d1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #c82090 0%, #6a14d1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #c82090 0%, #6a14d1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#page ul.campaign-code-steps li.slick-slide h3 {
  background: #991ab1;
  margin: 0 0 16px;
  color: white;
}

#page .myplaylist-creation figure {
  width: 220px;
  margin: 24px auto;
}

#page .myplaylist-creation p {
  color: #991ab1;
}

#page .myplaylist-creation .slick-arrow {
  width: 42px;
  height: 64px;
  width: 0;
  height: 0;
  border-style: solid;
}

#page .myplaylist-creation .slick-arrow::before {
  display: none;
}

#page .myplaylist-creation .slick-arrow.slick-disabled {
  display: none !important;
}

#page .myplaylist-creation .slick-arrow.slick-prev {
  border-width: 32px 42px 32px 0;
  border-color: transparent #991ab1 transparent transparent;
}

#page .myplaylist-creation .slick-arrow.slick-next {
  border-width: 32px 0 32px 42px;
  border-color: transparent transparent transparent #991ab1;
}

#page .slick-dots {
  position: relative;
  top: 0;
}

#page .slick-dots li.slick-active button {
  border-color: #991ab1;
  background-color: #991ab1;
}

#page.campaign_detail .l-campaign-02 {
  background: white;
}

#page .js-toggle.is-open .js-toggle__panel {
  max-height: 2000px;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/bg.jpg) repeat-x center top/auto 82% black;
  }
  #page .s-campaign-hero .campaign-hero__schedule a:hover {
    text-decoration: none;
  }
  #page #campaign-wrapper {
    text-align: center;
  }
  #page #campaign-wrapper .heading--m {
    display: inline-block;
    font-size: 46px;
    line-height: 60px;
    margin: 0 auto 24px;
  }
  #page #campaign-wrapper .ie {
    color: transparent;
  }
  #page #campaign-wrapper .ie:nth-of-type(1) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_1.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(2) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_2.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(3) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_3.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(4) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_4.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .ie:nth-of-type(5) {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rmobile/img/title_5.png) no-repeat center bottom;
  }
  #page #campaign-wrapper .l-inner {
    text-align: center;
  }
  #page #campaign-wrapper .campaign-code {
    display: inline-block;
    padding: 12px 36px;
  }
  #page #campaign-wrapper .btn-apply .l-inner {
    width: 100%;
  }
  #page #campaign-wrapper .btn-apply .l-inner .trial-btn {
    width: 400px;
  }
  #page #campaign-wrapper .btn-apply .l-inner > p {
    text-align: center;
  }
  #page #campaign-wrapper ol.campaign-steps > li:first-child div.campaign-steps--wrapper {
    margin-top: 0;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper {
    flex-direction: row;
    background: #991ab1;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper h2 {
    display: inline-block;
    width: auto;
    padding: 0 24px;
    font-size: 40px;
    line-height: 52px;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body {
    flex: 1;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body p a:hover {
    text-decoration: none;
  }
  #page #campaign-wrapper ol.campaign-steps > li div.campaign-steps--wrapper .campaign-steps--body .campaign-steps--myplaylist p {
    width: 600px;
    margin: 0 auto;
  }
  #page .myplaylist-creation {
    width: 800px;
    margin: 0 auto;
  }
  #page .myplaylist-creation li.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page .myplaylist-creation li.slick-slide figure {
    width: 220px;
    margin: 0 24px 0 0;
  }
  #page .myplaylist-creation li.slick-slide figure img {
    width: 100%;
  }
  #page .myplaylist-creation li.slick-slide p.lead {
    width: 400px;
    font-size: 32px !important;
    line-height: 42px !important;
    text-align: left !important;
  }
  #page .slick-dots {
    margin-top: 24px;
  }
  #page .s-delivery-list {
    border: none;
  }
}
