@charset "UTF-8";
#page p.small {
  font-size: 12px;
  line-height: 16px;
}

#page p.small small {
  font-size: 100%;
}

#page p.lead {
  font-size: 20px;
  line-height: 26px;
}

#page .l-campaign-01 > h2.heading {
  padding: 16px;
  background: #000000;
  color: white;
  margin: 24px auto;
}

#page .l-campaign-01 .content-box {
  padding: 0;
}

#page .l-campaign-02 {
  background-color: white !important;
}

#page .l-campaign-02 #stack-characteristic + h2 {
  padding: 16px;
  background: #000000;
  color: white;
  margin: 24px auto;
}

#page #fv-contents {
  padding: 24px 0;
}

#page #fv-contents .l-inner p.small {
  text-align: center;
  margin: 12px auto;
}

#page #anchor-link {
  background: #ebebeb;
}

#page #anchor-link div.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  padding: 16px 16px 0;
}

#page #anchor-link div.inner .anchor-link--screenshot {
  width: 80px;
}

#page #anchor-link div.inner .anchor-link--text .txt1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

#page #anchor-link div.inner .anchor-link--text .txt3 p {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #870011;
}

#page #anchor-link div.inner .anchor-link--text .txt3 div {
  width: 73px;
  margin-top: 4px;
}

#page #campaign-steps .l-inner > p {
  text-align: center;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 41px 0 41px;
  border-color: #000000 transparent transparent transparent;
  margin: 24px auto;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li > p {
  text-align: center;
  margin: 24px auto;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div {
  display: block;
  margin: 16px auto;
  position: relative;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div input[type="radio"] {
  display: none;
  /* 標準スタイル */
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div input[type="radio"]:checked + label {
  color: #870011;
  border: 3px solid #870011;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div input[type="radio"]:checked + label:before {
  opacity: 1;
  /* 要素を表示する */
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div input[type="radio"]:checked + label::after {
  border: 3px solid #870011;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div label {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  display: block;
  padding: 16px 16px 16px 56px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div label:after, #page #campaign-steps .l-inner ol.campaign-steps--list > li form div label:before {
  position: absolute;
  /* ボックスの位置を指定する */
  content: "";
  /* ボックスのコンテンツ */
  display: block;
  /* ブロックレベル要素化する */
  top: 50%;
  /* 上部から配置の基準位置を決める */
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div label:before {
  left: 24px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #870011;
  border-radius: 50%;
  opacity: 0;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form div label:after {
  left: 16px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #000000;
  border-radius: 50%;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li form .btn-entry {
  display: block;
  width: 100%;
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  background: #bf0000;
  border: none;
  border-radius: 60px;
  margin: 24px auto -12px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li .btn-apply {
  margin: 24px auto;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li .btn-apply .l-inner > * {
  width: 100%;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li .btn-apply .l-inner > p {
  text-align: justify;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li ul.bnr-dl > li {
  width: 256px;
  margin: 0 auto 16px;
}

#page #campaign-steps .l-inner ol.campaign-steps--list > li iframe {
  width: 100%;
}

#page #cnp_entry_complete h2 {
  text-align: center;
  padding: 24px 0;
  background: #097543;
  margin-bottom: 24px;
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

#page #cnp_entry_complete h2 strong {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #ffcc00;
  display: block;
  margin-top: 12px;
}

#page #cnp_entry_complete .l-inner {
  padding: 16px;
  background: #f7f7f7;
}

#page #cnp_entry_complete .l-inner ul li {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  #page .s-delivery-list {
    border: none;
  }
  #page .l-campaign-01 > h2.heading {
    font-size: 24px;
    line-height: 31px;
  }
  #page .l-campaign-01 > h2.heading + .content-box .content-box__image {
    width: 797px;
    margin: 24px auto 0;
  }
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2022/group/rakuteneagles/img/bg.jpg) no-repeat center top/auto 86.3% black;
  }
  #page #fv-contents {
    text-align: center;
    padding: 36px 0 24px;
  }
  #page #anchor-link div.inner .anchor-link--text .txt1 {
    font-size: 20px;
    line-height: 26px;
  }
  #page #anchor-link div.inner .anchor-link--text .txt3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page #anchor-link div.inner .anchor-link--text .txt3 p {
    font-size: 20px;
    line-height: 26px;
  }
  #page #anchor-link div.inner .anchor-link--text .txt3 div {
    width: auto;
    margin: 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  #page #anchor-link div.inner .anchor-link--text .txt3 div:hover {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li > h3 {
    text-align: center;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li .btn-apply .l-inner {
    width: 100%;
    padding: 0;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li .btn-apply .l-inner .trial-btn {
    width: 400px;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li .btn-apply .l-inner .trial-btn + p {
    text-align: center;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li form div {
    width: 500px;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li form div:hover {
    cursor: pointer;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li form .btn-entry {
    width: 400px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li form .btn-entry:hover {
    cursor: pointer;
    background: #ff1212;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li ul.bnr-dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li ul.bnr-dl > li {
    width: 260px;
    margin: 0;
  }
  #page #campaign-steps .l-inner ol.campaign-steps--list > li ul.bnr-dl > li a img {
    width: 100%;
  }
  #page #cnp_entry_complete h2 strong {
    font-size: 36px;
    line-height: 47px;
  }
  #page #cnp_entry_complete h2 + .l-inner {
    width: 633px;
  }
}
/*# sourceMappingURL=style.css.map */