@font-face {
  font-family: 'icomoon';
  src:  url('//music.r10s.jp/external/prod/assets/top/fonts/icomoon.eot?qbdz2e');
  src:  url('//music.r10s.jp/external/prod/assets/top/fonts/icomoon.eot?qbdz2e#iefix') format('embedded-opentype'),
  url('//music.r10s.jp/external/prod/assets/top/fonts/icomoon.ttf?qbdz2e') format('truetype'),
  url('//music.r10s.jp/external/prod/assets/top/fonts/icomoon.woff?qbdz2e') format('woff'),
  url('//music.r10s.jp/external/prod/assets/top/fonts/icomoon.svg?qbdz2e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e906";
}

.icon-left:before {
  content: "\e900";
}

.icon-check:before {
  content: "\e901";
}

.icon-open:before {
  content: "\e902";
}

.icon-menu:before {
  content: "\e903";
}

.icon-down:before {
  content: "\e904";
}

.icon-right:before {
  content: "\e905";
}
