#page a.rex-button.sc-dIsUp.bENKLy.RexButton {
  font-size: 24px;
  color: #ffffff !important;
}

#page a.rex-button.sc-dIsUp.kTeeJk.RexButton.disabled {
  font-size: 24px;
  color: #047205 !important;
}

#page a.rex-button.sc-dIsUp.liYnFe.RexButton.disabled {
  font-size: 24px;
  color: #898989 !important;
}

#page section.Below {
  padding: 0;
  margin: 24px auto 0;
}

#page section.Below p.agreement-message {
  margin-top: 12px;
}

#page section.Below p.agreement-message a {
  color: #d80000;
}

#page .campaign-hero__schedule__note a {
  color: white;
  text-decoration: underline;
}

#page .btn-apply > .l-inner > * {
  width: 100% !important;
}

#page #fv-cta .l-inner .campaign-code {
  padding: 12px 24px;
  border-radius: 48px;
  position: relative;
  background: #870011;
  margin-top: 36px;
}

#page #fv-cta .l-inner .campaign-code p {
  text-align: center;
  color: white;
}

#page #fv-cta .l-inner .campaign-code::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 9px 0 9px;
  border-color: #870011 transparent transparent transparent;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}

#page #fv-cta .l-inner .btn-apply {
  margin: 24px auto 12px;
}

#page #campaign-wrapper {
  padding: 0 16px;
  margin: 36px auto;
}

#page #campaign-wrapper > .l-inner {
  padding: 36px 16px;
  background: #bdb083;
  border-radius: 24px 24px 0px 0px;
  text-align: center;
}

#page #campaign-wrapper > .l-inner h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #870011;
}

#page #campaign-wrapper > .l-inner h2 {
  border: 4px solid #870011;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  padding: 8px 0;
  color: #870011;
  border-radius: 86px;
  margin: 24px auto;
  background: white;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li {
  padding: 36px 16px;
  background: #ffffff;
  margin-bottom: 42px;
  position: relative;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32px 0 32px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  bottom: -32px;
  left: 50%;
  margin-left: -32px;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 24px;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li h3 + p {
  margin: 24px 0;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li h3 span {
  display: inline-block;
  padding: 4px 8px;
  background: #870011;
  color: white;
  margin: 8px 0;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li a.rex-core-link.rex-button.rex-button-color.rex-button-lg.sc-fznKkj.fjHRoH {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff !important;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li a.rex-core-link.rex-button.rex-button-color.rex-button-lg.sc-fznKkj.dzEZsB {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #047205 !important;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li a.rex-core-link.rex-button.rex-button-color.rex-button-lg.sc-fznKkj.guHzKv {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #898989 !important;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li section.sc-AxmLO.gnYWHw {
  padding: 0 !important;
  margin: 24px auto 0;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li section.sc-AxmLO.gnYWHw > p {
  margin: 24px auto 0;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li section.sc-AxmLO.gnYWHw > p a {
  color: #bf0000;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li .btn-apply {
  margin: 24px 0 0;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li .ccode {
  display: flex;
  flex-direction: column;
  margin: 24px auto 36px;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li .ccode > div:first-child {
  background: #870011;
  padding: 12px 24px;
  color: white;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li .ccode > div:last-child {
  padding: 12px 36px;
  border: 4px solid #870011;
}

#page #campaign-wrapper > .l-inner ol.campaign-steps > li .slick-dots li button {
  margin: 0 auto;
}

#page #campaign-wrapper > .l-inner .campaign-complete figure {
  margin-bottom: 12px;
}

#page #campaign-wrapper > .l-inner .campaign-complete > div {
  background: #ffffff;
  padding: 10px;
}

#page #campaign-wrapper > .l-inner .campaign-complete > div p {
  font-size: 12px;
  line-height: 16px;
  color: #686868;
}

#page .trial-btn-2 {
  margin-top: 36px;
}

#page .trial-btn-2 h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

#page .trial-btn-2 .btn-apply {
  margin: 12px 0 36px;
}

#page #mutual-banner {
  background: #f7f7f7;
}

#page #mutual-banner > .l-inner {
  padding: 36px 16px;
}

#page #mutual-banner > .l-inner h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

#page #mutual-banner > .l-inner h1 strong.red {
  color: #d80000;
}

#page #mutual-banner > .l-inner p {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 12px 0;
}

#page #mutual-banner > .l-inner p small {
  font-size: 100%;
}

#page .trial-btn-wrapper .l-inner {
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  #page section.Below p.agreement-message {
    width: 600px;
    margin: 12px auto 0;
  }
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/rakuteneagles-202111/img/bg.jpg) repeat-x center top/auto 82% black;
  }
  #page .campaign-hero__schedule__note a:hover {
    text-decoration: none;
  }
  #page .btn-apply > .l-inner {
    width: 100%;
  }
  #page .btn-apply > .l-inner .trial-btn {
    width: 420px !important;
  }
  #page #fv-cta {
    text-align: center;
  }
  #page #fv-cta .l-inner .campaign-code {
    display: inline-block;
    padding: 12px 36px;
  }
  #page #campaign-wrapper > .l-inner {
    padding: 36px;
  }
  #page #campaign-wrapper > .l-inner h1 {
    font-size: 32px;
    line-height: 42px;
  }
  #page #campaign-wrapper > .l-inner h2 {
    width: 360px;
  }
  #page #campaign-wrapper > .l-inner ol.campaign-steps > li h3 span {
    margin: 8px;
  }
  #page #campaign-wrapper > .l-inner ol.campaign-steps > li section.sc-AxmLO.gnYWHw {
    width: 655px;
  }
  #page #campaign-wrapper > .l-inner ol.campaign-steps > li section.sc-AxmLO.gnYWHw > p a:hover {
    text-decoration: underline;
  }
  #page #campaign-wrapper > .l-inner ol.campaign-steps > li .ccode {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #page #campaign-wrapper > .l-inner ol.campaign-steps > li .ccode > div:first-child {
    border: 4px solid #870011;
  }
  #page #campaign-wrapper > .l-inner ol.campaign-steps > li .slick-dots {
    margin-top: -24px;
    padding-bottom: 12px;
  }
  #page #campaign-wrapper > .l-inner .campaign-complete > div {
    width: 440px;
    margin: 0 auto;
  }
  #page #point-mission {
    margin-top: 36px;
  }
  #page #mutual-banner > .l-inner figure {
    width: 700px;
    margin: 12px auto 0;
    transition: all 0.2s ease-in;
  }
  #page #mutual-banner > .l-inner figure:hover {
    opacity: 0.8;
  }
  #page .trial-btn-wrapper .l-inner {
    padding: 0;
  }
}
