@charset "UTF-8";
#page .s-campaign-hero {
  padding: 0;
}

#page .s-campaign-hero .campaign-hero__schedule {
  background: black;
}

#page .heading--m {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page .heading--m::before {
  content: "";
  background: url("https://music.r10s.jp/external/prod/assets/campaign/2020/group/live/img/h1-dec-1.png") no-repeat center/contain;
  display: block;
  width: 50px;
  height: 30px;
  margin: 0 12px;
}

#page .heading--m::after {
  content: "";
  background: url("https://music.r10s.jp/external/prod/assets/campaign/2020/group/live/img/h1-dec-2.png") no-repeat center/contain;
  display: block;
  width: 50px;
  margin: 0 12px;
  height: 30px;
}

#page .heading--s {
  margin: 16px 0;
}

#page .heading--s span {
  background: linear-gradient(transparent 60%, #ff9ebe 40%);
  display: inline;
}

#page #anchor-link .l-inner p {
  text-align: center;
  margin: 36px 0 24px;
}

#page #anchor-link .l-inner p a {
  color: #ff0054;
  text-decoration: underline;
}

#page #event-summary .l-inner {
  overflow: hidden;
}

#page #event-summary .l-inner section p {
  margin: 1em 0;
  text-align: center;
}

#page #event-summary .l-inner section p.lead {
  color: #ff0054;
  font-weight: bold;
  margin: 1em 0;
}

#page #event-summary .l-inner section.event-summary--about {
  position: relative;
}

#page #event-summary .l-inner section.event-summary--about::after {
  content: "";
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 20%, #ffecf1 20%, #ffecf1 99%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 20%, #ffecf1 20%, #ffecf1 99%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #ffecf1 20%, #ffecf1 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffecf1',GradientType=0 );
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  left: -50%;
  bottom: 0;
  z-index: -1;
}

#page #event-summary .l-inner section.event-summary--about dl {
  background: white;
  display: flex;
  flex-wrap: wrap;
  padding: 16px 16px 6px;
  border-radius: 16px;
}

#page #event-summary .l-inner section.event-summary--about dl dt {
  background: #f7f7f7;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 12px 0;
  margin-bottom: 12px;
}

#page #event-summary .l-inner section.event-summary--about dl dd {
  width: calc(100% - 96px);
  margin: 0;
  padding-left: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

#page #event-summary .l-inner section.event-summary--artist ul li {
  margin: 0 0 36px;
}

#page #event-summary .l-inner section.event-summary--artist ul li:last-child {
  margin-bottom: 0;
}

#page #event-summary .l-inner section.event-summary--artist ul li p strong {
  margin: 0 0 16px;
  display: inline-block;
}

#page #ticket-buying .l-inner section form input[type="submit"] {
  width: 100%;
  background: #7d00be;
  color: white;
  -webkit-appearance: none;
  border: none;
  padding: 16px 0;
  border-radius: 2em;
  margin: 16px auto;
}

#page #ticket-buying .l-inner section.ticket-buying--price ul li {
  display: flex;
  justify-content: center;
  border: 4px solid black;
  border-radius: 12px;
  margin: 24px auto;
}

#page #ticket-buying .l-inner section.ticket-buying--price ul li:first-child {
  font-size: 2em;
  font-weight: bold;
  padding: 24px 12px;
  position: relative;
}

#page #ticket-buying .l-inner section.ticket-buying--price ul li:first-child:after {
  content: "";
  display: block;
  background: #ffecf1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8px;
  left: 8px;
  z-index: -1;
  border-radius: 12px;
}

#page #ticket-buying .l-inner section.ticket-buying--price ul li:last-child {
  padding: 12px 24px;
  width: 70%;
}

#page #ticket-buying .l-inner section.ticket-buying--price ul li p:first-of-type {
  border-right: 2px solid black;
  padding-right: 12px;
}

#page #ticket-buying .l-inner section.ticket-buying--price ul li p:last-of-type {
  padding-left: 12px;
}

#page #ticket-buying .l-inner section.ticket-buying--price p {
  text-align: center;
}

#page #ticket-buying .l-inner section.ticket-buying--term dl {
  text-align: center;
}

#page #ticket-buying .l-inner section.ticket-buying--term dl dt {
  font-weight: bold;
  color: #ff0054;
  margin: 12px auto;
}

#page #ticket-buying .l-inner section.ticket-buying--term dl dd {
  margin: 0;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member > * {
  margin: 24px 0;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member p {
  text-align: center;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member p strong {
  font-size: 20px;
  font-weight: bold;
  color: #d80000;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member .trial-btn {
  background: #bf0000;
  padding: 36px 0;
  border-radius: 16px;
  text-align: center;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member .trial-btn a {
  color: white;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member .code {
  width: 100%;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member .code > div {
  text-align: center;
  padding: 8px 0;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member .code > div:first-child {
  background: black;
  border: 2px solid black;
  color: white;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member .code > div:last-child {
  border: 2px solid black;
}

#page #ticket-buying .l-inner section.ticket-buying--non-member .code + p {
  text-align: justify;
}

#page #ticket-buying .l-inner section.ticket-buying--member p {
  text-align: center;
}

#page #ticket-buying .l-inner section.ticket-buying--member > * {
  margin: 24px 0;
}

#page #ticket-buying .l-inner section.ticket-buying--member .howtoget .slick-arrow::before {
  color: black;
}

#page #ticket-buying .l-inner section.ticket-buying--member .howtoget .slick-prev {
  left: 0;
}

#page #ticket-buying .l-inner section.ticket-buying--member .howtoget .slick-next {
  right: 0;
}

#page #ticket-buying .l-inner section.ticket-buying--member .howtoget .slick-dots {
  margin: -16px auto 0;
}

#page #ticket-buying .l-inner section.ticket-buying--member .howtoget .slick-dots li button:before {
  display: none;
}

#page #ticket-buying .l-inner section.ticket-buying--member .howtoget figure {
  padding: 0 12px;
}

#page #ticket-buying .l-inner section.ticket-buying--member .howtoget figure + p {
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/live/img/bg.jpg) repeat-x center top/auto 85.5%;
    position: relative;
  }
  #page .s-campaign-hero::after {
    content: "";
    width: 100%;
    height: 50px;
    background: black;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  #page .heading--s {
    font-size: 20px;
  }
  #page #event-summary {
    overflow: hidden;
  }
  #page #event-summary .l-inner {
    overflow: visible;
  }
  #page #event-summary .l-inner section figure {
    text-align: center;
  }
  #page #event-summary .l-inner section p.lead {
    font-size: 20px;
  }
  #page #event-summary .l-inner section.event-summary--about > * {
    margin: 24px 0;
  }
  #page #event-summary .l-inner section.event-summary--about dl {
    width: 454px;
    margin: 24px auto;
  }
  #page #event-summary .l-inner section.event-summary--artist ul li {
    display: flex;
    align-items: center;
  }
  #page #event-summary .l-inner section.event-summary--artist ul li figure {
    width: 440px;
  }
  #page #event-summary .l-inner section.event-summary--artist ul li figure img {
    width: 100%;
  }
  #page #event-summary .l-inner section.event-summary--artist ul li figure + p {
    flex: 1;
    padding: 0 16px;
    text-align: left;
  }
  #page #event-summary .l-inner section.event-summary--artist ul li figure + p strong {
    font-size: 20px;
  }
  #page #ticket-buying .l-inner section.ticket-buying--price ul li:first-child {
    width: 340px;
  }
  #page #ticket-buying .l-inner section.ticket-buying--price ul li:last-child {
    width: 220px;
  }
  #page #ticket-buying .l-inner section.ticket-buying--term dl {
    display: flex;
    justify-content: center;
  }
  #page #ticket-buying .l-inner section.ticket-buying--term dl dt {
    margin: 0 24px 0 0;
  }
  #page #ticket-buying .l-inner section.ticket-buying--non-member .trial-btn {
    width: 440px;
    margin: 24px auto;
    transition: all 0.2s ease-in;
  }
  #page #ticket-buying .l-inner section.ticket-buying--non-member .trial-btn a {
    display: block;
  }
  #page #ticket-buying .l-inner section.ticket-buying--non-member .trial-btn:hover {
    background: #ff1212;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #page #ticket-buying .l-inner section.ticket-buying--non-member .code {
    width: 440px;
    margin: 24px auto;
  }
  #page #ticket-buying .l-inner section.ticket-buying--non-member .code + p {
    text-align: center;
  }
  #page #ticket-buying .l-inner section.ticket-buying--member .howtoget {
    display: flex;
    justify-content: center;
  }
  #page #ticket-buying .l-inner section.ticket-buying--member .howtoget > div {
    position: relative;
    width: 256px;
  }
  #page #ticket-buying .l-inner section.ticket-buying--member .howtoget > div figure {
    width: 190px;
    margin: 0 auto;
  }
  #page #ticket-buying .l-inner section.ticket-buying--member .howtoget > div figure img {
    width: 100%;
  }
  #page #ticket-buying .l-inner section.ticket-buying--member .howtoget > div:not(:last-child):after {
    content: "→";
    position: absolute;
    top: 50%;
    right: -0.5em;
  }
}
