@charset "UTF-8";
/*-----------------------------------
▼PCデバイス▼
------------------------------------*/
#page .cpnAreaInner > div {
  width: 950px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

#cpnInner > p:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}
#page .item-list .item__card__image > a {
    width: 176px;
    height: 150px;
}

/*--------------- nav ----------------*/
#page .cpnArea {
  padding: 0 0 40px;
}

#page .cpnArea > .heading--m:first-child {
  color: white;
}

#page .cpn-derail {
  text-align: center;
}

#page #HTMLBlock1025 .nav {
  display: flex;
  justify-content: space-between;
  width: calc(458px*2);
  margin: 0 auto;
}

#page #HTMLBlock1025 .nav li a {
  display: block;
}

#page #HTMLBlock1025 .nav li a:hover {
  position: relative;
  top: 5px;
}

#page .wrapper {
  width: 950px;
  box-sizing: border-box;
  padding: 20px 20px 40px;
  margin: 40px auto;
  background: white;
}

#page .wrapper > * {
  width: 100%;
}

#page .wrapper > .heading--m:first-child {
  background: black;
  color: white;
  padding: 20px;
  margin: 0 0 20px;
}

#page .wrapper > .heading--m:not(:first-child) {
  background: #e9e9e9;
  padding: 10px 0;
  margin: 20px auto 0;
  width: 650px;
}

#page .wrapper > .heading--m:not(:first-child) + * > * {
  padding: 20px 0 0;
}

#page .wrapper > .heading--m:nth-child(5) + * > * {
  padding: 10px 0 0;
}

#page .wrapper .s-entry-form {
  background: none;
  margin: 0 0 40px;
  padding: 0;
}

#page .wrapper .l-inner {
  width: 100%;
}

/*-------- エントリーボタン --------*/
#page .btn-container {
  text-align: center;
  width: 650px;
  margin: 0 auto;
  text-align: center;
  width: 650px;
}

#page .s-entry-form .entry-form__button .btn {
  padding: 20px 0;
  width: 650px;
}

#page .s-entry-form .entry-form__note {
  width: 650px;
  margin: 10px auto;
  text-align: left;
}

#page .btn--default {
  font-size: 145%;
  display: block;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #bf0000;
  border-radius: 10px;
  border-bottom: 5px solid #750404;
}

#page .btn--default:hover {
  background-color: #bf0000;
  border-bottom: none;
  text-decoration: none;
  margin-top: 5px;
}

#page .btn:hover {
  box-shadow: none;
}

/*--------- フォロー＆リツイートSTEP ---------*/
#application ol {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

#application ol li {
  background: #f5f5f5;
  margin-right: 40px;
  padding: 15px 0;
  height: auto;
  position: relative;
}

#application ol li div div {
  font-weight: bold;
  text-align: center;
}

#application ol li div div span {
  font-size: 24px;
  display: inline-block;
  border-bottom: 5px solid black;
  width: 24px;
}

#application ol li div p {
  text-align: center;
}

#application ol li::after {
  content: url(https://music.r10s.jp/external/prod/assets/campaign/2018/artist/shakira/img/arrow.png);
  top: 110px;
  left: 280px;
  position: absolute;
}

#application ol li:last-child {
  margin-right: 0;
}

#application ol li:last-child::after {
  content: normal;
}

#application ol li > div {
  width: 265px;
}

#application ol li > div p {
  margin-top: 20px;
}

#application ol li:nth-child(2) div p {
  padding: 11px;
}

/*---------------- 見出し -------------------*/
#page .stepHeading {
  background: #e9e9e9;
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
  width: 650px;
  margin: 0 auto;
}

.cpnAreaInner div h3 {
  margin: 20px 0;
  font-size: 22px;
  padding: 10px;
  text-align: center;
  background: #000;
  color: #fff;
}
/*---------------- もっと見るボタン -------------------*/
#page .s-recommend-list .btn--default:hover {
    margin-top: 0;
}
#page .btn--default {
    padding: 20px 24px;
}

/*-----------------------------------
▼共通▼
------------------------------------*/
/*------- キャンペーン概要 --------*/
.cpnAreaInner > div {
  background: #fff;
}

.cpnArea {
  background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/artist/shakira/img/bg-img.png) repeat top center;
  background-attachment: scroll;
  background-size: auto auto;
  background-attachment: fixed;
  background-size: contain;
}

.cpnAreaInner {
  padding-bottom: 30px;
}

/*---------------- nav ---------------*/
.cpnArea .nav {
  display: flex;
  justify-content: center;
}

/*------------- 見出し --------------*/
.cpnHeading {
  color: #fff;
}

/*---- フォロー＆リツイートSTEP ----*/
#application ol li {
  background: #f5f5f5;
}

#application ol li:nth-child(3) div p {
  margin-top: 55px;
  font-size: 28px;
  font-weight: bold;
}

#application ol li div p:first-child {
  padding: 15px 0;
}

#application ol li .snsBtn {
  margin: 15px 0;
}

#application ol li div a {
  background: #1da1f2;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px 10px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  border-bottom: 4px solid #1780c2;
}

#application ol li .snsBtn a img {
  display: inline-block;
  width: 20px;
  vertical-align: baseline;
  margin-right: 10px;
}

#application ol li .snsBtn a:hover {
  color: #fff;
  border-bottom: none;
  margin-top: 19px;
  text-decoration: none;
}

/*----------- リード文 -----------*/
section.s-campaign-hero + .text-box {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
  margin-top: 30px;
  background: linear-gradient(#ca2023, #8e1619);
  color: #fff;
  line-height: 1.4;
}

#page section.s-campaign-hero + .text-box .l-inner {
  border-top: 1px solid #decc39;
  padding: 13px;
  border-bottom: 1px solid #decc39;
}

#page section.s-campaign-hero + .text-box .l-inner {
  width: 100%;
}

#page section.s-campaign-hero + .text-box .l-inner strong {
  color: #f1dd3e;
}

/*-----------------------------------
▼SPデバイス▼
------------------------------------*/
@media screen and (max-width: 768px) {
  /*--------- エントリーボタン ----------*/
  #page #cpnInner .s-entry-form {
    padding: 10px 0 20px;
  }
  #page #cpnInner .l-inner {
    padding: 0 4vw;
  }
  #page .btn--default {
    display: block;
    font-size: 5vw;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #bf0000;
    border-radius: 5px;
    border-bottom: 3px solid #750404;
    padding: 6vw 0;
  }
  #page .s-entry-form {
    padding: 20px 0;
    background: #fff;
    margin: 0 2.6vw;
  }
  #page .s-entry-form .entry-form__button .btn {
    padding: 6vw 0;
  }
  /*-------------- もっと見るボタン ---------------*/
#page .btn-container {
    width: 100%;
  }
#page .btn--default {
    padding: 4vw 0;
  }
  /*-------------- nav ---------------*/
  #page #HTMLBlock1025 .nav {
    display: block;
    width: 94vw;
  }
  #page .wrapper {
    width: 94vw;
    padding: 3vw 3vw 6vw;
  }
  #page .wrapper > .heading--m:first-child {
    padding: 3vw;
    margin: 0 0 6vw;
  }
  #page .wrapper > .heading--m:not(:first-child) {
    width: 100%;
    padding: 3vw 0;
  }
  #page .wrapper .btn-container {
    width: 100%;
  }
  #page .wrapper .s-entry-form .entry-form__button .btn {
    width: 100%;
  }
  #page .wrapper .s-entry-form .entry-form__note {
    width: 100%;
    margin: 3vw 0;
    font-size: 4vw;
    line-height: 1.5;
  }
  #page .wrapper #btn-apply > div {
    width: 100%;
  }
  #page #application ol {
    display: block;
  }
  #page #application ol li {
    width: 100%;
    margin: 3vw 0;
  }
  #page #application ol li > div {
    width: 100%;
  }
  #page #application ol li::after {
    width: 34.6px;
    top: initial;
    bottom: -7vw;
    left: 50%;
    transform: rotate(90deg);
    position: absolute;
    margin-left: -17.3px;
  }
  #page #application ol li:nth-child(3) div p {
    margin: 6vw 0;
  }
  /*------------ 見出し --------------*/
  #page .stepHeading {
    background: #e9e9e9;
    text-align: center;
    font-weight: bold;
    margin: 0 2.6vw;
    font-size: 4.6vw;
    padding: 1vw;
  }
  .cpnAreaInner div h3 {
    margin: 4vw 0 2.6vw;
    font-size: 4.8vw;
    padding: 2.6vw;
    text-align: center;
    background: #000;
    color: #fff;
  }
  #page .heading--m {
    padding-top: 9vw;
    margin-bottom: 7vw;
  }
  /*------- キャンペーン概要 --------*/
  .cpnAreaInner > div {
    margin: 0 2.6vw;
  }
  #cpnInner {
    padding-bottom: 2vw;
  }
  #cpnInner > p {
    padding: 0 4vw 4vw;
    font-size: 4vw;
    text-align: justify;
  }
  #cpnInner > p:last-child {
    text-align: center;
  }
  #cpnInner > p br {
    display: none;
  }
  /*----------リード文----------*/
  #page .lead {
    margin-top: 0;
    font-size: 4vw;
  }
  .lead .leadInner {
    padding: 3vw;
  }
}
