#page .l-inner {
    width: 950px;
}

#page #campaign-apply {
    background: #DFFBFF;
}

#page #schedule {
    background: #F7F7F7;
    margin: 0 auto;
    padding: 3.2rem;
}

#page #campaign-apply {
    padding: 40px 0 0;
}

#page #merit .l-inner>ol>li>.screenshot {
    background: #4DC4FF;
}

#page #campaign-apply .l-inner>h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #0197B3;
    margin: 0 auto;
    padding-bottom: 1.2rem;
}

#page #campaign-apply .l-inner ol.steps>li {
    background: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#page #campaign-apply .l-inner ol.steps>li>figure {
    text-align: center;
}

#page #campaign-apply .l-inner ol.steps>li>h2 {
    margin: 32px 0 16px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    line-height: 42px;
    color: #42E1FF;
}

#page #campaign-apply .l-inner ol.steps>li p {
    font-size: 16px;
    line-height: 24px;
    color: red;
}

#page #campaign-apply .l-inner ol.steps>li p.present-song {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: #42E1FF;
    margin-top: 16px;
}

#page #campaign-apply .l-inner ol.steps>li p.lead,
#page .l-inner .apply p.lead {
    text-align: center;
    margin: 16px 0 8px;
    font-size: 20px;
    line-height: 26px;
    color: black;
    font-weight: bold;
}

#page #campaign-apply .l-inner>p.small,
#page #campaign-apply .l-inner ol.steps>li p.small,
#page .l-inner .apply p.small {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #686868;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn,
#page #point-btn .apply .l-inner .trial-btn {
    height: 80px;
    background: #0197B3;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
    border-radius: 80px;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn {
    width: 100%;
    margin: 24px 0;
}

#page #point-btn .apply .l-inner .trial-btn {
    width: 343px;
    margin: 0 auto;
}

#page #point-btn .apply .l-inner {
    margin: 0 auto;
}

#page #point-btn .apply .l-inner>p.small {
    text-align: center;
    font-size: 1.2rem;
    margin: 1.4rem auto 3.2rem;
}

#page #point-btn {
    background: #f7f7f7;
}

#page #campaign-apply .l-inner ol.steps>li .artist-link {
    margin: 24px auto;
    width: 320px;
    height: 80px;
    background: #BF0000;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
    border-radius: 80px;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn a,
#page #point-btn .apply .l-inner .trial-btn a,
#page #campaign-apply .l-inner ol.steps>li .artist-link a {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 80px;
}

#page .l-inner h2 {
    text-align: center;
}

#page .l-inner .goods {
    display: flex;
    margin: 2.4rem auto 3.2rem;
    text-align: center;
    align-items: center;
}

#page .l-inner .goods>figure {
    margin-right: 2.4rem;
}

#page .l-inner .goods>figure:last-child {
    margin-right: 0;
}

#page .arrow {
    text-align: center;
    margin: 0 auto 40px;
    width: 87px;
}

#page .apply .l-inner h2 {
    color: #4DC4FF;
    text-align: center;
    font-size: 24px;
}

#page #songs {
    background: #EBEBEB;
    margin: 3.2rem auto 1.6rem;
    padding: 32px 0 0;
}

#page #songs .l-inner>ol {
    display: flex;
    justify-content: center;
}

#page #songs .l-inner>ol>li {
    display: flex;
    margin: 1.6rem 0;
}

#page #songs .l-inner>ol>li>a>img {
    margin-right: 1.6rem;
    width: 170px;
}

#page #songs .l-inner h2 {
    text-align: center;
}

#page #schedule .l-inner h2 {
    color: #0197B3;
    margin-bottom: 1.6rem;
}

#page #schedule .l-inner .menu>div {
    display: flex;
}

#page #schedule .l-inner .menu>div>div {
    width: 464px;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    background: white;
    border: 1px solid #0197B3;
}

#page #schedule .l-inner .menu>div>div:nth-child(2),
#page #schedule .l-inner .menu>div>div:nth-child(4) {
    margin-right: 0;
}

#page #schedule .l-inner .menu>div>div>label {
    display: block;
    background: #0197B3;
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    padding: 0.6rem;
    text-align: center;
}

#page #schedule .l-inner .menu>div>div>input {
    display: none;
}

#page #schedule .l-inner .menu>div>div>ul>li {
    margin: 0 auto;
    padding: 1.6rem;
    display: block;
}

#page #schedule .l-inner .menu>div>div>ul>li>p {
    font-size: 2rem;
    font-weight: bold;
}

#page #schedule .l-inner .menu>div>div>ul>li>p>span {
    color: #D80000;
    display: block;
}

#page #schedule .l-inner .menu>div>div>ul>li.hidden>p {
    opacity: .2;
}

#page #schedule .l-inner .menu>div>div>ul>li.hidden>figure {
    position: absolute;
}

#page #schedule .l-inner .menu>div>div>ul>li.hidden>figure img {
    width: 250px;
    position: relative;
    top: 22px;
    left: 80px;
}

@media screen and (max-width: 950px) {
    #page .l-inner {
        width: 100%;
    }
    #page #songs .l-inner>ol {
        display: block;
    }
    #page #songs .l-inner>ol>li {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    #page .s-campaign-hero {
        padding: 0;
        background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/artist/treasure/img/bg.jpg) no-repeat center top/auto 100%;
    }
    #page .campaign-hero__schedule {
        position: relative;
        z-index: 1;
    }
    #page #campaign-apply .l-inner>h1 {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 16px;
        color: #0197B3;
        margin: 0 auto;
        padding-bottom: 1.6rem;
    }
    #page #campaign-apply .l-inner ol.steps {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #page #campaign-apply .l-inner ol.steps>li {
        box-sizing: border-box;
        margin: 40px auto;
        padding: 40px 0px;
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*
    #page #campaign-apply .l-inner ol.steps>li>.step2>div:first-child {
        display: block;
        margin: 20px 80px 0;
    }*/
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>.screenshot {
        width: 220px;
        margin: 16px 32px;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>.present {
        width: 240px;
        margin: 16px 32px;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure>img {
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>h2 {
        margin: 0 0 16px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
    }
    #page #campaign-apply .l-inner ol.steps>li p {
        text-align: center;
    }
    #page #campaign-apply .l-inner ol.steps>li div.trial-btn,
    #page .l-inner .apply .trial-btn,
    #page #songs .l-inner .artist-link {
        margin: 24px auto;
        width: 343px;
        transition: all 0.2s ease-in;
    }
    #page #songs .l-inner>ol>li>a>img {
        transition: all 0.2s ease-in;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.1), 0px 4px 23px rgba(0, 0, 0, 0.06), 0px 12px 19px rgba(0, 0, 0, 0.07);
    }
    #page #campaign-apply .l-inner ol.steps>li div.trial-btn:hover,
    #page .l-inner .apply .trial-btn:hover,
    #page #songs .l-inner .artist-link:hover {
        opacity: 90%;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.1), 0px 4px 23px rgba(0, 0, 0, 0.06), 0px 12px 19px rgba(0, 0, 0, 0.07);
    }
    #page #songs .l-inner>ol>li>a>img:hover {
        opacity: 70%;
    }
    #page .item-list .item__list {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    #page #campaign-apply .l-inner ol.steps>li {
        margin: 16px auto 32px;
        padding: 0 16px 30px;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure {
        width: 220px;
        text-align: center;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>.screenshot {
        margin: 1.6rem auto;
    }
    #page #songs {
        padding: 32px 0;
    }
    #page .apply .l-inner h2 {
        text-align: left;
    }
    #page #campaign-apply .l-inner ol.steps>li p.small,
    #page .l-inner .apply p.small {
        text-align: left;
    }
    #page #schedule {
        margin: 0 auto;
        padding: 3.2rem 0 3.2rem 0;
    }
    label {
        display: block;
        margin: 0 0 4px 0;
        padding: 15px;
        line-height: 1;
        color: #fff;
        background: green;
        cursor: pointer;
    }
    input {
        display: none;
    }
    .menu ul {
        margin: 0;
        padding: 0;
        background: #f4f4f4;
        list-style: none;
    }
    .menu li {
        height: 0;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    #type1:checked~#links1 li,
    #type2:checked~#links2 li,
    #type3:checked~#links3 li,
    #type4:checked~#links4 li {
        height: auto;
        opacity: 1;
    }
    #page #schedule .l-inner .menu>div {
        display: block;
    }
    #page #schedule .l-inner .menu>div>div {
        width: 100%;
    }
    #page #schedule .l-inner .menu>div>div>ul>li {
        padding: 0;
    }
    #page #schedule .l-inner .menu>div>div>ul>li>p {
        margin: 0 auto;
        padding: 1.6rem;
    }
    #page #schedule .l-inner .menu>div>div>ul>li.hidden>figure {
        width: 100%;
        position: relative;
    }
    #page #schedule .l-inner .menu>div>div>ul>li.hidden>figure img {
        width: 280px;
        position: absolute;
        top: 28px;
        left: 200px;
    }
    #page #point-btn {
        padding-bottom: 1.6rem;
    }
    #page #point-btn .apply .l-inner .trial-btn {
        width: 100%;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner ol.steps>li .artist-link {
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>figure {
        width: 256px;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner ol.steps>li .artist-link>small {
        text-align: center;
    }
    #page .l-inner .goods {
        display: block;
    }
    #page .l-inner .goods>figure {
        width: 340px;
        margin: 0 auto;
        padding-bottom: 3.2rem;
    }
    #page .l-inner .goods>figure:last-child {
        margin: 0 auto;
        padding-bottom: 3.2rem;
    }
}

@media screen and (max-width:600px) {
    #page #schedule .l-inner .menu>div>div>ul>li.hidden>figure img {
        left: 130px;
    }
}

@media screen and (max-width:500px) {
    #page #campaign-apply .l-inner ol.steps>li p.lead,
    #page .l-inner .apply p.lead {
        text-align: left;
    }
    #page #songs .l-inner>ol>li>a>img {
        margin-right: 0.8rem;
        width: 90%;
    }
    #page #schedule .l-inner .menu>div>div>ul>li.hidden>figure img {
        left: 80px;
    }
    #page .l-inner .goods>figure {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure img:first-child {
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure img:last-child {
        width: 100%;
    }
    #page #songs .l-inner>ol>li>img {
        width: 150px;
    }
    #page #schedule .l-inner .menu>div>div>ul>li.hidden>figure img {
        width: 82%;
        top: 50px;
        left: 40px;
    }
}