@charset "UTF-8";
#page #rex-btn1 {
  margin: 50px 0 25px;
}
#page .entryNote {
  margin: 25px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #page #rex-btn1 {
    margin: 7vw 0 2.5vw;
  }
  #page .entryNote {
    margin: 2.5vw 0 7vw;
    text-align: center;
  }
  #page .rex-button__1ArV .rex-button__3n3I {
    text-align: center;
    font-size: 1.5rem;
    text-indent: 2rem;
    padding: 0;
  }

  #page .rex-button__1ArV .rex-button__3n3I::before {
    width: 2rem;
    height: 2rem;
    left: 4rem;
  }

  #page .rex-button__1ArV .rex-button__3n3I.rex-button__32Uc {
    padding: 0;
    font-size: 2rem;
  }
}
