@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#page #loading {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

#page #loading i {
  font-size: 6rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -3rem -3rem 0 0;
  color: #f26e21;
  animation: spin 1.5s linear infinite;
}

#page .campaign-hero__schedule {
  display: none;
}

#page #campaign-hero-sub {
  background: #fdf7df;
}

#page #campaign-hero-sub .l-inner {
  display: flex;
  padding: 0;
  height: 30vw;
  align-items: flex-end;
}

#page #campaign-hero-sub .l-inner figure {
  order: 2;
}

#page #campaign-hero-sub .l-inner p {
  order: 1;
  padding: 0 0 7vw 5vw;
}

#page #term {
  margin: 3rem 0;
}

#page #term .l-inner > div > div {
  text-align: center;
  font-size: 1.2rem;
}

#page #term .l-inner > div .result_1 {
  background: #363636;
  border: 2px solid #363636;
  color: white;
  padding: 0.25em 0;
  border-radius: 1.2rem 1.2rem 0 0;
}

#page #term .l-inner > div .result_2 {
  border: 2px solid #363636;
  padding: 1em;
  border-radius: 0 0 1.2rem 1.2rem;
}

#page #steps .l-inner > ol > li {
  border-radius: 1.2rem;
  border: 4px solid #fd9900;
  padding: 0 2rem 2rem;
  margin: 0 0 3rem;
}

#page #steps .l-inner > ol > li > h2 {
  margin: -2rem 0 2rem;
}

#page #steps .l-inner > ol > li > h2 + p {
  text-align: center;
}

#page #steps .l-inner > ol > li > h3 {
  color: #fd9900;
}

#page #steps .l-inner > ol > li > h3 {
  font-size: 1.6rem;
  color: #fd9900;
}

#page #steps .l-inner > ol > li #rex-btn1,
#page #steps .l-inner > ol > li .trial-btn {
  margin: 2rem 0;
}

#page #steps .l-inner > ol > li #rex-btn1 button {
  width: 100%;
  padding: 0;
  text-align: center;
}

#page #steps .l-inner > ol > li #rex-btn1 button::before {
  content: none;
}

#page #steps .l-inner > ol > li .trial-btn {
  width: 100%;
  height: 80px;
  background: #bf0000;
  border-radius: 10px;
}

#page #steps .l-inner > ol > li .trial-btn a {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  display: block;
  line-height: 80px;
}

#page #steps .l-inner > ol > li .trial-btn + p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: -1em 0 0;
}

#page #steps .l-inner > ol > li .code input {
  display: block;
  width: 100%;
  margin: 2rem auto;
  padding: 1em 0 !important;
  text-align: center;
  font-size: 2.4rem;
  border: 2px solid #363636;
  border-radius: 1.2rem;
}

#page #steps .l-inner > ol > li .howtouse .slick-slide h3 {
  background: #fd9900;
  border-radius: 1.2rem;
  text-align: center;
  color: white;
  padding: 0.25em 0;
  margin: 1.2rem 0;
}

#page #steps .l-inner > ol > li .howtouse .slick-slide figure + p {
  font-size: 1.4rem;
  padding: 0.5em 0 0;
}

#page #steps .l-inner > ol > li .howtouse .slick-dots {
  margin: 0;
}

#page #steps .l-inner > ol > li .howtouse .slick-dots li button:before {
  content: none;
}

#page #steps .l-inner > ol > li .howtouse .slick-arrow:before {
  color: black;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    padding: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f26f21+0,ee3823+100 */
    background: #f26f21;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f26f21 0%, #ee3823 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f26f21 0%, #ee3823 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f26f21 0%, #ee3823 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  #page #campaign-hero-sub .l-inner {
    height: 140px;
  }
  #page #campaign-hero-sub .l-inner figure {
    order: 1;
  }
  #page #campaign-hero-sub .l-inner p {
    order: 2;
    padding: 0 0 30px 0;
  }
  #page #term {
    margin: 4rem 0;
  }
  #page #term .l-inner > div {
    display: flex;
    justify-content: center;
  }
  #page #term .l-inner > div > div {
    font-size: 2rem;
    font-weight: bold;
  }
  #page #term .l-inner > div .result_1 {
    padding: 1em 2em;
    border-radius: 1.2rem 0 0 1.2rem;
  }
  #page #term .l-inner > div .result_2 {
    padding: 1em 2em;
    border-radius: 0 1.2rem 1.2rem 0;
  }
  #page #steps .l-inner > ol > li {
    border-radius: 2.4rem;
    border: 6px solid #fd9900;
    padding: 0 6rem 6rem;
    margin: 6rem 0;
  }
  #page #steps .l-inner > ol > li > h2 {
    margin: -4rem 0 6rem;
    text-align: center;
  }
  #page #steps .l-inner > ol > li #rex-btn1,
  #page #steps .l-inner > ol > li .trial-btn {
    width: 400px;
    margin: 2rem auto;
  }
  #page #steps .l-inner > ol > li .trial-btn {
    transition: all 0.2s ease-in;
  }
  #page #steps .l-inner > ol > li .trial-btn:hover {
    background: #ff1212;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #page #steps .l-inner > ol > li .trial-btn a {
    font-size: 2rem;
  }
  #page #steps .l-inner > ol > li .trial-btn a::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 0.5em;
  }
  #page #steps .l-inner > ol > li .trial-btn + p {
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
  }
  #page #steps .l-inner > ol > li .code input {
    width: 350px;
  }
  #page #steps .l-inner > ol > li .howtouse .slick-slide {
    margin: 0 1.2rem;
  }
  #page #steps .l-inner > ol > li .howtouse .slick-slide figure img {
    width: 100%;
  }
}
