#page .l-content .plan-monthly-group,
#page .l-content .plan-yearly-group {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
  align-self: stretch;
  background: #F7F7F7;
}
#page .l-content .plan-monthly-group .ttl-group,
#page .l-content .plan-yearly-group .ttl-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
  padding-bottom: 16px;
  border-bottom: 1px solid #D1D1D1;
}
#page .l-content .plan-monthly-group .ttl-group h2,
#page .l-content .plan-yearly-group .ttl-group h2 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#page .l-content .plan-monthly-group .ttl-group .caption,
#page .l-content .plan-yearly-group .ttl-group .caption {
  color: #686868;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
#page .l-content .plan-monthly-group .plan-group-outer,
#page .l-content .plan-yearly-group .plan-group-outer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#page .l-content .plan-monthly-group .plan-yearly-ttl-group,
#page .l-content .plan-yearly-group .plan-yearly-ttl-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
#page .l-content .plan-monthly-group .plan-yearly-ttl-group p,
#page .l-content .plan-yearly-group .plan-yearly-ttl-group p {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
#page .l-content .plan-monthly-group .plan-yearly-ttl-group p span.difference,
#page .l-content .plan-yearly-group .plan-yearly-ttl-group p span.difference {
  font-size: 20px;
}
#page .l-content .plan-monthly-group .plan-group,
#page .l-content .plan-yearly-group .plan-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}
#page .l-content .plan-monthly-group .plan-group h3,
#page .l-content .plan-yearly-group .plan-group h3 {
  color: #686868;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
#page .l-content .plan-monthly-group .plan-group .plan-item-group,
#page .l-content .plan-yearly-group .plan-group .plan-item-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}
#page .l-content .plan-monthly-group .plan-item,
#page .l-content .plan-yearly-group .plan-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #FFF;
  overflow: hidden;
  color: initial !important;
  height: 54px;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-txt-group,
#page .l-content .plan-yearly-group .plan-item .plan-item-txt-group {
  display: flex;
  padding: 8px 0 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-txt-group .new,
#page .l-content .plan-yearly-group .plan-item .plan-item-txt-group .new {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 14.4px */
}
#page .l-content .plan-monthly-group .plan-item .plan-item-txt-group .plan-name,
#page .l-content .plan-yearly-group .plan-item .plan-item-txt-group .plan-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-txt-group .caption,
#page .l-content .plan-yearly-group .plan-item .plan-item-txt-group .caption {
  color: #686868;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-yearly-price-group,
#page .l-content .plan-yearly-group .plan-item .plan-item-yearly-price-group {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 12px;
  font-weight: 700;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-price,
#page .l-content .plan-yearly-group .plan-item .plan-item-price {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 8px;
  display: flex;
  align-items: baseline;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-price.free,
#page .l-content .plan-yearly-group .plan-item .plan-item-price.free {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-price .yearly-to-monthly,
#page .l-content .plan-yearly-group .plan-item .plan-item-price .yearly-to-monthly {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
#page .l-content .plan-monthly-group .plan-item .plan-item-price span.yen,
#page .l-content .plan-yearly-group .plan-item .plan-item-price span.yen {
  font-size: 24px;
  font-weight: 700;
}
#page .l-content .plan-monthly-group .plan-item .view-more,
#page .l-content .plan-yearly-group .plan-item .view-more {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding: 0 2px;
}
#page .l-content .plan-monthly-group .plan-item.standard,
#page .l-content .plan-yearly-group .plan-item.standard {
  border-color: #D80000;
  border-right: 16px solid #D80000;
}
#page .l-content .plan-monthly-group .plan-item.standard .plan-name,
#page .l-content .plan-yearly-group .plan-item.standard .plan-name {
  color: #8C0000;
}
#page .l-content .plan-monthly-group .plan-item.standard .view-more,
#page .l-content .plan-yearly-group .plan-item.standard .view-more {
  background: #D80000;
}
#page .l-content .plan-monthly-group .plan-item.cardmobile,
#page .l-content .plan-yearly-group .plan-item.cardmobile {
  border-color: #EF0AA1;
}
#page .l-content .plan-monthly-group .plan-item.cardmobile .new,
#page .l-content .plan-yearly-group .plan-item.cardmobile .new {
  color: #EF0AA1;
}
#page .l-content .plan-monthly-group .plan-item.cardmobile .plan-name,
#page .l-content .plan-yearly-group .plan-item.cardmobile .plan-name {
  color: #830056;
}
#page .l-content .plan-monthly-group .plan-item.cardmobile .view-more,
#page .l-content .plan-yearly-group .plan-item.cardmobile .view-more {
  background: #EF0AA1;
}
#page .l-content .plan-monthly-group .plan-item.student,
#page .l-content .plan-yearly-group .plan-item.student {
  border-color: #F59600;
}
#page .l-content .plan-monthly-group .plan-item.student .plan-name,
#page .l-content .plan-yearly-group .plan-item.student .plan-name {
  color: #7B4B00;
}
#page .l-content .plan-monthly-group .plan-item.student .view-more,
#page .l-content .plan-yearly-group .plan-item.student .view-more {
  background: #F59600;
}
#page .l-content .plan-monthly-group .plan-item.lite,
#page .l-content .plan-yearly-group .plan-item.lite {
  border-color: #00B900;
}
#page .l-content .plan-monthly-group .plan-item.lite .plan-name,
#page .l-content .plan-yearly-group .plan-item.lite .plan-name {
  color: #005300;
}
#page .l-content .plan-monthly-group .plan-item.lite .view-more,
#page .l-content .plan-yearly-group .plan-item.lite .view-more {
  background: #00B900;
}
#page .l-content .plan-monthly-group .plan-item.yearly,
#page .l-content .plan-yearly-group .plan-item.yearly {
  border-color: #9B00EC;
}
#page .l-content .plan-monthly-group .plan-item.yearly .plan-name,
#page .l-content .plan-yearly-group .plan-item.yearly .plan-name {
  color: #4B0071;
}
#page .l-content .plan-monthly-group .plan-item.yearly .view-more,
#page .l-content .plan-yearly-group .plan-item.yearly .view-more {
  background: #9B00EC;
}
#page .l-content .price-caption {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background: #F7F7F7;
}
#page .l-content .price-caption p {
  text-align: justify;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#page .l-content .price-caption p.red {
  color: #D80000;
}
#page .l-content .price-caption p.bold {
  font-weight: 700;
}
#page .l-content .price-caption p a {
  color: #D80000;
  text-decoration-line: underline;
}
#page .l-content .price-caption p svg {
  vertical-align: text-bottom;
}/*# sourceMappingURL=stack-pricelist.css.map */