/* ボタン余白 */
.App,
.Below {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 !important;
    margin: 0 !important;
}

#page .CampaignButton {
    margin: 0;
}

/* ボタンカラーリング */
#page .CampaignButton-enabled span.RexButton-message {
    color: white;
}

#page .CampaignButton-disabled span.RexButton-message,
#page .CampaignButton-applied span.RexButton-message {
    color: #898989;
}

#page .CampaignButton-success span.RexButton-message {
    color: #047205;
}

#rex-ceb-01 .agreement-message a,
#rex-ceb-01 .CampaignButton-in_process span.RexButton-message {
    color: #bf0000;
}

span.RexButton-message.CampaignEntryButton_rexButtonMessage__o1qbU {
    color: #bf0000;
}