@media screen and (min-width: 768px) {
  #page .latest-release__image img {
    max-width: initial;
  }
  #page .latest-release__banner {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  #page .latest-release__banner {
    display: none;
  }
}
