#page .campaign-hero__schedule br:last-child {
  display: none;
}

#page .campaign-hero__schedule a {
  color: white;
  text-decoration: underline;
}

#page .sns-follow {
  padding: 0 16px;
  margin: 32px auto;
}

#page .sns-follow .sns-follow-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  gap: 32px;
  background: #F7F7F7;
  border-radius: 32px;
}

#page .sns-follow .sns-follow-inner h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

#page .sns-follow .sns-follow-inner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

#page .sns-follow .sns-follow-inner ul {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0px;
  gap: 16px;
}

#page .sns-follow .sns-follow-inner ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  gap: 24px;
  background: #FFFFFF;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
}

#page .sns-follow .sns-follow-inner ul li a i {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page .sns-follow .sns-follow-inner ul li a span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 767px) {
  #page #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 14px 0px 12px;
    background: white;
  }
  #page .s-campaign-hero {
    background: url(/assets/campaign/2023/group/rchannel/img/bg.jpg) no-repeat center top/auto 82% #4975a5;
  }
  #page .sns-follow {
    margin: 32px auto 0;
  }
  #page .sns-follow .sns-follow-inner {
    width: 540px;
    margin: 0 auto;
  }
  #page .sns-follow .sns-follow-inner ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #page .sns-follow .sns-follow-inner ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #page .sns-follow .sns-follow-inner ul li a {
    height: 58px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    padding: 16px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page .sns-follow .sns-follow-inner ul li a:hover {
    border: 2px solid;
  }
  #page .sns-follow .sns-follow-inner ul li a i img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */