/* 楽天ポイントプレゼント */
.description-box {
  max-width: 100%;
  margin: 0 auto 24px;
  border: 2px solid #bf0000;
  border-radius: 3px;
}

.description-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  background-color: #bf0000;
  color: #fff;
  font-weight: 600;
}

.description-box p {
  margin: 0;
  padding: 1em 1.5em;
  color: #333;
  text-align: center;
}

#page #royal-answer-form.l-inner {
  padding: 36px 16px;
}
/* アンケートタイトル */
#page #royal-answer-form h1 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 36px;
}

#page #royal-answer-form h1 + p {
  padding: 16px;
  border: 1px solid;
  margin-bottom: 36px;
}

#page #royal-answer-form dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#page #royal-answer-form dl dt {
  padding: 16px;
  background: #f7f7f7;
  border-radius: 8px;
  width: 100%;
}

#page #royal-answer-form dl dt strong {
  color: red;
}

#page #royal-answer-form dl dd {
  width: 100%;
  margin: 0;
  padding: 24px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#page #royal-answer-form dl dd input[type='radio'] {
  margin-right: 0.75rem !important;
}

#page #royal-answer-form dl dd input.txtbox-username {
  width: 100%;
  padding: 8px;
}

#page #royal-answer-form .btn-submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 100%;
  padding: 16px;
  border-radius: 62px;
  border: none;
  background: #bf0000;
  color: white;
}
/* ヘッダーフッター非表示 */
#page .l-header,
#page .l-footer,
#page .l-breadcrumb {
  display: none;
}
#page .l-container.is-fixed {
  padding-top: 0;
}
/* フローティングボタン非表示 */
#page .floating-cta-button {
  display: none;
}
/* アンケート　テキストエリア初期は非表示 */
#answer1,
#answer2,
#answer3 {
  display: none;
}
/* テーブル設定 */
#page #royal-answer-form table {
  width: 100%;
  border-collapse: collapse;
}

/* アンケートコンテナ dl*/
#page #royal-answer-form .q-container {
  width: 100%;
  margin: 0;
  padding: 12px 0 !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
/* アンケートテキスト dt */
.q-text {
  padding: 16px;
  background: #f7f7f7;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
/* アンケートフォームエリア dd */
.q-form {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
/* バッジ */
#page #royal-answer-form .q-text strong {
  color: red;
}
/* --------フォーム関連--------- */
/* テキストボックス */
.textbox-2-label,
.textbox-2 {
  color: #333;
}

.textbox-2-label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.a-textbox {
  width: 100%;
  min-height: 140px;
  padding: 8px 10px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  background: #f7f7f7;
  font-size: 1em;
  line-height: 1.5;
}

.a-textbox::placeholder {
  color: #999;
}
/* テキストボックスここまで */
/* ラジオボタン */
input[type='radio'] {
  accent-color: #bf0000;
  transform: scale(1.5);
  margin-right: 0.75rem !important;
}
.q-form label {
  gap: 12px;
}
/* ラジオボタンここまで */

/* ページネーション関連 */
#page .border {
  margin: 24px 0;
  width: 100%;
  border: 1px solid #000;
}
.PageNumWrap {
  gap: 8px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.PageNumWrap span {
  padding: 4px 8px;
  background-color: #bf0000;
  color: #fff;
}
.PageNumWrap span:hover {
  cursor: pointer;
}

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓共通設定↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* テキストレスポンシブ改行用 */
#page .sp_break {
  display: block;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑共通設定ここまで↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* 画面サイズが768px以上の場合の設定（タブレット用） */
@media screen and (min-width: 767px) {
  /* テキストレスポンシブ改行用 */
  #page .sp_break {
    display: none;
  }
  /* アンケートコンテナ dl*/
  #page #royal-answer-form .q-container {
    flex-direction: row;
  }
  /* アンケートテキスト dt */
  #page #royal-answer-form .q-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 140px;
  }
  /* アンケートフォームエリア dd */
  .q-form {
    width: calc(60% - 16px);
    min-height: 140px;
    justify-content: center;
    padding-left: 1rem;
  }

  #page #royal-answer-form dl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #page #royal-answer-form dl dt {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
  }
  #page #royal-answer-form dl dd {
    width: calc(60% - 16px);
  }
  #page #royal-answer-form .btn-submit {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  #page #royal-answer-form .btn-submit:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
/*# sourceMappingURL=style.css.map */
