#page #campaign-apply {
    background: white;
}

#page #campaign-apply {
    padding: 40px 0 0;
}

#page #merit .l-inner h2 {
    font-size: 24px;
}

#page .movie__grid {
    display: block;
    justify-content: center;
}

#page #merit .l-inner>ol>li>.screenshot {
    background: #00979F;
}

#page #campaign-apply .l-inner>h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: black;
}

#page #campaign-apply .l-inner ol.steps>li {
    background: #EBEBEB;
    overflow: hidden;
}

#page #campaign-apply .l-inner ol.steps>li>h2 {
    margin: 32px 0 16px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    line-height: 42px;
    color: #00979F;
}

#page #campaign-apply .l-inner ol.steps>li p {
    font-size: 16px;
    line-height: 24px;
    color: red;
}

#page #campaign-apply .l-inner ol.steps>li p.present-song {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: #00979F;
    margin-top: 16px;
}

#page #campaign-apply .l-inner ol.steps>li p.lead,
#page .l-inner .apply p.lead {
    text-align: center;
    margin: 16px 0 8px;
    font-size: 20px;
    line-height: 26px;
    color: black;
    font-weight: bold;
}

#page #campaign-apply .l-inner ol.steps>li p.small,
#page .l-inner .apply p.small {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #686868;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn,
#page .l-inner .apply .trial-btn {
    margin: 24px 0;
    width: 100%;
    height: 80px;
    background: #00979F;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
    border-radius: 80px;
}

#page #songs .l-inner .artist-link {
    margin: 24px 0;
    width: 100%;
    height: 80px;
    background: #686868;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
    border-radius: 80px;
}

#page #campaign-apply .l-inner ol.steps>li div.trial-btn a,
#page .l-inner .apply .trial-btn a,
#page #songs .l-inner .artist-link a {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 80px;
}

#page .arrow {
    text-align: center;
    margin: 0 auto 40px;
    width: 87px;
}

#page .apply .l-inner h2 {
    color: #00979F;
    text-align: center;
    font-size: 24px;
}

#page #songs {
    background: #EBEBEB;
    margin: 3.2rem auto 1.6rem;
    padding: 32px 0;
}

#page #songs .l-inner>ol {
    display: flex;
    justify-content: center;
}

#page #songs .l-inner>ol>li {
    display: flex;
    margin: 1.6rem 0;
}

#page #songs .l-inner>ol>li>img {
    margin-right: 0.8rem;
    width: 170px;
}

#page #songs .l-inner h2 {
    text-align: center;
}

@media screen and (max-width: 950px) {
    #page #songs .l-inner>ol {
        display: block;
    }
    #page #songs .l-inner>ol>li {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    #page .s-campaign-hero {
        padding: 0;
        background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/artist/perfume/img/bg.gif) no-repeat center top/auto 86.4% black;
    }
    #page .campaign-hero__schedule {
        position: relative;
        z-index: 1;
    }
    #page #campaign-apply .l-inner>h1 {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 16px;
    }
    #page #campaign-apply .l-inner ol.steps {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #page #campaign-apply .l-inner ol.steps>li {
        box-sizing: border-box;
        margin: 40px auto;
        padding: 40px 0px;
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*
    #page #campaign-apply .l-inner ol.steps>li>.step2>div:first-child {
        display: block;
        margin: 20px 80px 0;
    }*/
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>.screenshot {
        width: 220px;
        margin: 16px 32px;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>.present {
        width: 240px;
        margin: 16px 32px;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure>img {
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>h2 {
        margin: 0 0 16px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
    }
    #page #campaign-apply .l-inner ol.steps>li p {
        text-align: center;
    }
    #page #campaign-apply .l-inner ol.steps>li div.trial-btn,
    #page .l-inner .apply .trial-btn,
    #page #songs .l-inner .artist-link {
        margin: 24px auto;
        width: 343px;
        transition: all 0.2s ease-in;
    }
    #page #campaign-apply .l-inner ol.steps>li div.trial-btn:hover,
    #page .l-inner .apply .trial-btn:hover,
    #page #songs .l-inner .artist-link:hover {
        opacity: 90%;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.1), 0px 4px 23px rgba(0, 0, 0, 0.06), 0px 12px 19px rgba(0, 0, 0, 0.07);
    }
    #page .item-list .item__list {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    #page #campaign-apply .l-inner ol.steps>li {
        margin: 16px auto 32px;
        padding: 0 16px 30px;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure {
        width: 220px;
        text-align: center;
        margin: 0 auto;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>.screenshot {
        margin: 1.6rem auto;
    }
}

@media screen and (max-width:500px) {
    #page #campaign-apply .l-inner ol.steps>li p.lead,
    #page .l-inner .apply p.lead {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure img:first-child {
        width: 100%;
    }
    #page #campaign-apply .l-inner ol.steps>li>.step2>div>figure img:last-child {
        width: 100%;
    }
    #page #songs .l-inner>ol>li>img {
        width: 150px;
    }
}