#page .campaign-hero__schedule {
  background: #0053a3;
}

#page .campaign-hero__schedule .campaign-hero__schedule__note a {
  color: white;
  text-decoration: underline;
}

#page #campaign-about {
  background: #f2edd9;
}

#page #campaign-about > .l-inner {
  padding: 36px 24px;
}

#page #campaign-about > .l-inner:after {
  content: "";
  display: block;
  margin: 36px auto 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 44px 0 44px;
  border-color: #0053a3 transparent transparent transparent;
}

#page #campaign-about > .l-inner h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #0053a3;
  margin: 36px 0;
}

#page #campaign-about > .l-inner ol.campaign-steps > li {
  display: flex;
  flex-direction: column;
  margin: 36px 0;
}

#page #campaign-about > .l-inner ol.campaign-steps > li h2 {
  background: #0053a3;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  padding: 24px 0;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div {
  background: #ffffff;
  padding: 36px 16px;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div > h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #0053a3;
  margin: 0 0 24px;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div > h4 {
  text-align: center;
  margin: 0;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div > p.lead {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #0053a3;
  margin: 24px 0;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div > p.lead + p small {
  display: block;
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  color: #686868;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .btn-apply {
  margin: 24px 0 0 !important;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .btn-apply .l-inner > * {
  width: 100%;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div dl {
  display: flex;
  flex-direction: column;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div dl > * {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  padding: 12px 0;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div dl dt {
  color: #ffffff;
  background: #0053a3;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div dl dd {
  margin: 0;
  border: 4px solid #0053a3;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide figure {
  width: 58.6vw;
  margin: 0 auto 24px;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide figure + div p {
  margin: 24px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #0053a3;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide figure + div p small {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  color: #0053a3;
  display: block;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-prev {
  left: -8vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 42px 32px 0;
  border-color: transparent #0053a3 transparent transparent;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-prev::before {
  content: "";
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-next {
  right: -8vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 0 32px 42px;
  border-color: transparent transparent transparent #0053a3;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-next::before {
  content: "";
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-disabled {
  display: none !important;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists {
  display: flex;
  flex-direction: column;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists h4 {
  background: #018dae;
  padding: 24px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul {
  padding: 24px 16px 12px;
  border: 3px solid #018dae;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li p {
  font-size: 16px;
  line-height: 24px;
  color: #018dae;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li p + div {
  display: flex;
  justify-content: flex-end;
}

#page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li p + div a {
  display: inline-block;
  background: #018dae;
  padding: 6px 12px;
  border-radius: 36px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

#page #campaign-about figure.point-100 {
  background: #fc4349;
  border-radius: 24px;
  padding: 24px 24px 12px;
}

#page #campaign-about figure.point-200 {
  background: #0053a3;
  padding: 24px 24px 12px;
}

#page iframe.widget-iframe--campaign {
  margin: 24px 0 0;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/fujirock/img/bg.jpg) no-repeat center top/auto 82% #0053a3;
  }
  #page .campaign-hero__schedule .campaign-hero__schedule__note a:hover {
    text-decoration: none;
  }
  #page #campaign-about > .l-inner:after {
    visibility: visible;
  }
  #page #campaign-about > .l-inner h1 {
    font-size: 46px;
    line-height: 60px;
  }
  #page #campaign-about > .l-inner .bnr-tkt {
    text-align: center;
  }
  #page #campaign-about > .l-inner .bnr-tkt a {
    transition: all 0.2s ease-in;
  }
  #page #campaign-about > .l-inner .bnr-tkt a:hover {
    opacity: 0.8;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li {
    flex-direction: row;
    align-items: center;
    background: #0053a3;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li h2 {
    width: 200px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div {
    flex: 1;
    padding: 36px 24px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div > h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .btn-apply .l-inner {
    width: 100%;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div dl {
    flex-direction: row;
    justify-content: center;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div dl dt {
    padding: 12px 24px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div dl dd {
    padding: 12px 36px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .campaign-code-steps {
    width: 800px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps {
    width: 800px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide figure {
    width: 220px;
    margin: 0 24px 0 0;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide figure img {
    width: 100%;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide figure + div {
    width: 400px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-slide figure + div p {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-prev {
    left: 0;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .mypage-steps .slick-next {
    right: 0;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists {
    flex-direction: row;
    align-items: center;
    background: #018dae;
    width: 645px;
    margin: 24px auto 0;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists h4 {
    padding: 0 36px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul {
    flex: 1;
    background: white;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li {
    flex-direction: row;
    align-items: center;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li p {
    margin-right: 12px;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li p + div a {
    transition: all 0.2s ease-in;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div .playlists ul li p + div a:hover {
    background: #21bde2;
  }
  #page #campaign-about > .l-inner ol.campaign-steps > li > div p.lead + p small {
    text-align: center;
  }
  #page #campaign-about figure.point-100 {
    text-align: center;
    border-radius: 200px;
  }
  #page #campaign-about figure.point-200 {
    text-align: center;
    padding: 48px 0 36px;
  }
  #page iframe.widget-iframe--campaign {
    display: block;
    width: 645px;
    margin: 24px auto 0;
  }
}
