#page .campaign-hero__schedule p a {
  color: white;
}

#page .campaign-hero__schedule p br:last-child {
  display: none;
}

#page .anchor-links--sp select {
  -webkit-appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  gap: 8px;
  width: 343px;
  height: 50px;
  background: url(/assets/campaign/2022/comeback/img/icon_chevron_down.png) no-repeat center right 24px/16px 16px;
  border: 2px solid #D43345;
  -webkit-box-shadow: 0px 4px 0px rgba(212, 51, 69, 0.25);
          box-shadow: 0px 4px 0px rgba(212, 51, 69, 0.25);
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #D43345;
  margin: 32px auto;
}

#page .flx-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 8px;
}

#page .flx-32 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 16px;
  gap: 32px;
}

#page .txt-pink {
  color: #D43345;
}

#page .btn-secondary {
  width: 343px;
  height: 76px;
}

#page .btn-secondary a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #D43345;
  text-align: center;
  border: 2px solid #D43345;
  -webkit-box-shadow: 0px 4px 0px rgba(212, 51, 69, 0.25);
          box-shadow: 0px 4px 0px rgba(212, 51, 69, 0.25);
  border-radius: 76px;
}

#page #ttl_01_about,
#page #ttl_02_plan,
#page #ttl_03_rank,
#page #ttl_04_point,
#page #cpn-detail {
  padding: 0;
  margin: 32px auto;
}

#page #ttl_01_about > h1,
#page #ttl_02_plan > h1,
#page #ttl_03_rank > h1,
#page #ttl_04_point > h1,
#page #cpn-detail > h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  padding: 16px 0px;
  background: #D43345;
  text-align: center;
  color: #FFFFFF;
}

#page #ttl_01_about h2,
#page #ttl_02_plan h2,
#page #ttl_03_rank h2,
#page #ttl_04_point h2,
#page #cpn-detail h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

#page #ttl_01_about > h1,
#page #ttl_02_plan > h1,
#page #ttl_03_rank > h1 {
  margin-bottom: 32px;
}

#page #ttl_01_about p,
#page #ttl_02_plan p,
#page #ttl_03_rank p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page #ttl_01_about p.lead,
#page #ttl_02_plan p.lead,
#page #ttl_03_rank p.lead {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

#page #cpn-detail .s-campaign-detail .l-inner h2 {
  display: none;
}

#page #price > .l-inner > h1,
#page #price > .l-inner .price-lead {
  display: none;
}

#page #stack-competitive-services {
  margin-top: 32px;
}

#page .tokuten-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0px;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#page .tokuten-list li {
  width: calc(50% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 8px;
  background: #FFFFFF;
  border: 1px solid #B6B6B6;
}

#page .tokuten-list li i {
  padding: 16px 0;
}

#page .tokuten-list li i img {
  width: auto;
}

#page .tokuten-list li p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  padding: 0 8px;
}

@media screen and (min-width: 767px) {
  #page .campaign-hero__schedule p a:hover {
    text-decoration: underline;
  }
  #page .s-campaign-hero {
    background: url(/assets/campaign/2022/comeback/img/bg.jpg) repeat-x center top/auto 316px #D53345;
  }
  #page .btn-apply {
    margin: 32px auto;
  }
  #page .btn-secondary {
    width: auto;
    height: auto;
  }
  #page .btn-secondary a {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page .btn-secondary:hover a {
    background: #D43345;
    color: white;
  }
  #page .anchor-links--pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 16px 8px;
    width: 770px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 32px auto;
  }
  #page .anchor-links--pc > li {
    height: 50px;
    border: 2px solid #D43345;
    -webkit-box-shadow: 0px 4px 0px rgba(212, 51, 69, 0.25);
            box-shadow: 0px 4px 0px rgba(212, 51, 69, 0.25);
    border-radius: 50px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  #page .anchor-links--pc > li a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 24px;
    gap: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #D43345;
  }
  #page .anchor-links--pc > li a::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url(/assets/campaign/2022/comeback/img/icon_chevron_down.png) no-repeat center/cover;
  }
  #page .anchor-links--pc > li:hover {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  #page .tokuten-list li {
    width: 296px;
    padding: 0px 0px 24px;
  }
  #page .tokuten-list li figure img {
    width: 100%;
  }
  #page .tokuten-list li i img {
    height: 48px !important;
  }
  #page .tokuten-list li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  #page #ttl_01_about > h1,
  #page #ttl_02_plan > h1,
  #page #ttl_03_rank > h1,
  #page #ttl_04_point > h1,
  #page #cpn-detail > h1 {
    font-size: 40px;
    line-height: 52px;
  }
  #page #ttl_01_about h2,
  #page #ttl_02_plan h2,
  #page #ttl_03_rank h2,
  #page #ttl_04_point h2,
  #page #cpn-detail h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }
  #page #ttl_01_about p,
  #page #ttl_02_plan p,
  #page #ttl_03_rank p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  #page #ttl_01_about p.lead,
  #page #ttl_02_plan p.lead,
  #page #ttl_03_rank p.lead {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  #page #price .l-inner:after {
    content: none;
  }
  #page #stack-competitive-services > .l-inner {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */