#page .s-campaign-detail .campaign-detail__table td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

#page .Alert {
  margin-bottom: 16px;
}

#page .txt-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F558B9;
}

#page .cpn_term_multiple {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  gap: 4px;
  background: #FFFFFF;
  border-radius: 16px;
}

#page .cpn_term_multiple img {
  width: 60px;
}

#page .cpn_term_multiple p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

#page .cpn_term_multiple.disabled {
  background: #DFDFDF;
}

#page .cpn_term_multiple.disabled p {
  font-size: 14px;
  line-height: 20px;
  color: #898989;
}

#page .cpn_term_multiple.disabled p.date {
  font-size: 12px;
  line-height: 16px;
  text-decoration: line-through;
}

#page .cpn-gift .txt-plane {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page .cpn-gift .txt-plane strong {
  color: #F558B9;
}

#page .cpn-gift .txt-lead {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #F558B9;
  margin: 0 auto;
}

#page .cpn-gift .txt-pink {
  color: #F558B9;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page .cpn-gift .txt-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#page .cpn-gift .txt-num {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

#page .cpn-gift .txt-num strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

#page .cpn-gift .item-img {
  width: auto;
  height: 180px;
}

#page .cpn-gift ul.gift-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0px;
  gap: 16px;
}

#page .cpn-gift ul.gift-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 16px;
}

#page .cpn-gift ul.gift-list li .flx-8 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 8px;
}

#page .btn-dl > a {
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 16px 0;
  background: #D80000;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border-radius: 60px;
}

#page .stack-characteristic + .btn-dl {
  margin: 32px auto;
}

#page #sticky-apply-btn > a.is-hidden--pc {
  background: #D80000;
}

@media screen and (min-width: 767px) {
  #page .cpn_term_multiple {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 8px 16px;
    gap: 16px;
    border-radius: 40px;
  }
  #page .cpn_term_multiple p {
    font-size: 16px;
    line-height: 24px;
  }
  #page .cpn-gift h3 img {
    width: 380px;
  }
  #page .cpn-gift .txt-plane {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  #page .cpn-gift .txt-num {
    font-size: 16px;
    line-height: 24px;
  }
  #page .cpn-gift .txt-num strong {
    font-size: 28px;
    line-height: 36px;
  }
  #page .cpn-gift .txt-pink {
    font-size: 16px;
    line-height: 24px;
  }
  #page .cpn-gift .txt-item {
    font-size: 20px;
    line-height: 26px;
  }
  #page .btn-dl div.is-hidden--sp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px;
    background: #FFFFFF;
  }
  #page .btn-dl div.is-hidden--sp p {
    width: 212px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }
  #page .btn-dl div.is-hidden--sp img {
    width: 140px;
  }
}
/*# sourceMappingURL=style.css.map */