@charset "UTF-8";
#page #items-ehon .item-list .item__list p {
  color: black;
}

#page #items-ehon .item-list .item__list p b {
  color: #bf0000;
}

#page #items-ehon .item-list li:nth-child(6) {
  display: none;
}

#page .item-list .item__card__title {
  margin-top: 8px;
  font-size: 1.2rem;
  line-height: 1.67;
  color: #000000;
}

@media screen and (min-width: 768px) {
  div#btn-apply {
    padding-top: 40px;
  }
  .text-box .l-inner p {
    font-size: 14px;
    text-align: right;
  }
  /*================================
   特典
    ================================*/
  .howtoget-coupon {
    width: 950px;
    margin: 0 auto !important;
    text-align: center;
    padding: 0;
  }
  .howtoget-coupon li {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .howtoget-coupon li p {
    line-height: 1.5em;
  }
  p.slide-img01 {
    padding: 0 !important;
    margin: 40px 0 20px !important;
    width: 310px;
    height: 290px;
    display: inline-block;
  }
  .marathon-topbnr {
    width: 950px;
    height: 110px;
    margin: 0 auto;
  }
  p.benefits-01 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-01.png) no-repeat;
  }
  p.benefits-01:hover {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-01-2.png) no-repeat;
  }
  p.benefits-02 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-02.png) no-repeat;
  }
  p.benefits-02:hover {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-02-2.png) no-repeat;
  }
  p.benefits-03 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-03.png) no-repeat;
  }
  p.benefits-03:hover {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-03-2.png) no-repeat;
  }
}

@media screen and (max-width: 768px) {
  #page #items-ehon .item-list li:nth-child(6) {
    display: block;
  }
  div#btn-apply {
    padding-top: 4vw;
  }
  .text-box .l-inner p {
    font-size: 14px;
    text-align: right;
  }
  /*================================
  特典
    ================================*/
  .content-inner {
    padding: 0 0 8vw !important;
  }
  .content-inner .sliderBox ol {
    text-align: center;
  }
.content-inner .sliderBox ol li {
    font-size: 3.7vw !important;
    padding-top: 2vw !important;
}
  .content-inner .sliderBox ol li p.slide-img01 img {
    width: 100%;
  }
  .content-inner .sliderBox ol li p.slide-text01 {
    text-align: center;
    margin: 2vw 0 0 !important;
  }
  .content-inner .sliderBox ol li p.slide-text01 .red {
    color: #ff1a1a;
  }
  p.benefits-01 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-01.png) no-repeat center;
    height: 0;
    padding-top: 76.25%;
    background-size: contain;
  }
  p.benefits-01:hover {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-01-2.png) no-repeat center;
height: 0;
    padding-top: 76.25%;
    background-size: contain;
  }
  p.benefits-02 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-02.png) no-repeat center;
    height: 0;
    padding-top: 76.25%;
    background-size: contain;
  }
  p.benefits-02:hover {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-02-2.png) no-repeat center;
height: 0;
    padding-top: 76.25%;
    background-size: contain;
  }
  p.benefits-03 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-03.png) no-repeat center;
    height: 0;
    padding-top: 76.25%;
    background-size: contain;
  }
  p.benefits-03:hover {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/ehonkan/img/step-03-2.png) no-repeat center;
height: 0;
    padding-top: 76.25%;
    background-size: contain;
  }
}