#page #campaign-apply {
  background: white;
  padding: 40px 0 0;
  background: #88ca28;
  background-size: contain;
}

#page #merit .l-inner h2 {
  font-size: 24px;
}

#page #campaign-apply .l-inner ol.steps > li {
  background: #f7f7f7;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#page #campaign-apply .l-inner ol.steps > li .btn-apply {
  margin: 24px 0;
}

#page #campaign-apply .l-inner ol.steps > li .btn-apply .l-inner {
  width: 100%;
}

#page #campaign-apply .l-inner ol.steps > li .btn-apply .l-inner .trial-btn + p {
  color: black;
}

#page #campaign-apply .l-inner ol::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5rem 4.5rem 0 4.5rem;
  border-color: white transparent transparent transparent;
  position: relative;
  top: 40px;
  left: 50%;
  margin-left: -45px;
}

#page #campaign-apply .l-inner ol.steps > li p {
  font-size: 16px;
  line-height: 24px;
  color: red;
}

#page #campaign-apply .l-inner ol.steps > li p.present-song {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 16px;
}

#page #campaign-apply .l-inner ol.steps > li > h2 {
  margin: 0 0 16px;
  text-align: center;
  font-size: 32px;
  line-height: 52px;
  color: #88ca28;
}

#page #campaign-apply .l-inner ol.steps > li p.lead {
  text-align: center;
  margin: 16px 0 8px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

#page #campaign-apply .l-inner > h1 {
  text-align: center;
  font-size: 32px;
  line-height: 16px;
  color: white;
  margin-bottom: 3.2rem;
}

#page .l-inner .apply .l-inner {
  width: 100%;
}

#page .l-inner .apply .l-inner p.lead {
  text-align: center;
  margin: 16px 0 8px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

#page .l-inner .apply .l-inner .btn-apply {
  margin: 24px 0 72px;
}

#page .l-inner .apply .l-inner .btn-apply .l-inner > p {
  color: white;
}

#page #campaign-apply .l-inner ol.steps > li p.lead {
  color: black;
}

#page #campaign-apply .l-inner ol.steps > li p.small {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

#page .l-inner .apply p.small {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin: 0 auto;
  padding-bottom: 4rem;
}

#page #campaign-apply .l-inner ol.steps > li p.small {
  color: #686868;
}

#page .apply {
  margin-top: 2.4rem;
  padding-top: 1.8rem;
}

#page .apply .l-inner h2 {
  color: #f8ff49;
  text-align: center;
  font-size: 24px;
}

#page #point-mission > .l-inner {
  padding: 72px 0;
}

@media screen and (min-width: 1139px) {
  #page .s-delivery-list .l-inner {
    width: 1140px;
  }
}

@media screen and (min-width: 951px) {
  #page .l-inner {
    width: 950px;
  }
}

@media screen and (max-width: 950px) {
  #page .l-inner {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    padding: 0;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/artist/ikimonogakari/img/bg.jpg) no-repeat center top/auto 84.4% #88ca28;
    position: relative;
  }
  #page .s-campaign-hero:after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: black;
  }
  #page .campaign-hero__schedule {
    position: relative;
    z-index: 1;
  }
  #page #campaign-apply .l-inner ol.steps {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #page #campaign-apply .l-inner ol.steps > li {
    box-sizing: border-box;
    margin: 40px auto;
    padding: 40px 0px;
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > .screenshot {
    width: 220px;
    margin: 16px 32px;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > .present {
    width: 240px;
    margin: 16px 32px;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure > img {
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li p {
    text-align: center;
  }
  #page .item-list .item__list {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #page .l-inner {
    width: 100%;
  }
  #page .l-inner .apply .l-inner .btn-apply {
    margin: 24px 0 32px;
  }
  #page .l-inner .apply .l-inner .btn-apply .l-inner > * {
    width: 100%;
  }
  #page #campaign-apply {
    padding: 40px 0;
  }
  #page #campaign-apply .l-inner ol.steps > li {
    margin: 16px auto 32px;
    padding: 24px 16px;
  }
  #page #campaign-apply .l-inner ol.steps > li .btn-apply > .l-inner > * {
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure {
    width: 220px;
    text-align: center;
    margin: 0 auto;
  }
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > .screenshot {
    margin: 1.6rem auto;
  }
  #page .apply .l-inner h2,
  #page #campaign-apply .l-inner ol.steps > li p.small,
  #page .l-inner .apply p.small {
    text-align: left;
  }
  #page #point-mission > .l-inner {
    padding: 72px 16px;
  }
}

@media screen and (max-width: 400px) {
  #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure img:first-child, #page #campaign-apply .l-inner ol.steps > li > .step2 > div > figure img:last-child {
    width: 100%;
  }
}
