#page #campaign-apply {
  background: #f0efed;
  padding-top: 1px;
  margin-bottom: 48px;
}

#page #campaign-apply .l-inner > h1 {
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

#page #campaign-apply .l-inner ol.steps > li {
  background: white;
  margin: 16px auto;
  padding: 24px 16px;
  text-align: center;
}

#page #campaign-apply .l-inner ol.steps > li > h2 {
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  font-weight: 100;
}

#page #campaign-apply .l-inner ol.steps > li p.lead {
  text-align: center;
  margin: 24px auto;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

#page #campaign-apply .l-inner ol.steps > li p.lead.line::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  margin-bottom: 24px;
}

#page #campaign-apply .l-inner ol.steps > li p {
  margin-top: 24px;
}

#page #campaign-apply .l-inner ol.steps > li p small {
  display: block;
}

#page #campaign-apply .l-inner ol.steps > li .tkt-btn {
  display: inline-block;
  background: #7d00be;
  border-radius: 50px;
  margin: 0 auto;
}

#page #campaign-apply .l-inner ol.steps > li .tkt-btn a {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 12px 24px;
}

#page #campaign-apply .l-inner ol.steps > li .tkt-btn a i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/artist/awesomecityclub/img/external_link.png) no-repeat center/cover;
  vertical-align: top;
  margin-left: 12px;
}

#page #campaign-apply .l-inner ol.steps > li .tkt-logo {
  margin: 24px auto;
}

#page #campaign-apply .l-inner ol.steps > li .tkt-live {
  margin: 24px auto;
}

#page #campaign-apply .l-inner ol.steps > li .step2 {
  display: flex;
  flex-direction: column;
}

#page #campaign-apply .l-inner ol.steps > li .step2 .screenshot {
  width: 75%;
  margin: 24px auto;
}

#page #campaign-apply .l-inner ol.steps > li .step2 iframe {
  width: 100%;
}

#page #campaign-apply .l-inner ol.steps > li .step2 iframe + p.small {
  font-size: 12px;
  line-height: 16px;
  color: #686868;
  margin-top: 12px;
}

#page #campaign-apply .l-inner .arrow {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

#page #campaign-apply .l-inner .btn-apply {
  margin: 24px auto;
}

#page #campaign-apply .l-inner .btn-apply .l-inner > * {
  width: 100%;
}

#page #campaign-apply .l-inner .apply > .l-inner {
  padding: 0 0 36px;
}

#page #campaign-apply .l-inner .apply > .l-inner p.lead {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 16px 0 0;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/artist/awesomecityclub/img/bg.jpg) repeat-x center top/auto 86.5% black;
    position: relative;
  }
  #page .campaign-hero__schedule {
    position: relative;
    z-index: 1;
  }
  #page #campaign-apply .l-inner ol.steps > li p {
    text-align: center;
  }
  #page #campaign-apply .l-inner ol.steps > li .tkt-btn {
    transition: all 0.2s ease-in;
  }
  #page #campaign-apply .l-inner ol.steps > li .tkt-btn:hover {
    box-shadow: 0px 24px 38px rgba(75, 0, 113, 0.04), 0px 9px 46px rgba(75, 0, 113, 0.12), 0px 11px 15px rgba(75, 0, 113, 0.2);
  }
  #page #campaign-apply .l-inner ol.steps > li .tkt-logo {
    width: 275px;
  }
  #page #campaign-apply .l-inner ol.steps > li .tkt-logo img {
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 32px;
    margin: 24px auto;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div .screenshot {
    width: 220px;
    margin: 0;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div .screenshot img {
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 iframe {
    width: 418px;
  }
  #page #campaign-apply .l-inner .apply > .l-inner {
    width: 100%;
  }
  #page #campaign-apply .l-inner .apply > .l-inner p.lead + p {
    text-align: center;
    margin-top: 24px;
  }
  #page #campaign-apply .l-inner .btn-apply > .l-inner {
    width: 100%;
  }
  #page #campaign-apply .l-inner .btn-apply > .l-inner .trial-btn {
    width: 450px;
  }
}
