#page .l-content {
  overflow: hidden;
}

#page .s-campaign-hero {
  margin: 0 0 36px;
  position: relative;
}

#page .s-campaign-hero > .l-inner {
  padding: 0;
}

#page .s-campaign-hero > .l-inner .campaign-hero__schedule {
  display: none;
}

#page .s-campaign-hero + .text-box {
  padding: 0 24px;
}

#page .s-campaign-hero + .text-box .l-inner {
  border: 2px solid black;
  padding: 24px;
  border-radius: 12px;
}

#page h1.disp1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #0d004c;
  text-align: center;
  margin: 36px 0px;
}

#page #rm-application-procedure .l-inner h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #0d004c;
  margin: 0 auto 12px;
}

#page #rm-application-procedure .l-inner figure {
  width: 70%;
  margin: 12px auto;
}

#page #rm-application-procedure .l-inner p {
  margin: 12px auto 36px;
  text-align: center;
}

#page #rm-application-procedure .l-inner p small {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #686868;
}

#page #rm-application-procedure .l-inner p a {
  color: #006497;
}

#page #rm-steps .l-inner ol {
  display: flex;
  justify-content: center;
  margin: 6rem 0;
}

#page #rm-steps .l-inner ol li {
  position: relative;
}

#page #rm-steps .l-inner ol li:nth-child(1):before {
  content: "STEP 1";
  background: #0d004c;
  padding: 1rem 3rem;
  margin: 0 2.2rem 0 6rem;
  color: white;
  border-radius: 0.6rem;
}

#page #rm-steps .l-inner ol li:nth-child(2):before {
  content: "STEP 2";
  background: #0d004c;
  padding: 1rem 3rem;
  margin: 0 2.2rem 0 6rem;
  color: white;
  border-radius: 0.6rem;
}

#page #rm-steps .l-inner ol li:not(:last-child):after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 0 1rem 1rem;
  border-color: transparent transparent transparent #0d004c;
  position: absolute;
  top: 0.5rem;
  right: -3.8rem;
}

#page #rm-steps-content .l-inner > ol > li {
  position: relative;
  border: 0.3rem solid #0d004c;
  border-radius: 2rem;
  background: white;
  padding: 0 4rem 4rem;
}

#page #rm-steps-content .l-inner > ol > li:not(:last-child) {
  margin: 0 0 3rem;
}

#page #rm-steps-content .l-inner > ol > li:not(:last-child):after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2rem 2.5rem 0 2.5rem;
  border-color: #0d004c transparent transparent transparent;
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
}

#page #rm-steps-content .l-inner > ol > li:last-child {
  background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/complete.png) no-repeat left -1rem top -2rem;
}

#page #rm-steps-content .l-inner > ol > li:last-child p {
  margin: 0;
  padding: 0 4rem !important;
}

#page #rm-steps-content .l-inner > ol > li:last-child p small {
  display: block;
  padding: 1rem;
  margin: 1rem 0 0;
  text-align: justify;
  background: rgba(255, 255, 255, 0.8);
}

#page #rm-steps-content .l-inner > ol > li .heading--m {
  color: #0d004c;
  margin: 12px 0 24px;
  padding: 0;
}

#page #rm-steps-content .l-inner > ol > li .heading--s {
  margin: 4rem 0 0;
}

#page #rm-steps-content .l-inner > ol > li > p {
  text-align: center;
  margin: 0 0 2rem;
}

#page #rm-steps-content .l-inner > ol > li > p span {
  color: red;
}

#page #rm-steps-content .l-inner > ol > li > p span.complate {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

#page #rm-steps-content .l-inner > ol > li > p span a {
  margin: 0 3px;
  padding: 2px 4px;
  color: white;
  background: red;
  border-radius: 4px;
}

#page #rm-steps-content .l-inner > ol > li > p span a:hover {
  background: #0d004c;
}

#page #rm-steps-content .l-inner > ol > li > p strong {
  font-size: 1.6em;
  color: red;
}

#page #rm-steps-content .l-inner > ol > li > div {
  text-align: center;
}

#page #rm-steps-content .l-inner > ol > li > div + p {
  margin: 16px 0;
}

#page #rm-steps-content .l-inner > ol > li > div + p small {
  display: block;
  line-height: 1.5;
}

#page #rm-steps-content .l-inner > ol > li .campaign-code-steps {
  margin-bottom: 24px;
}

#page #rm-steps-content .l-inner > ol > li .campaign-code-steps .slick-slide p {
  text-align: left;
}

#page #rm-steps-content .l-inner > ol > li form > input:last-of-type {
  display: block;
  width: 400px;
  height: 100px;
  background: #bf0000;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  color: white;
  line-height: 100px;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  margin: 2rem auto 0;
  transition: all 0.2s;
}

#page #rm-steps-content .l-inner > ol > li form > input:last-of-type:hover {
  background: #ff1212;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#page #rm-steps-content .l-inner > ol > li .rex-button__1ArV .rex-button__3n3I {
  width: 400px;
  height: 100px;
  border-radius: 10px;
}

#page #rm-steps-content .l-inner > ol > li .btn-apply {
  margin: 0;
}

#page #rm-steps-content .l-inner > ol > li .btn-apply .l-inner {
  width: 100%;
}

#page #rm-steps-content .l-inner > ol > li .btn-apply .l-inner > * {
  width: 100%;
}

#page #rm-steps-content .l-inner > ol > li .btn-apply + p {
  text-align: justify;
}

#page #rm-steps-content .l-inner > ol > li .btn-apply + p small {
  display: block;
  line-height: 1.5;
}

#page #rm-plan-change .l-inner h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #0d004c;
  margin: -36px 0 24px;
}

#page #rm-plan-change .l-inner p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 12px 0px 0px;
}

#page #rm-plan-change .l-inner p svg {
  position: relative;
  top: 6px;
}

#page #rm-plan-change .l-inner .slick-prev {
  left: -8px;
}

#page #rm-plan-change .l-inner .slick-next {
  right: -8px;
}

#page #rm-plan-change .l-inner .slick-prev:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 20px 16px 0;
  border-color: transparent #0d004c transparent transparent;
}

#page #rm-plan-change .l-inner .slick-next:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #0d004c;
}

#page #rm-popular-songs .songs .slick-track {
  display: flex;
}

#page #rm-popular-songs .songs .slick-track .slick-slide {
  float: initial;
  flex: 1;
  border: 1px solid #ccc;
  padding: 3rem;
  margin: 0 1.5rem;
  border-radius: 2rem;
}

#page #rm-popular-songs .songs .slick-track figure {
  height: 170px;
  margin: 0 0 1rem;
}

#page #rm-popular-songs .songs .slick-track figure img {
  height: 100%;
  margin: 0 auto;
}

#page #rm-popular-songs .songs .slick-track p:first-of-type {
  font-weight: bold;
}

#page #rm-popular-songs .songs .slick-track p strong {
  color: #ff1212;
  font-size: 1.2em;
}

#page #rm-popular-artist .l-inner {
  text-align: center;
  margin: 2rem auto 6rem;
}

#page #rm-popular-artist .l-inner p {
  margin: 1rem;
  display: inline-block;
  font-size: 24px;
}

#page #rm-popular-artist .l-inner p a {
  display: block;
  color: #333;
  text-align: center;
  font-weight: bold;
  background: #d9ff00;
  padding: 0.5rem 2rem !important;
  transition: all 0.2s ease-in;
}

#page #rm-popular-artist .l-inner p a:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  background: #faff00;
}

#page #rm-price {
  background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/bg_02_sp.png) no-repeat center/cover;
  padding: 36px 24px;
}

#page #rm-price .wrapper {
  background: white;
  width: 100%;
  margin: 0 auto;
  padding: 36px 24px;
  border-radius: 2rem;
}

#page #rm-price .wrapper h2 {
  padding: 0;
  margin: 0 0 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

#page #rm-price .wrapper h3 {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-top: 24px;
}

#page #rm-price .wrapper .rm-price-table {
  padding: 0;
}

#page #rm-price .wrapper .rm-price-table dl {
  text-align: center;
}

#page #rm-price .wrapper .rm-price-table dl > div {
  background: #ffffff;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.04), 0px 9px 46px rgba(0, 0, 0, 0.02), 0px 11px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#page #rm-price .wrapper .rm-price-table dl > div dt {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  border-radius: 12px 12px 0 0;
  padding: 8px;
}

#page #rm-price .wrapper .rm-price-table dl > div dd {
  margin: 0;
  padding: 12px 16px;
}

#page #rm-price .wrapper .rm-price-table dl > div dd p.small {
  font-size: 12px;
  line-height: 16px;
  color: #686868;
}

#page #rm-price .wrapper .rm-price-table dl > div.rm-price-table--standard {
  margin-bottom: 20px;
  display: inline-block;
}

#page #rm-price .wrapper .rm-price-table dl > div.rm-price-table--standard dt {
  background: #686868;
}

#page #rm-price .wrapper .rm-price-table dl > div.rm-price-table--standard p strong {
  font-size: 36px;
  line-height: 100%;
}

#page #rm-price .wrapper .rm-price-table dl > div.rm-price-table--card dt {
  background: #bf0000;
}

#page #rm-price .wrapper .rm-price-table dl > div.rm-price-table--card p strong {
  font-size: 64px;
  line-height: 100%;
}

#page #rm-price .wrapper p {
  text-align: center;
}

#page #rm-price .wrapper p strong {
  font-family: "lato";
  font-size: 6rem;
  line-height: 6rem;
  font-weight: bold;
}

#page #rm-price .wrapper ul {
  display: inline-block;
  margin: 0 auto;
}

#page #rm-price .wrapper ul li {
  line-height: 1.75em;
}

#page #rm-price .wrapper ul li:before {
  content: "\f058";
  font-family: "font awesome 5 free";
  font-weight: 900;
  color: #bf0000;
  margin-right: 1rem;
}

#page #rm-features ul li:nth-child(1) .scene {
  width: 100%;
  height: 400px;
  background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_01.png) no-repeat center top/cover fixed;
}

#page #rm-features ul li:nth-child(2) .scene {
  width: 100%;
  height: 400px;
  background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_02.jpg) no-repeat center top/cover fixed;
}

#page #rm-features ul li:nth-child(3) .scene {
  width: 100%;
  height: 400px;
  background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_03.jpg) no-repeat center top/cover fixed;
}

#page #rm-features ul li .l-inner {
  display: flex;
}

#page #rm-features ul li .l-inner figure {
  margin-top: -34%;
}

#page #rm-features ul li .l-inner p {
  padding-top: 3.6rem;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.5;
  color: #0d004c;
}

#page #feature li:nth-child(1) .scene {
  background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_01.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#page #rm-faq .l-inner dl > * {
  padding: 12px 36px 12px 12px;
}

#page #rm-faq .l-inner dl dt {
  border-bottom: 1px solid #0d004c;
  position: relative;
  color: #0d004c;
  font-weight: bold;
  transition: all 0.1s ease-in;
}

#page #rm-faq .l-inner dl dt:before {
  content: "Q. ";
}

#page #rm-faq .l-inner dl dt:after {
  content: "\f078";
  font-family: "font awesome 5 free";
  font-weight: 900;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -12px;
  transition: all 0.1s ease-in;
}

#page #rm-faq .l-inner dl dt:hover {
  cursor: pointer;
}

#page #rm-faq .l-inner dl dt:hover:after {
  transform: translateY(5px);
}

#page #rm-faq .l-inner dl dt.open:after {
  transform: rotate(180deg);
}

#page #rm-faq .l-inner dl dd {
  display: none;
  background: #ebebeb;
  margin: 0;
}

#page #rm-faq .l-inner dl dd:before {
  content: "A. ";
}

#page .l-inner .point150,
#page .l-inner .reasonable {
  margin: 3.2rem auto;
  text-align: center;
}

#page .s-campaign-list {
  margin-top: 48px;
}

@media screen and (max-width: 1120px) {
  #page .l-inner {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #page #rm-steps .l-inner ol {
    margin: 3rem 0;
  }
  #page #rm-steps .l-inner ol li {
    width: 50%;
    margin: 0 1.2rem;
    text-align: center;
  }
  #page #rm-steps .l-inner ol li:before {
    display: block;
    margin: 0 0 1rem !important;
    text-align: center;
  }
  #page #rm-steps .l-inner ol li:not(:last-child):after {
    right: -1.7rem;
    top: 1.2rem;
  }
  #page #rm-steps-content .l-inner > ol > li {
    padding: 2rem;
  }
  #page #rm-steps-content .l-inner > ol > li:last-child {
    height: auto;
    background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/complete.png) no-repeat bottom -3vw/56vw;
  }
  #page #rm-steps-content .l-inner > ol > li:last-child p {
    padding: 0 !important;
  }
  #page #rm-steps-content .l-inner > ol > li:not(:last-child):after {
    margin-left: -2.5rem;
  }
  #page #rm-steps-content .l-inner > ol > li form input[type="text"] {
    border: 1px solid;
    padding: 1rem 0.5rem;
    width: 100%;
  }
  #page #rm-steps-content .l-inner > ol > li form > input:last-of-type {
    width: 100%;
  }
  #page #rm-steps-content .l-inner > ol > li .rex-button__1ArV .rex-button__3n3I {
    width: 100%;
    padding: 0;
    font-size: 1.4rem;
  }
  #page #rm-steps-content .l-inner > ol > li .btn-apply {
    width: 100%;
  }
  #page #rm-popular-songs .songs .slick-track figure {
    height: 46vw;
  }
  #page #rm-popular-songs .songs .slick-track figure img {
    width: initial;
  }
  #page #rm-popular-artist .l-inner p {
    font-size: 2.2rem;
    margin: 0.5rem;
  }
  #page .btn-apply {
    width: 90vw;
  }
  #page .btn-apply .l-inner {
    padding: 0;
  }
  #page .btn-apply .l-inner > div,
  #page .btn-apply .l-inner p {
    width: 100%;
  }
  #page .btn-apply .l-inner > div a {
    font-size: 1.4rem;
    text-align: center;
    text-indent: initial;
  }
  #page .btn-apply .l-inner > div a:after {
    content: initial;
  }
  #page #rm-features ul li:nth-child(1) .scene {
    height: 50vh;
    background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_01.png) no-repeat center top/cover;
  }
  #page #rm-features ul li:nth-child(2) .scene {
    height: 50vh;
    background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_02.jpg) no-repeat center top/cover;
  }
  #page #rm-features ul li:nth-child(3) .scene {
    height: 50vh;
    background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_03.jpg) no-repeat center top/cover;
  }
  #page #rm-features ul li .l-inner {
    display: block;
  }
  #page #rm-features ul li .l-inner figure {
    width: 60vw;
    margin: -80vw auto 0;
  }
  #page #rm-features ul li .l-inner p {
    font-size: 2.4rem;
    text-align: center;
    padding: 0 0 4.8rem;
  }
  #page #feature li:nth-child(1) .scene {
    background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/emotion_01.png) center/auto 100% no-repeat;
  }
}

@media screen and (min-width: 768px) {
  #page .l-inner {
    margin: 0 auto;
  }
  #page .s-campaign-hero {
    margin: 0 0 48px;
    background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/bg.jpg) no-repeat center top/auto 100%;
  }
  #page .s-campaign-hero .campaign-hero__schedule__note a:hover {
    color: #ffff00;
  }
  #page .s-campaign-hero + .text-box {
    text-align: center;
  }
  #page .s-campaign-hero + .text-box .l-inner {
    border: 1px solid black;
    display: inline-block;
    width: auto;
  }
  #page .s-campaign-hero + .text-box .l-inner > div {
    display: inline-block;
  }
  #page h1.disp1 {
    font-size: 46px;
    line-height: 60px;
  }
  #page #rm-application-procedure .l-inner h1 {
    font-size: 24px;
    line-height: 31px;
    margin: 0 auto 24px;
  }
  #page #rm-application-procedure .l-inner figure {
    width: auto;
    text-align: center;
    margin: 24px auto;
  }
  #page #rm-application-procedure .l-inner p {
    margin: 24px auto 0;
  }
  #page #rm-application-procedure .l-inner p a:hover {
    text-decoration: underline;
  }
  #page #rm-steps-content .l-inner > ol > li {
    padding: 24px 24px 36px;
  }
  #page #rm-steps-content .l-inner > ol > li .btn-apply > .l-inner .trial-btn {
    width: 400px;
  }
  #page #rm-steps-content .l-inner > ol > li .btn-apply > .l-inner .code {
    width: 600px;
    margin: 16px auto 0;
  }
  #page #rm-steps-content .l-inner > ol > li .btn-apply + p {
    text-align: center;
  }
  #page #rm-steps-content .l-inner > ol > li > p span.complate {
    margin-bottom: 12px;
  }
  #page #rm-plan-change .l-inner .rm-plan-change--steps {
    display: flex;
    justify-content: center;
    gap: 0 44px;
  }
  #page #rm-plan-change .l-inner .rm-plan-change--steps > div {
    position: relative;
  }
  #page #rm-plan-change .l-inner .rm-plan-change--steps > div:not(:last-child)::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 20px;
    border-color: transparent transparent transparent #0d004c;
    top: 126px;
    right: -34px;
  }
  #page #rm-popular-artist .l-inner p {
    font-size: 36px;
  }
  #page #rm-popular-artist .l-inner > div {
    margin-top: 24px;
  }
  #page #rm-price {
    text-align: center;
    background: url(https://music.r10s.jp/external/prod/assets/plan/mobile/img/bg_02.png) no-repeat center/cover;
    padding: 48px 0;
  }
  #page #rm-price .wrapper {
    padding: 60px;
    width: auto;
    display: inline-block;
  }
  #page #rm-price .wrapper h2 {
    font-size: 20px;
    line-height: 26px;
  }
  #page #rm-price .wrapper .rm-price-table dl {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page #rm-price .wrapper .rm-price-table dl > div dt {
    font-size: 16px;
    line-height: 21px;
    padding: 8px 12px;
  }
  #page #rm-price .wrapper .rm-price-table dl > div.rm-price-table--standard {
    margin-right: 20px;
  }
  #page #rm-price .wrapper ul li {
    text-align: left;
  }
  #page #rm-faq .l-inner dl > * {
    padding: 24px 48px 24px 24px;
  }
}
