#page .l-inner {
    width: 950px;
    padding: 0;
}

#page small {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

#page section {
    padding: 0 0 48px;
}

#page .breadcrumb {
    padding: 32px 0;
}

#page .l-inner:after {
    display: none;
}

#page .btn-apply {
    margin: 3.2rem auto;
}


/* --------------------------- ABOUT --------------------------- */

#page #campaign-about {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/tokyo_philharmonic/common/img/about_bg.png) fixed 100%;
    background-size: contain;
}

#page #campaign-about .l-inner h1 {
    display: inline;
    color: white;
    background: #00334D;
    font-family: 'Hiragino Mincho Std', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'ＭＳ 明朝', 'MS Mincho', sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    margin-left: 0;
    padding: 24px;
    margin: 3.2rem auto;
}

#page #campaign-about .l-inner .campaign-about-wrap {
    display: inline;
}

#page #campaign-about .l-inner .campaign-about-wrap div {
    display: flex;
    width: 892px;
    margin: 0 auto;
    padding: 4rem 6rem;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#page #campaign-about .l-inner .campaign-about-wrap div figure {
    width: 262px;
    align-items: center;
}

#page #campaign-about .l-inner .campaign-about-wrap div figure img {
    width: 100%;
}

#page #campaign-about .l-inner .campaign-about-wrap div p {
    width: 450px;
    margin-left: 6rem;
}

#page #campaign-about {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/tokyo_philharmonic/common/img/about_bg.png) fixed 100%;
    background-size: contain;
}


/* --------------------------- PLAYLIST --------------------------- */

#page #campaign-playlist {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/tokyo_philharmonic/common/img/playlist_bg.png) fixed 100%;
    background-size: contain;
}

#page #campaign-playlist .l-inner .playlist-wrap p.lead,
#page #campaign-other .l-inner .other-wrap p.lead {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 1.6rem;
}

#page #campaign-playlist .l-inner .playlist-wrap p.lead {
    color: white;
}

#page #campaign-playlist .l-inner .playlist-wrap>figure {
    text-align: center;
}

#page #campaign-playlist .l-inner .playlist-wrap>figure>a :hover {
    opacity: 0.7;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    background: white;
}

#page #campaign-playlist .l-inner .playlist-wrap>figure>a>img {
    width: 520px;
    border-radius: 10px;
    border: 3px solid grey;
}

#page #campaign-playlist .btn-apply .l-inner p {
    color: white;
}

#page #campaign-playlist .l-inner .playlist-wrap:first-child {
    margin: 0 auto 3.2rem;
}

#page #campaign-playlist .l-inner .playlist-wrap:nth-child(2) {
    margin: 6.4rem auto;
}

#page #campaign-playlist .l-inner .playlist-wrap h2 {
    margin: 0 auto 3.2rem;
}


/* --------------------------- TICKET --------------------------- */

#page #campaign-ticket {
    background: #00334D;
}

#page #campaign-playlist .l-inner .playlist-wrap h2,
#page #campaign-ticket .l-inner h2,
#page #campaign-other .l-inner .other-wrap h2 {
    color: #DBAF00;
    font-family: 'Hiragino Mincho Std', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'ＭＳ 明朝', 'MS Mincho', sans-serif;
    font-size: 2.8rem;
    line-height: 4.6rem;
    font-weight: 300;
    text-align: center;
}

#page #campaign-ticket .l-inner h2,
#page #campaign-other .l-inner .other-wrap h2 {
    margin: 3.2rem auto;
}

#page #campaign-playlist .l-inner .playlist-wrap h2::after,
#page #campaign-ticket .l-inner h2::after,
#page #campaign-other .l-inner .other-wrap h2::after {
    display: block;
    text-align: center;
    content: url("https://music.r10s.jp/external/prod/assets/campaign/2020/group/tokyo_philharmonic/common/img/gold-border.png");
}

#page #campaign-other .l-inner .other-wrap p {
    text-align: center;
}

#page #campaign-ticket .l-inner div,
#page #campaign-other .l-inner .other-wrap div {
    text-align: center;
}

#page #campaign-ticket .l-inner div>a.btn-ticket,
#page #campaign-other .l-inner .other-wrap div>a.btn-other {
    display: inline-block;
    color: white;
    background: #DB8600;
    font-family: 'Hiragino Mincho Std', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'ＭＳ 明朝', 'MS Mincho', sans-serif;
    font-size: 2rem;
    border-radius: 10px;
}

#page #campaign-ticket .l-inner div>a.btn-ticket {
    margin: 0 auto;
    padding: 35px 90px;
}

#page #campaign-ticket .l-inner div>a.btn-ticket:hover,
#page #campaign-other .l-inner .other-wrap div>a.btn-other:hover {
    background: #ffba4e;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}


/* --------------------------- OTHER --------------------------- */

#page #campaign-other .l-inner .other-wrap p.lead {
    color: black;
}

#page #campaign-other .l-inner .other-wrap div>a.btn-other {
    margin: 0 auto;
    padding: 35px 90px;
}

#page #campaign-other .l-inner>figure {
    display: block;
    margin: 50px auto;
    padding: 32px 88px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
}


/* --------------------------- SNS --------------------------- */

#page section#sns {
    margin: 3.2rem auto;
    padding: 3.2rem;
}

#page #sns .l-inner div {
    display: block;
    text-align: center;
}

#page #sns .l-inner div a {
    display: inline-block;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    border-radius: 30px;
    background: red;
    color: white;
}

#page #sns .l-inner div a:hover {
    opacity: 0.7;
}

#page #sns .l-inner ol {
    display: flex;
    justify-content: center;
}

#page #sns .l-inner ol>li {
    display: block;
    margin: 0.8rem;
}

#page #sns .l-inner ol>li>a>img {
    width: 60px;
    height: auto;
}

#page #sns .l-inner ol>li>a:hover {
    opacity: 0.7;
}


/* --------------------------- SP --------------------------- */

@media screen and (min-width: 768px) {
    #page .s-campaign-hero {
        padding: 0;
        background: url(https://music.r10s.jp/external/prod/assets/campaign/2020/group/tokyo_philharmonic/common/img/bg.gif) repeat center top/auto 100%;
    }
    #page section {
        padding-top: 64px;
    }
}

@media screen and (max-width: 950px) {
    #page .breadcrumb {
        padding: 48px 0;
    }
    #page section {
        padding-top: 0;
    }
    #page .l-inner {
        width: 100%;
    }
    #page #campaign-about {
        padding: 4.8rem 0;
    }
    #page #campaign-about .l-inner,
    #page #campaign-playlist .l-inner,
    #page #campaign-ticket .l-inner,
    #page #campaign-other .l-inner {
        margin: 0 auto;
        padding: 3.2rem 1.6rem;
    }
    #page #campaign-about .l-inner .campaign-about-wrap {
        display: block;
    }
    #page #campaign-about .l-inner .campaign-about-wrap div {
        width: 90%;
    }
    #page #campaign-about .l-inner .campaign-about-wrap div figure {
        margin-top: auto;
        margin-bottom: auto;
    }
    #page #campaign-playlist .l-inner .playlist-wrap:nth-child(2) {
        margin: 3.2rem auto 0;
    }
    #page #campaign-other .l-inner>figure {
        margin: 50px auto 0;
        padding: 32px 56x;
    }
    #page #campaign-other .l-inner>figure>img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #page .s-campaign-hero .l-inner {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    #page .l-inner {
        width: 100%;
        margin: 0 auto;
        padding: 0 1.6rem;
    }
    #page .btn-apply {
        margin: 0 auto;
    }
    #page #campaign-about .l-inner h1 {
        font-size: 2rem;
        margin: 1.6rem auto;
        padding: 1.2rem;
    }
    #page #campaign-about .l-inner .campaign-about-wrap div {
        display: block;
        width: 100%;
        padding: 1.6rem;
        overflow: hidden;
    }
    #page #campaign-about .l-inner .campaign-about-wrap div figure {
        width: 60%;
        margin: 3.2rem auto 0;
    }
    #page #campaign-playlist .l-inner .playlist-wrap>figure>a>img {
        width: 90%;
    }
    #page #campaign-about .l-inner .campaign-about-wrap div p {
        width: 100%;
        margin: 3.2rem auto;
    }
    #page #campaign-playlist .l-inner .playlist-wrap:first-child {
        padding: 3.2rem auto;
    }
    #page #campaign-playlist .l-inner .playlist-wrap:nth-child(2) {
        margin: 4.8rem auto 0;
    }
    #page #campaign-ticket .l-inner h2,
    #page #campaign-other .l-inner .other-wrap h2 {
        margin: 0 auto;
        padding-bottom: 3.2rem;
    }
    #page #campaign-playlist .l-inner .playlist-wrap h2,
    #page #campaign-ticket .l-inner h2,
    #page #campaign-other .l-inner .other-wrap h2 {
        font-size: 2.2rem;
    }
    #page #campaign-playlist .l-inner .playlist-wrap h2::after,
    #page #campaign-ticket .l-inner h2::after,
    #page #campaign-other .l-inner .other-wrap h2::after {
        content: url("https://music.r10s.jp/external/prod/assets/campaign/2020/group/tokyo_philharmonic/common/img/gold-border.png");
    }
    #page #campaign-ticket .l-inner div>a.btn-ticket,
    #page #campaign-other .l-inner .other-wrap div>a.btn-other {
        display: block;
        width: 90%;
        height: 100%;
        font-size: 1.6rem;
    }
    #page #campaign-ticket .l-inner div>a.btn-ticket {
        margin: 0 auto;
        padding: 24px;
    }
    #page #campaign-playlist .l-inner .playlist-wrap p.lead {
        width: 90%;
        text-align: center;
    }
    #page #campaign-other .l-inner .other-wrap p.lead {
        width: 90%;
        text-align: center;
    }
    #page #campaign-other .l-inner .other-wrap p {
        text-align: left;
    }
    #page #campaign-other .l-inner>figure {
        width: 90%;
        margin: 50px auto 0;
        padding: 32px 48px;
    }
}