@charset "utf-8";
#page #btn-apply {
    padding: 40px 0 0;
}
@media screen and (max-width:768px) { 
#page #btn-apply {
    padding: 4vw 0 0;
}
}
/*----------------- PC style -----------------*/
/* Object song */
@media screen and (min-width: 768px) {
  #page .content-box__image {
    width: 500px;
    margin: 0 auto;
  }
  #page .content-box__image img {
    width: 500px;
  }
}
/* Campaign */
@media screen and (min-width: 768px) {
  #page .cpn-box {
    width: 980px;
    margin: 0 auto;
    padding: 0 0 64px;
  }
  #page .cpn-box .cpn-01 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/artist/myteen/img/cpn-bg-01.png) top no-repeat;
    height: 309px;
  }
  #page .cpn-box .cpn-01 .cpn-img {
    display: none;
  }
  #page .cpn-box .cpn-01 .cpn-txt {
    width: 550px;
    position: relative;
    top: 85px;
    left: 380px;
  }
  #page .cpn-box .cpn-01 .cpn-txt p.txt-01 {
    color: #282828;
    font-size: 31px;
    font-weight: bold;
  }
  #page .cpn-box .cpn-01 .cpn-txt p.txt-01 span {
    font-size: 28px;
  }
  #page .cpn-box .cpn-01 .cpn-txt p.txt-02m {
    color: #ff3c00;
    font-size: 38px;
    font-weight: bold;
    line-height: 0.9;
  }
  #page .cpn-box .cpn-01 .cpn-txt p.txt-02m span {
    font-size: 110px;
  }
  #page .cpn-box .cpn-01 .cpn-txt p.txt-s {
    font-size: 15px;
    line-height: 0.9;
    margin: 20px 0 0;
  }
  #page .cpn-box .cpn-02 {
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2018/artist/myteen/img/cpn-bg-02.png) top no-repeat;
    height: 268px;
    position: relative;
    top: -3px;
  }
  #page .cpn-box .cpn-02 .cpn-img {
    display: none;
  }
  #page .cpn-box .cpn-02 .cpn-txt {
    width: 550px;
    position: relative;
    top: 50px;
    left: 380px;
  }
  #page .cpn-box .cpn-02 .cpn-txt p.txt-01 {
    color: #282828;
    font-size: 31px;
    font-weight: bold;
  }
  #page .cpn-box .cpn-02 .cpn-txt p.txt-01 span {
    font-size: 28px;
  }
  #page .cpn-box .cpn-02 .cpn-txt p.txt-02m {
    color: #ff3c00;
    font-size: 38px;
    font-weight: bold;
    line-height: 0.9;
    margin: 18px 0 0;
  }
  #page .cpn-box .cpn-02 .cpn-txt p.txt-02m span {
    font-size: 110px;
  }
  #page .cpn-box .cpn-02 .cpn-txt p.txt-02l {
    color: #ff3c00;
    font-size: 60px;
    font-weight: bold;
    line-height: 0.9;
    margin: 8px 0 0;
  }
  #page .cpn-box .cpn-02 .cpn-txt p.txt-02l span {
    font-size: 110px;
  }
  #page .cpn-box hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 0 40px;
    padding: 0 20px;
    border-top: #47bbec 2px dotted;
    position: relative;
  }
}
/*----------------- SP style -----------------*/
/* Object song */
@media screen and (max-width: 767px) {
  #page .content-box {
    padding: 3vw 0;
  }
}
/* Campaign */
@media screen and (max-width: 767px) {
  #page .cpn-box {
    background: #DBEFF8;
    margin: 21vw 4vw 3vw;
    padding: 4vw 3.5vw;
    border-radius: 5vw;
    border: #47bbec 0.5vw solid;
    text-align: center;
  }
  #page .cpn-box .cpn-01 {
    margin: -17vw 0 0;
  }
  #page .cpn-box .cpn-01 .cpn-img {
    margin: 0 0 3vw;
  }
  #page .cpn-box .cpn-01 .cpn-txt {
    margin: 0 0 4vw;
  }
  #page .cpn-box .cpn-01 .cpn-txt .txt-01 {
    color: #282828;
    font-size: 5.1vw;
    font-weight: bold;
  }
  #page .cpn-box .cpn-01 .cpn-txt .txt-01 span {
    font-size: 4.7vw;
  }
  #page .cpn-box .cpn-01 .cpn-txt .txt-02m {
    color: #ff3c00;
    font-size: 6.3vw;
    font-weight: bold;
    line-height: 0.9;
  }
  #page .cpn-box .cpn-01 .cpn-txt .txt-02m span {
    font-size: 15vw;
  }
  #page .cpn-box .cpn-01 .cpn-txt .txt-s {
    color: #282828;
    font-size: 3.8vw;
    text-align: justify;
    padding: 4vw 0 0;
  }
  #page .cpn-box .cpn-02 {
    margin: 0;
  }
  #page .cpn-box .cpn-02 .cpn-img {
    margin: 3vw 0;
  }
  #page .cpn-box .cpn-02 .cpn-txt {
    margin: 0;
  }
  #page .cpn-box .cpn-02 .cpn-txt .txt-01 {
    color: #282828;
    font-size: 5.1vw;
    font-weight: bold;
  }
  #page .cpn-box .cpn-02 .cpn-txt .txt-01 span {
    font-size: 4.7vw;
  }
  #page .cpn-box .cpn-02 .cpn-txt .txt-02m {
    color: #ff3c00;
    font-size: 6.3vw;
    font-weight: bold;
    line-height: 0.9;
    padding: 2vw 0;
  }
  #page .cpn-box .cpn-02 .cpn-txt .txt-02l {
    color: #ff3c00;
    font-size: 9.3vw;
    font-weight: bold;
    line-height: 0.9;
    margin: 1.5vw 0;
  }
  #page .cpn-box hr {
    border-top: #47bbec 0.5vw dotted;
    background: #DBEFF8;
    margin: 0;
  }
}
