#page #campaign-apply {
  background: #ffd943;
}

#page #campaign-apply .l-inner > h1 {
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  line-height: 48px;
  padding-top: 40px;
  margin-bottom: 32px;
}

#page #campaign-apply .l-inner ol.steps > li {
  background: white;
  margin: 16px auto;
  padding: 24px 16px;
}

#page #campaign-apply .l-inner ol.steps > li > h2 {
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  font-weight: 100;
}

#page #campaign-apply .l-inner ol.steps > li p.lead {
  text-align: center;
  margin: 16px 0 8px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

#page #campaign-apply .l-inner ol.steps > li .step2 {
  display: flex;
  flex-direction: column;
}

#page #campaign-apply .l-inner ol.steps > li .step2 .present {
  width: 50%;
  margin: 16px auto;
}

#page #campaign-apply .l-inner ol.steps > li .step2 .present-song {
  text-align: center;
  font-weight: bold;
}

#page #campaign-apply .l-inner .arrow {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

#page #campaign-apply .l-inner .btn-apply {
  margin: 24px auto;
}

#page #campaign-apply .l-inner .btn-apply .l-inner > * {
  width: 100%;
}

#page #campaign-apply .l-inner .apply > .l-inner {
  padding: 0 0 36px;
}

@media screen and (min-width: 768px) {
  #page .s-campaign-hero {
    background: #ffd943;
    position: relative;
  }
  #page .s-campaign-hero:after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background: black;
    position: absolute;
    bottom: 0;
  }
  #page .campaign-hero__schedule {
    position: relative;
    z-index: 1;
  }
  #page #campaign-apply .l-inner ol.steps > li p {
    text-align: center;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div .screenshot {
    text-align: right;
    padding-right: 16px;
    height: 500px;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div .screenshot img {
    width: 50%;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div .present {
    width: 280px;
    height: 280px;
    margin: 0;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div .present img {
    width: 100%;
  }
  #page #campaign-apply .l-inner ol.steps > li .step2 > div .present-song {
    width: 280px;
    margin-top: 16px;
  }
  #page #campaign-apply .l-inner .apply > .l-inner {
    width: 100%;
  }
  #page #campaign-apply .l-inner .btn-apply > .l-inner {
    width: 100%;
  }
  #page #campaign-apply .l-inner .btn-apply > .l-inner .trial-btn {
    width: 450px;
  }
}
