#page .HTMLBlock {
  position: relative;
}

#page .s-campaign-hero {
  padding: 0;
  background: url("https://music.r10s.jp/external/prod/assets/campaign/2019/discount-code/img/header_bg.jpg") no-repeat center top/auto 85.6%;
  position: relative;
}

#page .s-campaign-hero:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: #ff4e00;
  background: -moz-linear-gradient(left, #ff4e00 0%, #ff4e00 50%, #fff284 50%, #fff284 100%);
  background: -webkit-linear-gradient(left, #ff4e00 0%, #ff4e00 50%, #fff284 50%, #fff284 100%);
  background: linear-gradient(to right, #ff4e00 0%, #ff4e00 50%, #fff284 50%, #fff284 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4e00', endColorstr='#fff284',GradientType=1 );
}

#page .s-campaign-hero:after {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  background: #00173d;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

#page .popular-songs > div {
  padding: 0 0 6rem;
  overflow: hidden;
}

#page .popular-songs > div:nth-of-type(odd) {
  background: #ebebeb;
}

#page .popular-songs .songs div.slick-slide,
#page .popular-songs .playlists div.slick-slide {
  text-align: center;
}

#page .popular-songs .songs div figure,
#page .popular-songs .playlists div figure {
  height: 150px;
}

#page .popular-songs .songs div figure img,
#page .popular-songs .playlists div figure img {
  height: 100%;
  margin: 0 auto;
}

#page .popular-songs .songs div p,
#page .popular-songs .playlists div p {
  padding: 0 1rem;
  font-size: 1.4rem;
  line-height: 1.75;
  text-align: left;
}

#page .popular-songs .songs div p:first-of-type,
#page .popular-songs .playlists div p:first-of-type {
  font-weight: bold;
  margin: 1rem 0 0;
}

#page .popular-songs .playlists div p {
  text-align: center;
}

#page #reward .l-inner {
  margin: 4rem auto;
  border-bottom: 4px solid orangered;
  border-top: 4px solid orangered;
}

#page #reward .l-inner h2 {
  padding: 0;
  margin: 4rem 0 2rem;
  color: orangered;
}

#page #reward .l-inner p {
  text-align: center;
  margin: 4rem 0;
}

#page #campaign-system {
  background: url("https://music.r10s.jp/external/prod/assets/campaign/2019/discount-code/img/campaign_bg.jpg") no-repeat center/auto 100%;
  position: relative;
  padding: 6rem 0;
}

#page #campaign-system:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fd5805;
  background: -moz-linear-gradient(left, #fd5805 0%, #fd5805 50%, #feb713 50%, #feb713 98%);
  background: -webkit-linear-gradient(left, #fd5805 0%, #fd5805 50%, #feb713 50%, #feb713 98%);
  background: linear-gradient(to right, #fd5805 0%, #fd5805 50%, #feb713 50%, #feb713 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd5805', endColorstr='#feb713',GradientType=1 );
}

#page #campaign-system .l-inner {
  position: relative;
  background: white;
}

#page #campaign-system .l-inner > p {
  text-align: center;
}

#page #campaign-system .l-inner > p strong {
  font-size: 2rem;
}

#page #campaign-system .l-inner > p:last-of-type {
  margin: 0 0 40px;
}

#page #campaign-system .l-inner figure {
  text-align: center;
  margin: 20px auto;
  padding-right: 40px;
  position: relative;
  z-index: 1;
}

#page #campaign-system .l-inner .icon-image {
  position: absolute;
  right: -30px;
  bottom: 0;
}

#page #campaign-code .l-inner {
  padding: 0 0 6rem;
}

#page #campaign-code .l-inner .code {
  position: relative;
}

#page #campaign-code .l-inner .code input {
  width: 470px;
  height: 74px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  border-radius: 1.5rem;
}

#page #campaign-code .l-inner .code .memo {
  position: absolute;
  top: -70px;
  right: 10px;
}

#page #campaign-code .l-inner .code .memo:hover {
  transform: rotate(5deg);
}

#page #campaign-code .l-inner .bnr-howtouse {
  width: 755px;
  height: 185px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.1s ease-in;
}

#page #campaign-code .l-inner .bnr-howtouse:hover {
  transform: translateY(5px);
}

#page #campaign-code .l-inner .bnr-howtouse a {
  display: block;
}

#page #campaign-code .l-inner .bnr-howtouse a:hover {
  margin-left: -755px;
}

#page .btn-apply {
  margin: 0;
  background: url("https://music.r10s.jp/external/prod/assets/campaign/2019/discount-code/img/trial_bg.gif?v=2019") no-repeat center/auto 100%;
  padding: 6rem 0;
}

#page .btn-apply .l-inner {
  background: white;
  padding: 6rem 0;
}

#page #feature {
  background: #ebebeb;
  padding: 6rem 0;
}

#page #feature .l-inner {
  background: white;
  padding: 0 3rem 6rem;
}

#page #feature .l-inner ul li {
  position: relative;
}

#page #feature .l-inner ul li > div:nth-of-type(2) {
  position: absolute;
  top: 120px;
  left: 340px;
  z-index: 1;
}

#page #feature .l-inner ul li > div:last-of-type {
  position: absolute;
  bottom: 0;
  right: -26px;
}

#page #feature .l-inner ul li:nth-child(1) {
  background: #f76e1e;
}

#page #feature .l-inner ul li:nth-child(2) {
  background: #ffa740;
}

#page #feature .l-inner ul li:nth-child(3) {
  background: #f9d146;
}

#page #graph .l-inner {
  text-align: center;
  position: relative;
  padding: 0 0 6rem;
}

#page #graph .l-inner .person {
  position: absolute;
  bottom: 0;
  left: -90px;
  z-index: -1;
}

#page #rpush {
  background: #252525;
  padding: 6rem 0;
}

#page #rpush .l-inner > p {
  color: white;
  text-align: center;
}

#page #rpush .l-inner > p + h2 {
  text-align: center;
  padding: 30px 0 20px;
}

#page #rpush .l-inner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#page #rpush .l-inner ul li {
  width: 290px;
  margin: 20px;
}

#page #rpush .l-inner ul li figure img {
  width: 100%;
}

#page #rpush .l-inner .rpush-btn {
  width: 470px;
  margin: 30px auto 0;
}

#page #rpush .l-inner .rpush-btn a {
  display: block;
  background: #bf0000;
  color: white;
  text-align: center;
  padding: 2rem 0;
  border-radius: 50px;
  font-size: 2.4rem;
  transition: all 0.1s ease-in;
  position: relative;
}

#page #rpush .l-inner .rpush-btn a:after {
  content: url(https://music.r10s.jp/external/prod/assets/campaign/common/img/arrow.svg);
  display: block;
  position: absolute;
  width: 10px;
  text-indent: initial;
  line-height: 0;
  top: 50%;
  right: 3rem;
  margin-top: -0.8rem;
}

#page #rpush .l-inner .rpush-btn a:hover {
  background: #ff1212;
}

#page #news {
  background: url("https://music.r10s.jp/external/prod/assets/campaign/2019/discount-code/img/news_bg.gif") center/auto 100%;
}

#page #news .l-inner {
  padding: 0 0 6rem;
}

#page #news .l-inner h2 {
  color: #00173d;
}

#page #news .l-inner ul li {
  color: #00173d;
  display: table;
  padding: 2rem 0;
  margin: 0 30px 0 0;
  position: relative;
}

#page #news .l-inner ul li:before {
  content: "";
  display: table-cell;
  width: 34px;
  height: 34px;
  background: #f76e1e;
  border-radius: 34px;
}

#page #news .l-inner ul li:not(:last-child):after {
  content: "";
  display: block;
  height: 6rem;
  border-left: 4px solid #f76e1e;
  position: absolute;
  left: 15px;
  bottom: -30px;
}

#page #news .l-inner ul li > div,
#page #news .l-inner ul li p {
  display: table-cell;
  vertical-align: baseline;
  padding-left: 30px;
}

#page #news .l-inner ul li > div {
  font-size: 2.4rem;
  font-weight: bold;
}

#page #news .l-inner .news-btn {
  width: 470px;
  margin: 30px auto 0;
}

#page #news .l-inner .news-btn a {
  display: block;
  color: #f76e1e;
  text-align: center;
  padding: 2rem 0;
  border-radius: 50px;
  font-size: 2.4rem;
  transition: all 0.1s ease-in;
  position: relative;
  border: 4px solid #f76e1e;
}

#page #news .l-inner .news-btn a:hover {
  background: #f76e1e;
  color: white;
}

#page #howtouse {
  overflow: hidden;
  position: relative;
}

#page #howtouse:before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

#page #howtouse .l-inner {
  position: relative;
  padding: 0 0 6rem;
}

#page #howtouse .l-inner .carousel-btn {
  font-weight: 900;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 240px;
}

#page #howtouse .l-inner .carousel-btn i {
  transition: all 0.1s ease-in;
}

#page #howtouse .l-inner .carousel-btn i:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: black;
}

#page #howtouse .l-inner .carousel-left {
  left: -2rem;
  display: none;
}

#page #howtouse .l-inner .carousel-right {
  right: -2rem;
}

#page #howtouse .l-inner .steps {
  display: flex;
  position: relative;
}

#page #howtouse .l-inner .steps > li {
  margin: 0 15px;
  transition: all 0.1s ease-in;
}

#page #howtouse .l-inner .steps > li figure img {
  width: 280px;
}

#page #howtouse .l-inner .steps > li:nth-child(1) h3:after {
  content: " 1";
}

#page #howtouse .l-inner .steps > li:nth-child(2) h3:after {
  content: " 2";
}

#page #howtouse .l-inner .steps > li:nth-child(3) h3:after {
  content: " 3";
}

#page #howtouse .l-inner .steps > li:nth-child(4) h3:after {
  content: " 4";
}

#page #howtouse .l-inner .steps > li:nth-child(5) h3:after {
  content: " 5";
}

#page #howtouse .l-inner .steps > li:nth-child(6) h3:after {
  content: " 6";
}

#page #howtouse .l-inner .steps > li:nth-child(7) h3:after {
  content: " 7";
}

#page #howtouse .l-inner .steps > li h3 {
  background: #00173d;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1rem 0;
}

#page #howtouse .l-inner .steps > li p {
  margin: 1rem 0 0;
}

#page #howtouse .l-inner .steps > li.current {
  transform: scale(1.1);
}

#page #loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 100;
}

#page #loading i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 6rem;
  margin: -3rem 0 0 -3rem;
  animation: spin 1.5s linear infinite;
  color: #f76e1e;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  #page #loading i 0% {
    -ms-transform: rotate(0deg);
  }
  #page #loading i 100% {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ccm-block #loading {
  display: none;
}

@media screen and (max-width: 768px) {
  #page .popular-songs .songs div figure,
  #page .popular-songs .playlists div figure {
    height: 34vw;
  }
  #page .popular-songs .songs div figure img,
  #page .popular-songs .playlists div figure img {
    width: initial;
  }
  #page #campaign-system {
    padding: 6rem 2rem;
    overflow: hidden;
  }
  #page #campaign-system .l-inner > p {
    position: relative;
    padding: 0 0 1rem;
  }
  #page #campaign-system .l-inner > p:last-of-type {
    margin: 0 0 40px;
  }
  #page #campaign-system .l-inner figure {
    margin: 1rem 0;
    padding: 0;
  }
  #page #campaign-system .l-inner .icon-image {
    right: -2vw;
    width: 50vw;
  }
  #page #campaign-code {
    overflow: hidden;
  }
  #page #campaign-code .l-inner {
    padding: 0 0 3rem;
  }
  #page #campaign-code .l-inner .code {
    display: flex;
    padding: 0 4vw;
  }
  #page #campaign-code .l-inner .code input {
    width: 100%;
    font-size: 2.4rem;
  }
  #page #campaign-code .l-inner .code .memo {
    position: initial;
    margin: -3vw 0 0 -2vw;
  }
  #page #campaign-code .l-inner .bnr-howtouse {
    width: 90vw;
    height: initial;
    margin: 0 auto;
  }
  #page #campaign-code .l-inner .bnr-howtouse a img {
    width: 200%;
  }
  #page #campaign-code .l-inner .bnr-howtouse a:hover {
    margin: 0;
  }
  #page #campaign-code .l-inner .bnr-howtouse:hover {
    transform: initial;
  }
  #page .btn-apply {
    padding: 0;
  }
  #page .btn-apply .l-inner {
    background: none;
  }
  #page #feature .l-inner {
    padding: 0 2rem 6rem;
  }
  #page #graph .l-inner {
    padding: 0;
  }
  #page #graph .l-inner h2 {
    width: 90vw;
    margin: 0 auto 3rem;
    line-height: 1.5;
  }
  #page #graph .l-inner h2 + div {
    width: 90vw;
    margin: 0 auto;
    padding: 0 0 0 4vw;
  }
  #page #graph .l-inner .person {
    width: 40vw;
    left: 1vw;
    bottom: 10vw;
  }
  #page #rpush .l-inner .rpush-btn {
    width: 90vw;
  }
  #page #rpush .l-inner p + h2 {
    padding: 0;
    width: 50vw;
    margin: 1rem auto;
  }
  #page #rpush .l-inner ul {
    display: block;
  }
  #page #rpush .l-inner ul li {
    width: 80vw;
    margin: 2rem auto;
  }
  #page #rpush .l-inner .rpush-btn a {
    padding: 1rem 0;
    font-size: 1.6rem;
  }
  #page #news .l-inner h2 {
    width: 90vw;
    margin: 0 auto 3rem;
    line-height: 1.5;
  }
  #page #news .l-inner ul {
    width: 90vw;
    margin: 0 auto;
  }
  #page #news .l-inner ul li {
    margin: 0;
  }
  #page #news .l-inner ul li:before {
    display: block;
    width: 6vw;
    height: 6vw;
    border-radius: 6vw;
    position: absolute;
    top: 7.5vw;
  }
  #page #news .l-inner ul li:not(:last-child):after {
    left: 2.4vw;
    height: 100%;
  }
  #page #news .l-inner ul li > div,
  #page #news .l-inner ul li p {
    display: block;
  }
  #page #news .l-inner ul li > div {
    font-size: 1.8rem;
  }
  #page #news .l-inner .news-btn {
    width: 90vw;
    margin: 0 auto;
  }
  #page #news .l-inner .news-btn a {
    font-size: 1.6rem;
  }
  #page #news .l-inner .news-btn a:hover {
    background: initial;
    color: initial;
  }
  #page #howtouse:before {
    content: initial;
  }
  #page #howtouse .l-inner .steps {
    width: calc(280px * 7);
    margin-left: 5vw;
  }
  #page #howtouse .l-inner .steps > li {
    width: 250px;
  }
  #page #howtouse .l-inner .steps > li figure img {
    width: 100%;
  }
  #page #howtouse .l-inner .carousel-btn {
    top: initial;
    bottom: 0;
    font-size: 4rem;
    color: black;
  }
  #page #howtouse .l-inner .carousel-btn i:hover {
    transform: initial;
  }
  #page #howtouse .l-inner .carousel-left {
    left: 8rem;
  }
  #page #howtouse .l-inner .carousel-right {
    right: 8rem;
  }
}
