@charset "UTF-8";

#rex-ceb-01 .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#rex-ceb-01 .CampaignButton {
  margin: 0 auto;
}

#rex-ceb-01 .Below {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

#rex-ceb-01 .RedirectionText,
#rex-ceb-01 .InfoText {
  margin-top: 0;
}

#rex-ceb-01 .CampaignButton-enabled span.RexButton-message {
  color: white;
}

#rex-ceb-01 .CampaignButton-disabled span.RexButton-message,
#rex-ceb-01 .CampaignButton-applied span.RexButton-message {
  color: #898989;
}

#rex-ceb-01 .CampaignButton-success span.RexButton-message {
  color: #047205;
}

#rex-ceb-01 .agreement-message a,
#rex-ceb-01 .CampaignButton-in_process span.RexButton-message {
  color: #bf0000;
}

#stack-rakutenmusicrank {
  margin: 48px auto;
}

.chain-offer-ddt_cta_btn_disabled,
.chain-offer-ddt_conversion_btn_disabled {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  background: #ebebeb;
  border: 1px solid #686868;
  border-radius: 8px;
}

#page .campaign-hero__schedule__note a {
  color: white;
  text-decoration: underline;
}

#page h1.disp1 {
  background: black;
  margin: 0 auto;
}

#page p.lead+p {
  margin: 0 auto;
}

#page #about-rakuten-music {
  margin-bottom: 32px;
}

#page #about-rakuten-music+h2 {
  display: none;
}

#page ul.campaign-code-steps li.slick-slide figure+p {
  font-size: 16px;
  line-height: 24px;
}

#page .slick-dots {
  top: 0;
  margin-top: 12px;
}

#page #chain-offer-ddt .chain-offer-ddt_footer .chain-offer-ddt_cta_btn a {
  font-size: 16px;
  line-height: 24px;
}

#page #chain-offer-ddt+div p {
  text-align: center;
  margin: 16px auto 0;
}

#page section#chainoffer-campaign-steps {
  background: whitesmoke;
  padding: 0;
}

#page section#chainoffer-campaign-steps>.l-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  justify-content: center;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner li {
  padding: 32px 20px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: white;
  border: 4px solid black;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner h2 span.txt-color--green {
  color: #bf0000;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner h3 span.txt-color--green {
  color: #bf0000;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner .btn-apply .l-inner>* {
  width: 100%;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner .btn-apply .l-inner .trial-btn+p {
  margin: 12px auto 0;
  line-height: 1.5;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner .lite-cnp--cnpcode {
  border: 3px dashed #bf0000;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner .lite-cnp--cnpcode .code {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  color: #bf0000;
}

#page section#chainoffer-campaign-steps>.l-inner ol.chainoffer-campaign-steps--inner .lite-cnp--cnpcode .btn-copy-code {
  padding: 4px 12px;
  background: #bf0000;
  border-radius: 36px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

#page section#chainoffer-campaign-steps>.l-inner>p {
  text-align: center;
}

#page #lite-otoku h1.disp1 {
  margin: 24px auto;
}

#page .s-campaign-list {
  margin-top: 0;
  padding: 24px 0 0;
}

#page .s-campaign-detail table p {
  font-size: 14px;
  line-height: 20px;
}

#page .s-campaign-detail table td {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#page .warning {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 648px;
  margin: auto;
  padding: 8px;
  gap: 10px;
  background: #FEF0DD;
  border: 1px solid #A35E04;
  border-radius: 4px;
}

#page .warning .white-box--small {
  width: 632px;
  align-self: stretch;
  color: var(--warning-text, #A35E04);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (min-width: 767px) {
  #rex-ceb-01 .App {
    width: 600px;
  }

  #rex-ceb-01 .agreement-message {
    text-align: justify;
  }

  #page .s-campaign-hero {
    background: url(/assets/campaign/group/bank/img/bg.png) no-repeat center top/auto 82% #590000;
  }

  #page .s-campaign-hero::after {
    content: none;
  }

  #page .l-content .btn-apply {
    width: 400px;
  }

  #page #chain-offer-ddt .chain-offer-ddt_footer .chain-offer-ddt_cta_btn a {
    font-size: 20px;
    line-height: 1.25;
  }

  #page section#chainoffer-campaign-steps>.l-inner {
    align-items: center;
    gap: 36px;
    padding: 48px 0 12px;
  }

  #page section#chainoffer-campaign-steps>.l-inner .chainoffer-campaign-steps--inner {
    padding: 0;
    width: 800px;
  }

  #page section#chainoffer-campaign-steps>.l-inner .chainoffer-campaign-steps--inner .lite-cnp--cnpcode .btn-copy-code {
    transition: all 0.2s ease-in;
  }

  #page section#chainoffer-campaign-steps>.l-inner .chainoffer-campaign-steps--inner .lite-cnp--cnpcode .btn-copy-code:hover {
    background: #76DB46;
    cursor: pointer;
  }

  #page section#chainoffer-campaign-steps>.l-inner .chainoffer-campaign-steps--inner h2 {
    font-size: 36px;
    line-height: 47px;
  }

  #page section#chainoffer-campaign-steps>.l-inner .chainoffer-campaign-steps--inner h3 {
    font-size: 28px;
    line-height: 36px;
  }

  #page section#chainoffer-campaign-steps>.l-inner>p a:hover {
    text-decoration: underline;
  }

  #page #lite-feature h1.disp1 {
    margin-bottom: 36px;
  }

  #page #lite-otoku h1.disp1 {
    margin: 36px auto;
  }

  #page .s-campaign-list {
    padding: 48px 0 0;
  }

  #page .l-campaign-03 h1.disp1 {
    margin-top: 48px;
  }

  #page .s-campaign-detail table p {
    font-size: 16px;
    line-height: 24px;
  }

  #page .s-campaign-detail table td {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  #page .btn-apply {
    width: auto;
  }

  #page .campaign-hero__schedule {
    padding: 8px;
  }

  #page .campaign-hero__schedule p:first-child {
    font-size: 16px;
  }

  #page .campaign-hero__schedule p.campaign-hero__schedule__note {
    font-size: 10px;
    margin: 0;
  }
}

/*2/13告知追加*/
@media screen and (max-width: 768px) {
  #page .warning {
    display: flex;
    width: 343px;
    margin: auto;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FEF0DD;
    border: 1px solid #A35E04;
    border-radius: 4px;
  }

  #page .warning .white-box--small {
    width: 327px;
    color: var(--warning-text, #A35E04);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

/*# sourceMappingURL=style.css.map */