#page .s-campaign-hero {
    padding: 0;
    background: url(https://music.r10s.jp/external/prod/assets/campaign/2021/group/energy/img/bg.jpg) no-repeat center top/auto 79.5% #44AAD7;
}

#page .campaign-hero__schedule__note a {
    color: white;
    text-decoration: underline;
}

#page .campaign-hero__schedule__note a:hover {
    text-decoration: none;
}

#page .center {
    text-align: center;
}

#page br.sp {
    display: none;
}

#page #campaign-about {
    background: #F7F7F7;
}

#page #campaign-about .l-inner {
    text-align: center;
}

#page #campaign-about .l-inner dl {
    margin-bottom: 9rem;
}

#page #campaign-about .l-inner dl>div {
    display: flex;
}

#page #campaign-about .l-inner dl>dd>h3,
#page #campaign-about .l-inner .step2>h3 {
    font-size: 3.2rem;
    color: #44AAD7;
    margin: 0 auto 1.6rem;
}

#page #campaign-about .l-inner dl>dd>p {
    font-size: 2rem;
    margin: 1.6rem auto;
}

#page #campaign-about .l-inner dl>dd>p.lead,
#page #campaign-about .l-inner .step2>p.lead {
    font-weight: bold;
    font-size: 2rem;
    margin: 1.6rem auto;
}

#page #campaign-about .l-inner .step2>p {
    margin: 1.2rem auto;
}

#page #campaign-about .l-inner dl>dd>p>small {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6;
}

#page #campaign-about .l-inner dl>dd>div.code {
    display: inline-flex;
    margin: 2.4rem auto;
    border: 2px solid #44AAD7;
}

#page #campaign-about .l-inner dl>dd>div.code>div {
    margin: 0 auto;
    padding: 8px 24px;
}

#page #campaign-about .l-inner dl>dd>div.code>div:first-of-type {
    background: #44AAD7;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}

#page #campaign-about .l-inner dl>dd>div.code>div:nth-of-type(2) {
    width: 260px;
}

#page #campaign-about .l-inner dl>dd>div {
    margin: 1.2rem auto;
}

#page #campaign-about .l-inner dl>dd>div>img {
    width: 220px;
    margin-right: 2.4rem;
}

#page #campaign-about .l-inner dl>dd>div>img:nth-of-type(3) {
    margin-right: 0;
}

#page #campaign-about .l-inner dl>dd>div.gasu-area {
    display: inline-flex;
}

#page #campaign-about .l-inner dl>dd>div.gasu-area>p {
    margin-right: 2.4rem;
    color: #44AAD7;
    font-size: 2rem;
    font-weight: bold;
}

#page #campaign-about .l-inner dl>dd>div.gasu-area>p::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 27px;
    background: url("https://music.r10s.jp/external/prod/assets/campaign/2021/group/energy/img/check-box.png")no-repeat;
    background-size: contain;
    margin-right: 0.6rem;
}

#page #campaign-about .l-inner dl>dd>div.energy-btn {
    width: 400px;
    height: 100px;
    margin: 2rem auto;
    background: #44AAD7;
    border-radius: 10px;
    transition: all 0.2s;
}

#page #campaign-about .l-inner dl>dd>div.energy-btn>a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 2rem;
}

#page #campaign-about .l-inner dl>dd>div.energy-btn:hover {
    background: #48c7ff;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}

#page #campaign-about .l-inner dl>div dt {
    background: #A0DBF4;
    padding: 0.4em 0 2.2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    position: relative;
    top: 10px;
}

#page #campaign-about .l-inner dl>div dt:hover {
    cursor: pointer;
    opacity: 0.8;
}

#page #campaign-about .l-inner dl>div dt.on {
    padding: 0.8em 0 0;
    background: #44AAD7;
    color: white;
    top: 0;
}

#page #campaign-about .l-inner dl>div dt.on:hover {
    cursor: initial;
    opacity: 1;
}

#page #campaign-about .l-inner dl>dd {
    border: 4px solid #44AAD7;
    background: white;
    margin: 0;
    position: relative;
    top: -4px;
    display: none;
    padding: 3.2rem;
    border-bottom-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-left-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
}

#page #campaign-about .l-inner .step2 {
    border: 4px solid #44AAD7;
    background: white;
    margin: 0 0 12rem 0;
    padding: 3.2rem;
    border-radius: 12px;
}

#page #campaign-about .l-inner dl>dd>.btn-apply {
    margin: 1.6rem auto;
}

#page #campaign-about .l-inner dl>dd>.btn-apply .l-inner {
    width: 100%;
}

#page #campaign-about .l-inner dl>dd.on {
    display: block;
}

#page #campaign-about .l-inner dl>dd .trial-btn,
#page #campaign-about .l-inner dl>dd .campaign-code-btn {
    width: 400px;
    height: 100px;
    margin: 2rem auto;
    background: #bf0000;
    border-radius: 10px;
    transition: all 0.2s;
}

#page #campaign-about .l-inner dl>dd .trial-btn a,
#page #campaign-about .l-inner dl>dd .campaign-code-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 2rem;
}

#page #campaign-about .l-inner dl>dd .trial-btn a:after,
#page #campaign-about .l-inner dl>dd .campaign-code-btn a:after {
    content: url(https://music.r10s.jp/external/prod/assets/campaign/common/img/arrow.svg);
    display: inline-block;
    width: 0.8rem;
    margin-left: 0.5em;
}

#page #campaign-about .l-inner dl>dd .trial-btn:hover {
    background: #ff1212;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

#page #campaign-about .l-inner dl>dd .campaign-code-btn {
    height: 60px;
    background: black;
}

#page #campaign-about .l-inner dl>dd .campaign-code-btn:hover {
    background: #ff1212;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

#page #campaign-about .l-inner dl>dd .campaign-code-btn a {
    line-height: 60px;
    font-size: 1.6rem;
}

#page #campaign-about .l-inner dl>dd .campaign-code-btn:hover {
    background: #333;
}

#page #campaign-about .l-inner dl>dd .point-incentive {
    text-align: center;
    margin: 24px auto 0;
}

#page #campaign-about .l-inner dl>dd p.laed {
    font-size: 2rem;
}

#page #campaign-about .l-inner dl::after,
#page #campaign-about .l-inner .step2::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5rem 4.5rem 0 4.5rem;
    border-color: #44AAD7 transparent transparent transparent;
    position: relative;
}

#page #campaign-about .l-inner dl::after {
    bottom: -8rem;
}

#page #campaign-about .l-inner .step2::after {
    bottom: -14rem;
}

#page #campaign-about .l-inner .campaign-about-200p {
    margin: 2rem auto;
}

#page #merit .l-inner {
    width: 100%;
}

#page #merit .l-inner>ol>li>.screenshot {
    background: #44AAD7;
}

#page .btn-apply {
    text-align: center;
}

@media screen and (max-width: 768px) {
    #page .btn-apply {
        text-align: left;
    }
    #page .l-content {
        overflow: hidden;
    }
    #page #campaign-about .l-inner p.sp-ttl {
        font-size: 2rem;
        font-weight: bold;
        color: #44AAD7;
    }
    #page #campaign-about .l-inner dl>dd>div.code {
        display: block;
    }
    #page #campaign-about .l-inner dl>dd>p>small {
        text-align: left;
    }
    #page #campaign-about .l-inner dl>dd>div>img {
        justify-content: center;
        margin: 1.6rem;
    }
    #page #campaign-about .l-inner dl>dd>div>img:nth-of-type(3) {
        margin-right: 1.6rem;
    }
    #page #campaign-about .l-inner dl>dd>div.gasu-area {
        display: block;
    }
    #page #campaign-about .l-inner #page #campaign-about .l-inner dl>div dt {
        font-size: 3.5vw;
        padding: 0.4em 0 2rem;
    }
    #page #campaign-about .l-inner dl>dd {
        top: -6px;
    }
    #page #campaign-about .l-inner dl>dd p.laed {
        font-size: 1.6rem;
    }
    #page #campaign-about .l-inner dl>dd p.small {
        font-size: 1.2rem;
        text-align: justify;
    }
    #page #campaign-about .l-inner dl>dd.on {
        padding: 3rem 2rem;
    }
    #page #campaign-about .l-inner dl>dd .trial-btn,
    #page #campaign-about .l-inner dl>dd .campaign-code-btn {
        width: 100%;
        height: 80px;
    }
    #page #campaign-about .l-inner dl>dd .trial-btn a,
    #page #campaign-about .l-inner dl>dd .campaign-code-btn a {
        font-size: 4vw;
        line-height: 80px;
    }
    #page #campaign-about .l-inner dl>dd .trial-btn a:after {
        content: initial;
    }
    #page #campaign-about .l-inner dl>dd>figure.denki_logo,
    #page #campaign-about .l-inner dl>dd>figure.gasu_logo {
        width: 90%;
        margin: 0 auto;
    }
    #page #campaign-about .l-inner dl>dd>div.energy-btn {
        width: 100%;
        height: auto;
    }
    #page #campaign-about .l-inner dl>dd>div.energy-btn>a {
        line-height: 80px;
        font-size: 1.8rem;
    }
}